[2020-03-25 23:15] #971 closed

[2020-03-25 23:18] jameshadfield commented on #971
@willingc your general thoughts on where to go with nextstrain docs (https://github.com/nextstrain/nextstrain.org/issues/127) would be great! I think we need to make a general plan here before soliciting detailed documentation contributions.

[2020-03-26 01:24] #984 closed

[2020-03-26 01:36] jameshadfield commented on #983
Current master is almost complete, however the following strings are still missing. @miparedes when you have a moment could you add them (either as PR or just paste them into this issue, whichever's easiest). Note that 'rectangular' and 'radial' may be the same in Spanish?!?

[code]

[2020-03-26 02:12] miparedes commented on #983
Yup! '"rectangular" and "radial" is spelled the same in spanish as it is in English. A quick note, I think I translated "unrooted" as "sin base". I've been reading at little more phylogenetics in spanish and think that the translation "sin raíz" would be better. I can edit the file and push it but figured that posting here would be faster.

“Resaltando”
“Haz clic en la punta del árbol para más inf

[2020-03-26 03:03] jameshadfield commented on #983
Added in 71492750e228420aab8ad7cc36b22e3d2b4e4ffb -- will release a new version of auspice / nextstrain.org today (hopefully)

[2020-03-26 03:03] #983 closed

[2020-03-26 03:09] jameshadfield commented on #961
Closing this as it can't be reproduced, but please re-open if this happens again (and please specify the dataset & auspice version used)

[2020-03-26 03:09] #961 closed

[2020-03-26 03:21] jameshadfield opened #999 "Incorrect dates in the header info display when no tip nodes are in the date selection"
Some date selections (via the sidebar date slider) result in the header-info-line showing incorrect dates:

![image](https://user-images.githubusercontent.com/8350992/77606767-596afb80-6f7d-11ea-929c-b767042647f1.png)

Note that the URL dates & dates in the sidebar under the slider are correct. The incorrect dates in the info-line are the starting values for the `reduce` call inside `getVisibleDat

[2020-03-26 03:52] #993 closed

[2020-03-26 03:54] jameshadfield commented on #981
@yuryu thanks for identifying this - current auspice master should now work 🤞 - please let us know if there are any other word-order issues!

[2020-03-26 05:39] tolot27 commented on #260
@jameshadfield

That is exactly what the plugin provides. Did you see the screenshot or try the [sample](https://elmarquis.github.io/Leaflet.GestureHandling/examples/)?

[2020-03-26 10:47] emmahodcroft commented on #260
Thanks for the link to the example! This looks and works great from my trials. Would be very happy for you to make a PR we can trial on Nextstrain. Thanks for looking into this!

[2020-03-26 17:31] tihuan commented on #917
Hi all! Quick update on writing an issue for a test 😄

I'm working on `Change colorBy to X, then to Y` now

Given that it's asserting SVG changes, I wanna try using https://github.com/americanexpress/jest-image-snapshot to diff images. Another option is https://percy.io/, but not sure if they have OSS free plan thus testing with `jest-image-snapshot` first

The expected outcome of the issue is to

[2020-03-26 21:30] #986 closed

[2020-03-26 22:35] jameshadfield commented on #917
Hi @tihuan -- thanks for commenting, it's exciting that this is progressing!

This, to me, is the big question. The datasets which auspice sources (via `npm run get-data`) change over time, as new genomes become available, so we'd have to provide a set of stable datasets in order to generate the same SVG over time. But this isn't hard. @tihuan I'd recommend  using a ncov dataset with the date in t

[2020-03-26 23:08] #260 closed

[2020-03-27 01:46] #997 closed

[2020-03-27 02:09] heliosfa opened #1005 "[BUG] Nextstrain fails to render correctly in the latest version of Firefox on Windows"
**Current Behavior**
When loading the Novel Coronavirus build at https://nextstrain.org/ncov in the latest version of Firefox (and Waterfox Classic) on Windows, many of the branches of the phylogeny tree are not rendered as per this screenshot:
![image](https://user-images.githubusercontent.com/6616536/77712306-53037080-6fcb-11ea-9965-a77716ff4401.png)

This issue has only started to occur in the

[2020-03-27 02:18] jameshadfield commented on #1005
This bug was introduced via the SVG gradients applied in PR #947. Can confirm it works on Firefox 74 on MacOS, which implies it is OS specific.

[2020-03-27 02:20] heliosfa commented on #1005
@jameshadfield thanks for moving this to the correct repo and I'm glad it was easy to identify the cause - hopefully it's not too nasty to fix!

[2020-03-27 02:22] jameshadfield commented on #1005
I use MacOS (and we don't have any OS-specific testing) so thanks for raising this issue as we wouldn't have otherwise known about it! Hopefully someone who uses Windows can help with a fix (@ivan-aksamentov perhaps?)

[2020-03-27 05:11] jameshadfield commented on #998
Closed by #1006

[2020-03-27 05:11] #998 closed

[2020-03-27 06:26] ivan-aksamentov commented on #1005
@jameshadfield Sorry James, cannot help at this time. We are swamped with a project of ours.

But it's not a rocket science: I just run a Windows 7 guest in Virtualbox on my Ubuntu. Then run a browser in question and navigate to `http://10.2.2.0:4000` (or `5000`). This is the default address which maps to the host machine's localhost (on Ubuntu in my case), where auspice or nextstrain prod server

[2020-03-27 08:18] hmkim opened #1007 "[BUG] TypeError: Cannot read property 'forEach' of undefined"
**Current Behavior**
No view

**Expected behavior**
Can view

**How to reproduce**
Steps to reproduce the current behavior:
1. git clone https://github.com/nextstrain/ncov.git
2.  mv example_data/sequences.fasta
3.  nextstrain build .
4.  cd ../
5. nextstrain view ncov/auspice/ --allow-remote-access

**Possible solution**
(optional)

**Your environment: if browsing Nextstrain online**
 - Operating

[2020-03-27 08:43] hmkim commented on #1007
After the update for nextstrain, I can view the nextstrain site normally.

[2020-03-27 08:43] #1007 closed

[2020-03-27 09:19] emmahodcroft commented on #1005
Can confirm this is also true for me, on Windows 10, running an older Firefoxx 72.0.2 (64-bit)

[2020-03-27 09:21] emmahodcroft commented on #1005
For me, *some* of the gradients render:
![image](https://user-images.githubusercontent.com/14290674/77741166-b9f94780-7014-11ea-9658-d762dd95f4d2.png)

[2020-03-27 09:36] joachimschmidt557 commented on #872
I also agree that the "end of narrative" page should be counted as an actual page. This would fix the issue that scrolling up from the "end of narrative" page goes to the second-last page, not the last page. I will work on a PR for this.

[2020-03-27 10:52] evogytis opened #1008 "Split and group subtrees by state."
**Context**

Phylogenetic trees are inherently difficult to interpret. Whilst colouring the tree by inferred ancestral state (geographic location, host, resistance, _etc_) depicts the full history of state changes for every lineage across the tree it is nonetheless not easy to interpret, especially for non-experts. By showing migrations on a map the interpretation issue is ameliorated but only add

[2020-03-27 16:32] tihuan commented on #917
Morning @jameshadfield ! Oh thank YOU and your team for running the show and give us such a great tool to use. Especially right now!

I'm just pitching in where I can and trying to be helpful :-)

Yes! The image diffing library uses the same flag as updating regular jest snapshots `-u`: [doc](https://jestjs.io/docs/en/snapshot-testing#updating-snapshots), so it's easy to update the files when need

[2020-03-27 18:19] trvrb opened #1009 "The "entropy" panel has lost its title"
**Current Behavior**
Current behavior is a blank title to the entropy panel, like so:

<img width="1259" alt="entropy" src="https://user-images.githubusercontent.com/1176109/77787134-43f8de80-701c-11ea-80dd-fccce2347b6f.png">

**Expected behavior**
This should have the title "Diversity", specified here: https://github.com/nextstrain/auspice/blob/master/src/components/entropy/index.js#L271

**Possi

[2020-03-27 20:27] wsuchy commented on #999
I would like to work on that issue, please assign it to me.

[2020-03-27 21:03] CameronDevine commented on #951
I tried to start working on this today, but I couldn't find where the YAML frontmatter is converted into HTML. Does anyone know where this happens?

[2020-03-27 21:38] hydrosquall commented on #957
Some resources around how live-editing collaboration is implemented from another community project considering adding this capability:

https://github.com/processing/p5.js-web-editor/issues/1337#issuecomment-604934466

[2020-03-27 21:42] melissawm commented on #989
Hi all, I came here via the covid-oss-helpdesk discourse. I can do portuguese translations for Auspice. Just out of curiosity, is this a demand you have from users?

[2020-03-27 22:07] ccarson-publicsalesforce commented on #762
I have a proposal to sidestep the issue entirely - support the use of VSCode development containers. This wraps the global install for auspice to just the docker container, rather than the bare metal machine.

[2020-03-27 23:05] tsibley commented on #951
@CameronDevine https://github.com/nextstrain/auspice/blob/master/cli/server/parseNarrative.js

[2020-03-27 23:06] lmoncla commented on #1005
This happened to me here,
<img width="1151" alt="Screen Shot 2020-03-27 at 4 06 19 PM" src="https://user-images.githubusercontent.com/8919808/77807390-ecbb3400-7044-11ea-86a7-7e7c8ba135c6.png">
 using Mac OSX 10.12.6, using Brave browser 1.4.96.

[2020-03-27 23:52] jameshadfield commented on #1008
Thanks Gytis ⭐️ An auspice implementation would be desirable as it would allow us to group subtrees interactively based on any non-continuous trait which is set on internal branches (i.e. `augur traits` has been run in the preparation of the dataset). Implementation wise, this seems simplest via (a) restricting it to rectangular layouts, (b) marking state-change branches as `hidden`, (c) writing a

[2020-03-28 00:00] jameshadfield commented on #989
Hi @melissawm -- that would be great! Portuguese is currently the ~9th most used language on nextstrain (tens of thousands of sessions) so the demand is there

[2020-03-28 01:07] #1009 closed

[2020-03-28 02:42] anouarh commented on #988
I'll work on this one.

[2020-03-28 09:35] terrycojones opened #1014 "[BUG] Replace hard-coded /dist/auspice.bundle.js in index.html on auspice build --extend"
If you give a JSON config to `auspice build --extend config.json` and it contains a `serverAddress` I expected that server address would replace the hard-coded request to `/dist/auspice.bundle.js` in the resulting `index.html`.

[2020-03-28 11:22] terrycojones opened #1015 "[Docs]Error following the install from source docs"
Following https://nextstrain.github.io/auspice/introduction/install#installing-from-source after the `git clone` & `cd auspice` steps, I get:

[code]

I do (for sure) have write access to `/1GB/ncov/auspice/node_modules`. I tried `mkdir -p node_modules/fsevents` and re-running the install command above, and got a little further. Many dirs then get created under `node_modules`, but the install fail

[2020-03-28 17:15] gj262 commented on #1005
@jameshadfield ping me if you need help testing a fix i.e. I have a saucelabs.com account and can preview any changes you make. (I'd offer to help fix but my SVG knowledge is rusty.)

[2020-03-28 17:53] cpsandbox commented on #1005
Yes. This works on Linux/chrome/Firefox as well. @imoncla @heliosfa  Is this on the first render or after changing the color by?

[2020-03-28 18:18] heliosfa commented on #1005
@cpsandbox this is on first render and after changing the color by.

I can get the full tree if I change the "color by" to something like "Exposure History" that is more monochrome
![image](https://user-images.githubusercontent.com/6616536/77830231-0f218000-711f-11ea-9e99-04c88302b00a.png)

Playing about with the colour by options, some of the options with gradients render some of the branches som

[2020-03-28 18:47] avin-kavish opened #1019 "Unnecessary require statement"
What is the need for a require statement here? Can't we use good old ESModule imports?

https://github.com/nextstrain/auspice/blob/536f33ea42e3ccf1edd31545c9a68a21c6ab9b4a/src/index.js#L38

[2020-03-28 18:48] avin-kavish commented on #955
I'm working on this.

[2020-03-28 20:15] avin-kavish opened #1021 "Date range Slider lags by 100ms due to incorrect debounce"
When the Date range slider gets debounced the UI is not updated with the new position of the slider making at appear as if the UI is laggy. What should really happen is that the slider position gets updated in real time. Only the dispatch events to update the charts should be debounced. Also, it would be much more performant to handle debounce timing outside of react state. By using lodash debounc

[2020-03-28 20:22] lmoncla commented on #1005
@cpsandbox  on initial render

[2020-03-29 08:14] avin-kavish opened #1024 "[BUG] Search Strain Autocomplete is not sized properly"
**Current Behavior**
The search strain autocomplete is not sized propertly

![image](https://user-images.githubusercontent.com/48435155/77844302-42b5e600-71c3-11ea-99d8-c91c9d796e9d.png)

**Your environment: if running Nextstrain locally**
 - Operating system:  Linux Mint 19.2
 - Browser:  Chrome latest
 - Version (e.g. `auspice 2.7.0`):

[2020-03-29 15:21] clouraa commented on #1024
The search input container is set at 80%, putting at 100% fixes the bug.
![image](https://user-images.githubusercontent.com/62800056/77852972-ce297a00-71b7-11ea-9056-90d8925ce6e0.png)

[2020-03-29 15:47] clouraa commented on #1015
Maybe Conda doesn't have linux's writing permission/access.  Try running Conda with superuser's permission.

Try: sudo conda activate auspice before these steps

[2020-03-29 15:57] clouraa commented on #989
Hello, I did the internationalization to Portuguese based on the Spanish and English translations

[2020-03-29 16:15] melissawm commented on #989
Oh ok. Seems I wasn't quick enough.

[2020-03-29 17:45] clouraa commented on #989
Maybe you can review the translated files in my fork if you want :).

[2020-03-29 18:00] terrycojones commented on #1015
Hi @clouraa   conda is a shell function that is typically set up by one's `~/.bashrc` (or the start-up file for whatever shell you use). Because `sudo` forks a new process (or calls `exec`) to run your command as root, your suggestion wouldn't work at all I don't think (because there would be no such command as `conda`). It's possible one could set the `conda` function to be exported and tell sudo

[2020-03-30 01:13] jameshadfield commented on #1019
Probably 🤷‍♂ - I can't remember why I did this (or it may not have been me) -- please submit a PR if possible 😄

[2020-03-30 02:25] jameshadfield commented on #1014
The `serverAddress` defines the address / prefix which the auspice client uses for client-server API requests, not the address the bundle is sourced from, as per https://nextstrain.github.io/auspice/customise-client/api#available-customisations. This extension could do with some improvements in general, and proposals are welcome.

[2020-03-30 02:25] #1014 closed

[2020-03-30 02:30] jameshadfield commented on #917
💯 -- thanks!

[2020-03-30 03:51] jameshadfield commented on #1015
I know we've had issues with `fsevents` before on different platforms, and from memory it was solved by moving away from a system nodejs install to a to conda nodejs -- but I can't remember more specifics. Would be great to solve this, or explicitly warn against a certain install method.

As a (potentially unrelated) aside, from the second error message, `node_modules/auspice/node_modules` doesn't

[2020-03-30 04:24] jameshadfield commented on #988
Closed by #1020

[2020-03-30 04:24] #988 closed

[2020-03-30 05:04] #1024 closed

[2020-03-30 05:49] avin-kavish commented on #1019
Yeah, I brought it up because you mention in #702 that tree-shaking may not be taking place. I know that files imported through `require()` can't be tree shaken, so I tried an import statement. But it only made a tiny difference just for that file... The rest of it seems to be tree shaken.

[2020-03-30 12:47] terrycojones opened #1028 "[Docs] It's not clear (to me) from the docs how to deploy one's own auspice build"
Hi.  I'm trying to deploy auspice on a server of my own. I almost have it working. I can look at datasets and narratives, but I've not managed to get the top-level URL to work.

Should I be running `auspice build` locally (where I am putting the datasets and narrative together using augur), or should I transfer those directories to the server and run `auspice build` there? I assume the latter. Am

[2020-03-30 12:49] terrycojones commented on #1028
Although my workaround stops an error from happening, I no longer see a splash page that lists the available datasets and narratives, so I don't think I've fixed the problem at all - I've essentially just added another dataset.  Suggestions welcome......

[2020-03-30 16:41] terrycojones commented on #1028
In my original setup (i.e., without the fake 'auspice' dataset just mentioned), the sequence of events when I try to go to the top-level URL of my site is as follows

1. Client goes to http://myurl.com/auspice
1. nginx sends the request on to http://localhost:4000/  The response is a short index.html doc that contains `<script async src="/dist/auspice.bundle.js"></script>`
1. Next request is for /

[2020-03-30 17:07] terrycojones commented on #1028
The answer to the above is that if I change the base external URL of the site (e.g, to `http://myurl.com/auspice6`) that the `getDataset` call that comes in specifies a correspondingly changed `prefix=/auspice6/`. So auspice is somehow getting that information from nginx.  I tried running with `proxy_pass_request_headers off;` and `proxy_hide_header Referer;` but that doesn't fix it.

It seems mos

[2020-03-30 17:30] anouarh commented on #991
I'll take care of this one!

[2020-03-30 17:38] terrycojones commented on #1028
I think what I need is to use `--extend config.json` on the auspice build line, and to put a `serverAddress` in there, based on https://nextstrain.github.io/auspice/customise-client/api  However when I do that, I get webpack errors. E.g.,

[code]

[2020-03-30 21:19] willingc commented on #1015
I would avoid overwriting a particular directory within `node_modules`.

Node and npm can be particularly finicky to install correctly.

What is the output of `node --version` and `npm --version`?

If you delete the `node_modules` directory for the auspice project and then rerun the `npm install -g .` command and `auspice install`, does that work for you?

[2020-03-31 03:20] acx01b opened #1031 "[Feature request] Compiled copy of auspice bundle"
@jameshadfield Hi, would you have a copy of auspice.bundle.js and auspice.chunk.1,2,4.bundle.js that will work when copied on my website directory ? It is too platform dependent and time consuming to recompile everything and I guess many people don't need it. Simply copying the files I could make it work yesterday (just creating the same directories as on nextstrain.org then replacing "charon/getD

[2020-03-31 03:32] jameshadfield commented on #1031
I'm not sure what exactly you're trying to do, but if you really want the transpiled auspice code you can access it via https://nextstrain.org/dist/auspice.bundle.js etc. This is hard to debug due to the minification steps when shipping production bundles. I recommend installing auspice locally and generating this via `auspice build`.

If you want auspice to make a call to a single JSON rather tha

[2020-03-31 09:36] raftar2097 commented on #1019
cc @jameshadfield  please have a look

[2020-03-31 11:43] acx01b commented on #1031
Tks, I could make it work by deleting and recreating everything, just copying

/charon/getDataset?prefix=/ncov
/dist/auspice.bundle.js
/dist/auspice.chunk.1.bundle.js
/dist/auspice.chunk.2.bundle.js
/dist/auspice.chunk.4.bundle.js

from nextstrain.org to the root of my website. There was probably a mix of version and cache conflits.

I could not make work https://blab.github.io/ZEBOV/ with ncov tr

[2020-03-31 20:15] jameshadfield commented on #1031
Ok. Auspice isn't currently designed for running statically (without a dynamic server to respond to `/charon` API calls), but this will hopefully be possible one day (issues welcome). Also, I highly recommend installing auspice and generating bundles yourself via `auspice build`, rather than copying prebuilt bundles from nextstrain.org.

[2020-03-31 20:15] #1031 closed

[2020-03-31 20:24] ktheyss opened #1032 "[BUG] Positioning on diversity plot is stuck with NT positions"
**Current Behavior**
Diversity barplot, toggling between AA and NT does alter the number of bars and height (~number of positions), but axis labels remain those of NT. This is true for all pathogens

**Expected behavior**
Shifting to AA should show the AA positioning

**How to reproduce**
1. go to e.g. zika, and toggle AA and NT for the diversity plot
2. notice the labes stay fixed for NT position

[2020-03-31 20:25] ace-n commented on #968
Chiming in with my own analysis (less as an objective answer and more as a separate viewpoint) of the `Rectangular` layout:

### Branches vs. Tips
It seems like a significant amount of render time (~6x more) is spent on rendering the branches vs. the tips.

I agree with @benlesh's assertion that ideally, we'd make the position calculation logic more abstract - but if we want a quick "lift-and-shif

[2020-03-31 20:28] jameshadfield commented on #1032
This was by design, but I agree it would be nice to use codon labeling _if_ a suitable solution can be found. Note that this is not trivial once you take into account ORFs on different strands, overlapping reading frames etc. If anyone would like to work on this please first propose some mocks of how this would look in different scenarios.

[2020-03-31 20:37] terrycojones commented on #1028
I would close this issue (unless someone wants it open?) as I've made my own landing page with links to the datasets & narratives I want to show.

[2020-03-31 20:39] terrycojones opened #1033 "Is it possible to remove the Transmissions title & arcs from the map?"
Is there anything I can set to get rid of these?  Thanks!

[2020-03-31 20:50] jameshadfield commented on #1033
These are defined by the dataset, specifically what geographic resolutions have values inferred for the internal nodes in the tree. If you are generating your own build in `augur`, then you can control these by changing what traits you run `augur traits` for. For our current nCoV build, if you change the resolution to "division" or "location" then you won't get transmissions drawn as we haven't in

[2020-03-31 20:50] #1033 closed

[2020-03-31 20:57] jameshadfield commented on #1028
This is the assumption for the default server provided with auspice. If you are using auspice in your own server, the idea is to [write your own handlers for the different GET requests](https://nextstrain.github.io/auspice/server/introduction#customising-the-default-auspice-server), which could respond appropriately to different URL structures, dataset naming formats etc. The `serverAddress` exten

[2020-03-31 20:57] #1028 closed

[2020-03-31 21:05] terrycojones commented on #1028
Thanks @jameshadfield  One thing I discovered the hard way (well, not so hard, just digging into the code a bit) was that I needed to stick `env HOST=0.0.0.0` at the start of the command line so express would listen on all interfaces (this is what you do with your Heroku setup, in some params file which is maybe just specifying env vars). I looked at putting it into your docs, and it seems there's

[2020-03-31 21:08] terrycojones commented on #1033
Aha, thanks! I wondered why they started popping up (I had changed this in the config).

[2020-03-31 21:16] jameshadfield commented on #1028
No, it's just because finding the time to write comprehensive documentation is hard! Please add it if you can  😄

Yeah -- if you write a markdown tutorial of how you got it working on EC2 we'd love to add that as I'm sure other people would be interested.

P.S. Did you ever get the splash page working? It may that it's hardcoded for a pathname of `/`, which should be customisable. A lot of auspice

[2020-03-31 21:29] terrycojones commented on #1028
Yes, I agree (re hard) :-)

OK, I'll try to do that re EC2. It was pretty easy, thanks to your docs, apart from the HOST=0.0.0.0 thing (which of course only matters if you expose the auspice server to the outside world, not if you're sitting behind nginx and it's proxying to localhost).  So I could also mention deploying behind nginx (also very easy).

The splash page I worked around by just makin

[2020-04-01 08:43] sherzinger opened #1034 "Connecting Auspice to other tools"
Hi,

I've an unusual question. We're currently working on connecting Auspice to some other visualization tools for national COVID-19 related research. We managed to deploy it just fine and embedded it as an iframe together with the other tools.

It being on the same domain than the other tools allows us to access the iframes (auspices) content directly, which in return allows us to connect some ev

[2020-04-01 16:40] tsibley commented on #1034
Hi @sherzinger, fascinating idea!

Nearly all of Auspice's state is managed with Redux, which you won't be able to reach into easily at all. For example, this is the Redux reducer which manages the tree component's state: https://github.com/nextstrain/auspice/blob/master/src/reducers/tree.js.

Note also that Auspice only supports "selecting" a single strain at a time at the moment by clicking the

[2020-04-01 16:40] #1034 closed

[2020-04-01 22:41] cpsandbox opened #1035 "Color-by changes result in duplicate (expensive) function calls"
**Current Behavior**
When choosing a different color by method (clade, administrative area, etc.) change.js in components/tree is called twice.

**Expected behavior**
This should only get called once.

**How to reproduce**
As a developer add logging statement in change.js indicating the properties to be updated.
Use the UI to change the colorBy method.
The logging will indicate two passes through

[2020-04-01 23:26] sidneymbell opened #1036 "Add node `name` to the deeplink URL"
**Context**
As I'm writing the weekly situation reports, it would be a *huge* help to be able to deep link to a view of the tree that's zoomed into any arbitrary node, rather than having to define a specific clade label to highlight some portion of the data. I currently waste a lot of time figuring out how to hack around this :)

**Description**
Currently, we use deep linking to enable sharing of

[2020-04-01 23:35] sidneymbell commented on #1036
I'm guessing this is at least theoretically possible, given that zooming is available via
`https://nextstrain.org/ncov/2020-04-01?label=clade:A2a`, etc, although this might actually be acting as a filter / would maybe require a flag assigned to each tip. Not sure if this would be a perf issue.

[2020-04-01 23:55] jameshadfield commented on #1036
As I said on slack, I really want to avoid this, but I do have an alternative. Comments below adapted from slack messages:

I designed zoom not to be able to zoom into an internal node via the node name as it changes between builds -- NODE_0002547 will represent different clades. This is dangerous, as the URL hasn't changed & these get shared. (I realise the narrative datasets we are using for nCo

[2020-04-01 23:59] sidneymbell commented on #1036
That makes sense, thanks for clarifying @jameshadfield (missed this message, apologies).

Is there no way to make the node names (or another field) unique (e.g., generate them randomly or append a hash of the build date), such that if it's the wrong dataset, it just omits the zoom?

[2020-04-02 00:10] sidneymbell commented on #1036
Re: alternatives, thanks for thinking through this. However, while these are nice workarounds, I don't think they'd quite meet the need

- the `label=mrca(a,b,c)` will very quickly get too long for deep linking if used for large clades
- I can certainly label the JSON myself, but that would require either (A) changing the JSON for the official Nextstrain build, or (B) creating a separate archive o

[2020-04-02 00:19] jameshadfield commented on #1036
In a strictly bifurcating & rooted phylogeny, any clade will always be definable as the common ancestor of two nodes. Thus, I think `mrca(a,b)` should work for nextstrain trees and is generalisable.

[2020-04-02 00:50] sidneymbell commented on #1036
Ah, yes, you are right. Although again, I think this would be an incredibly
useful feature for others.

While I'm very comfortable thinking in terms of the MRCA, many other users
are not. Relying upon this kind of implementation, as opposed to just
generating the node `names` slightly differently, would make it very
indiscoverable and difficult to use.

On Wed, Apr 1, 2020 at 5:19 PM james hadfiel

[2020-04-02 01:18] jameshadfield commented on #1036
You are right that it would be widely used, which would result in URLs shared (e.g. twitter) which zoomed into completely different parts of the tree depending on which day you looked!

I understand that my solution would be harder to use than just clicking on a branch, but this is much preferable to the dangers of relying on internal node names. If you want to pursue the `?label=mrca(a,b)` soluti

[2020-04-02 01:23] jameshadfield commented on #1035
Good find Clint -- `change()` is an expensive function and getting rid of unnecessary calls here will be a good win for tree performance. I'm sure there are other functions (and react render calls) which are unnecessarily called & there are obvious performance wins here.

[2020-04-02 02:38] jameshadfield commented on #989
Closed by #1017

[2020-04-02 02:38] #989 closed

[2020-04-02 02:49] jameshadfield commented on #999
Closed by #1011

[2020-04-02 02:49] #999 closed

[2020-04-02 03:19] avin-kavish opened #1037 "[RFC] Change bundle names to include content hashes"
**Context**
Currently, the bundle & chunk names used across builds are the same. This can cause caching issues on the client side where browsers may serve outdated versions of the bundle. It may also cause version mismatches across chunks. A common cache busting technique/practice is to include a unique hash calculated for each chunk during the build. A change in code will cause the hash to be dif

[2020-04-02 11:29] joachimschmidt557 opened #1038 "Buttons in map don't handle longer text well"
**Current Behavior**

Some translations have longer texts for the buttons in the map view.

![image](https://user-images.githubusercontent.com/28556218/78244221-76f01600-74e5-11ea-8a3c-e209ce58d1f4.png)

**Expected behavior**

Correct sizing of the buttons

**How to reproduce**
Steps to reproduce the current behavior:
1. Open https://nextstrain.org/ncov or some other dataset
2. Switch language to

[2020-04-02 11:32] sherzinger commented on #1034
They @tsibley, thank you very much for the kind response.

In our scenario it would be all information in a selected sub-tree. I was already able to listen to click events on the tree, which contains the node id as part of its attributes. However, that still requires me to parse the tree myself in order to get all of the information under the selection.

I was hoping I could avoid this, as you see

[2020-04-02 20:41] jameshadfield commented on #1034
This information is held in `reduxState.tree.visibility`. For a given node, you can query its visibility via `visibility[node.arrayIdx]`.

[2020-04-02 22:57] jameshadfield commented on #1038
Moving from a hardcoded button width to a size-adapts-to-text solution is preferable. Thanks Joachim!

[2020-04-02 23:24] jameshadfield opened #1039 "Add automated bundle size checks to PRs"
Following from #1018 it would be great to report bundle size changes in each PR. Perhaps something like [bundlesize](https://github.com/siddharthkp/bundlesize) but I haven't looked into it.

[2020-04-03 06:13] avin-kavish commented on #1039
Hmm... Seems like it needs access to the build output to calculate the size, I think you will have to follow the steps [here](https://github.com/siddharthkp/bundlesize#build-status-for-github) and let me know where the build output goes in Travis CI. I'll try to do a PR for this.

[2020-04-03 06:40] avin-kavish commented on #1039
Ran into a speed bump with this, bundlesize checks each file individually, which is not what we want I think.

![image](https://user-images.githubusercontent.com/48435155/78331611-0b20b280-75a4-11ea-912b-f508742f8ea6.png)

[2020-04-05 15:47] frogsquire commented on #915
@jameshadfield I'd like to take this.

The fix, I believe, is in labels.js, line 14:

`const inViewTerminalNodes = this.nodes
    .filter((d) => d.terminal)
    .filter((d) => d.inView);`

should be

`const inViewTerminalNodes = this.nodes
    .filter((d) => d.terminal)
    .filter((d) => d.inView)
    .filter((d) => d.visibility == NODE_VISIBLE);`

As I understand it, this will make the number of

[2020-04-07 04:01] neavemj opened #1044 "404 error with drop-down menu"
Hello and thanks for the great software! I'm just having an issue with 404 errors when changing the drop-down menu options as below:

**Current Behavior**
When running auspice either locally ("auspice view --datasetDir auspice") or from a locally-running server, selecting a different option in the top drop-down menus cause a 404 error. I think this is because the full URL to the dataset is not bei

[2020-04-07 04:19] jameshadfield commented on #698
Comment from #1044 (@neavemj) perhaps with a better explanation of this issue :)

Hello and thanks for the great software! I'm just having an issue with 404 errors when changing the drop-down menu options as below:

Current Behavior
When running auspice either locally ("auspice view --datasetDir auspice") or from a locally-running server, selecting a different option in the top drop-down menus cau

[2020-04-07 04:19] jameshadfield commented on #1044
Hey Matt - you're correct, and it would be great to have this fixed. This is bug #698. I'll shift your comment over to there :)

[2020-04-07 04:19] #1044 closed

[2020-04-07 04:25] neavemj commented on #1044
Ah sorry James! Thought I'd had a good look through the issues - obviously not hard enough!

[2020-04-07 17:59] HashTalmiz commented on #1037
Hey, can I take this issue up?

[2020-04-07 20:21] eharkins commented on #522
Working on this in https://github.com/eharkins/auspice/tree/522-url-conf-intervals , will PR when I've had a chance to testing with nextstrain.org build.

[2020-04-07 21:53] eharkins commented on #689
When testing customizations, namely with [nextstrain.org/auspice-client/customisations/config.json](https://github.com/nextstrain/), I am encountering [this react error](https://reactjs.org/warnings/invalid-hook-call-warning.html) which based on the conversation here and talking about it with @jameshadfield, would indicate [mismatched versions of react](https://reactjs.org/warnings/invalid-hook-ca

[2020-04-07 23:29] jameshadfield commented on #1037
Yes -- please do!

[2020-04-08 02:07] #915 closed

[2020-04-08 02:11] #1038 closed

[2020-04-08 02:16] #1019 closed

[2020-04-08 04:10] jameshadfield commented on #956
Yes - this was considered during the original design implementation and then more recently with the mobile implementation. Happy for it to be reconsidered in a future implementation.

Closed by #959

[2020-04-08 04:10] #956 closed

[2020-04-08 06:33] jameshadfield opened #1047 "Cannot change tree layout when animation is paused"
**Current / Expected Behavior**
During animation we block the ability to toggle between tree layouts. However when an animation is paused, you should be able to change the tree layout but you cannot.

**How to reproduce**
Steps to reproduce the current behavior:
1. Open e.g. https://nextstrain.org/zika, localhost:4000/zika
2. Start the animation.
3.  Pause the animation before it finished.
4. Try

[2020-04-08 06:52] jameshadfield opened #1048 "Add testing which simply loads datasets"
There are other PRs which are implementing more advanced E2E tests etc, however a complementary (and simpler) approach which would be _extremely_ valuable for Nextstrain is to load a number of URLs and check that they work*. Having this easily runnable on every PR would save a lot of time and help prevent bugs.

[*] By "work" I mean that the app loads without errors. I'm not actually sure how to p

[2020-04-08 06:53] HashTalmiz commented on #1037
I'm facing issue while trying to install Auspice locally. Just installed miniconda, which worked fine for the conda environment, but when i enter `npm install --global auspice`, this shows up:
![err](https://user-images.githubusercontent.com/55018280/78753585-a5616b80-7993-11ea-8e7a-44a03c3ad68f.jpg)

[2020-04-08 06:56] jameshadfield commented on #1037
Hmm. Have not seen this particular error. To develop auspice I suggest installing from source via https://nextstrain.github.io/auspice/introduction/install#installing-from-source (apologies if you're doing this, `npm install --global auspice` looks to me like installing from npm)

[2020-04-08 07:04] #918 closed

[2020-04-08 07:17] #981 closed

[2020-04-08 07:42] jameshadfield commented on #1015
@terrycojones how did you end up getting auspice to install?

[2020-04-08 08:05] terrycojones commented on #1015
I didn't end up solving this, I just went with a regular `npm install --global auspice` install.

@jameshadfield you were right, I think. There are quite a lot of results for this error if you do a web search, but I didn't try any of them.

@willingc - thank you. I've not tried your suggestions as I just went ahead with the regular install. I'll see if I can have another go. I have npm `6.4.1` and

[2020-04-08 08:26] jameshadfield opened #1049 "Allow JSONs to define language for auspice"
Auspice 2.12 allows one to set the language via a URL query, e.g. `?lang=ja` is Japanese (see the dropdown at the bottom of the sidebar for all the available languages). This is detailed [here](https://nextstrain.github.io/auspice/advanced-functionality/view-settings#url-query-options) in the docs.

This should also be settable via the `display_defaults` in the JSON (see [docs](https://nextstrain.

[2020-04-08 11:18] HashTalmiz commented on #1037
Thanks that worked.
I've made all the webpack changes required making sure the dependencies don't

[2020-04-08 11:27] HashTalmiz commented on #1037
Thanks, that worked.
Many HTML files are dependent on a single `auspice.bundle.js` file, only problem is that they're all scattered in many directories. I've made a way around that, but it looks like the content-hashing isn't working ;-;
This is how the `output` object in `webpack.config.json` looks like
`
output       : {
			path          : outputPath,
			filename      : 'auspice.[contenthash].bu

[2020-04-08 15:23] cassiawag opened #1050 "Enable a narrative to source multiple builds"
**Context**
We publish weekly situation reports using narratives on the spread of COVID-19. These situation reports are broken into sections by world region. Latest report for example: https://nextstrain.org/narratives/ncov/sit-rep/2020-04-03

Currently, narratives can only source one dataset. When there was only one global `ncov` build, this wasn't a problem. Now that we have multiple subsampled

[2020-04-08 16:27] hydrosquall commented on #1039
This doesn't help with the split files problem, but I've used this free SaaS tool on public github repos before, perhaps it could be a quick win for us even if it doesn't create a gitlab check the way `bundlesize` does.

https://www.bundle-analyzer.com/

If total budget is our concern, perhaps this task could be tackled by writing the budget check as a custom rule via a Dangerfile, which sums the

[2020-04-08 20:45] jameshadfield commented on #1050
This would be wonderful.

Currently the architecture of auspice is designed around loading a single dataset ([code which fetches the JSONs here](https://github.com/nextstrain/auspice/blob/master/src/actions/loadData.js#L124-L188)). This dataset JSON essentially generates _most_ of the redux state needed to display that dataset, via [createStateFromQueryOrJSONs](https://github.com/nextstrain/auspic

[2020-04-08 21:58] eharkins opened #1051 ""Show confidence intervals" toggle appears for divergent tree"
**Current Behavior**
"Show confidence intervals" toggle in the sidebar appears when moving from a "radial" to a "rectangular" tree when the tree "Branch Length" control is set to "divergence."

**Expected behavior**
"Show confidence intervals" toggle in the sidebar should not appear for any combination of tree control settings that includes "Branch Length" control being set to "divergence" (unless

[2020-04-08 22:28] cornhundred opened #1052 "Make strain mutation data available via file download and/or API GET request"
**Context**
Thanks for the great resource. We would like to try and visualize this data using our interactive heatmap Clustergrmmer2 - e.g. a heatmap with strains as columns (with clade categories, and hierarchically clustered using phylogenetic tree) and mutations/metadata as rows linked to a world map. We have a similar example set up using Citibike data here https://github.com/cornhundred/citib

[2020-04-08 22:48] jameshadfield commented on #1052
Hey Nicolas. I understand your desire here. To obtain this information please register with [GISAID](https://platform.gisaid.org/epi3/) to obtain the original genomic data & please adhere to their conditions of data sharing when using GISAID data. You are most welcome to run our [ncov pipeline](github.com/nextstrain/ncov) to align & identify mutations in the data. Good luck!

[2020-04-08 22:48] #1052 closed

[2020-04-08 22:49] cornhundred commented on #1052
Ok, thanks for the help :D

[2020-04-09 00:45] tihuan commented on #917
Hi all! Sorry for lack of updates in the past week, been swamped with work 🌊🏊‍♂️

Currently I got screenshot diffing to work, but a few things I wanna add before submitting a PR:

1. Add `jest.retryTimes(4)`, so our test suite will automatically retry a failing test up to 4 times, in case of unexplainable flaky tests. Which will require adding `jest-circus` as test runner [doc](https://github.com/

[2020-04-09 01:56] kgatto commented on #880
test

[2020-04-09 03:26] jameshadfield commented on #1005
Closing this as we've reverted back to non-gradient branches. Thanks for all the detailed reports here!

[2020-04-09 03:26] #1005 closed

[2020-04-10 00:10] mingir2 commented on #1047
@jameshadfield Toggling other options re-enables the layout toggle.

4. Change branch length from TIME to DIVERGENCE and vice versa.
5. Now the user can change layout without resetting the animation.

So it seems like the layout buttons aren't disabled, at least not completely.

[2020-04-10 00:57] eharkins opened #1053 "Tree component prevents adding paths to confidence intervals' SVG groups"
**Current Behavior**
The following:
1.  changing from a dataset without confidence interval data to one **with** confidence interval data while "Branch Length" is set to "Divergence"
2. changing "Branch Length" to "Time"

"breaks" the react-d3 interface of the Tree component in that the redux state is accurate but the react component is prevented from adding the necessary SVG paths to the d3 tree

[2020-04-10 02:20] mingir2 commented on #1047
https://github.com/nextstrain/auspice/commit/86ef2f3d4f326707ecf514750a5d4757bc7883f3#diff-b9348df9e82661936e947d54ef9491a1R35

[code]

This line is preventing a user from changing layout if there is in the middle of an animation loop. With out this constraint, the layout can be changed in during the animation.

**Possible solution**
Allow user to change layout after the pause, but prevent the use

[2020-04-10 08:35] jameshadfield opened #1055 "Allow metadata export of selected tips"
**Context**
Currently we provide a way to export metadata of each strain (read: genome) in the dataset via the "download data" button in the footer. This always exports data for each and every genome in the dataset.

**Description**
There should be an additional entry which allows downloading of only those genomes which are selected. Here "selected" means included in a filter or a zoomed in part o

[2020-04-10 14:47] TAM360 commented on #888
Hey @jameshadfield  I would like to work on this issue. Can you explain the exact steps in order to reproduce this bug?

[2020-04-11 05:11] cassiawag commented on #985
@nextstrain/korean if anyone wants to do more translation work since ya'll were so speedy on the situation report. This would translate the view page here: https://nextstrain.org/ncov. There's a different process for these translations, so please follow the above guide.

[2020-04-11 14:56] emmahodcroft opened #1056 "Keep Recent Filter Options at Top of Page"
**Context**
Currently, to use filters one must scroll up and down past the tree, map, entropy, and description to find them listed, then scroll back up to the tree to see the effect. Especially if there's a long description and many filters, this can be very tiresome when trying to visualise the tree by putting on/off multiple filters. (See https://nextstrain.org/ncov)

Often only handful of filte

[2020-04-11 15:45] trvrb commented on #1056
Thanks for filing this Emma. I would suggest a slightly different UI. After clicking on a filter on the bottom of the page it would appear at the top as it currently does. However, you can now click on the words "New (30)" to have this filter be de-selected with the following UI:

<img width="935" alt="recent-v2" src="https://user-images.githubusercontent.com/1176109/79048231-784dcc80-7bd0-11ea-84

[2020-04-11 15:47] emmahodcroft commented on #1056
Ah, I misunderstood the original - yes, this sounds very good!

[2020-04-11 18:19] bcoe commented on #1048
@jameshadfield I would be happy to help with this, you're picturing a script that basically:

1. `npm i`.
2. `npm run get-data`
3. `npm run get-narratives`
4. smoke tests against a list of URLs?

Would you be open to doing this in a GitHub action? I think actions could be a great way to write these targeted little checks, rather than shoe horning it into the existing Travis config.

[2020-04-11 22:31] jameshadfield commented on #1056
Sounds good to me. To indicate to people that this functionality exists there should be (at the least) a on-hover info box indicating that if you click on the filter (not the "x") then it'll toggle off but remain in the header. May be other UI ways to accomplish this also.

[2020-04-12 02:36] frogsquire commented on #1055
Hi @jameshadfield,

I'd like to take this, if you'd be willing to give it to me. It seems like a good next step from the (small) work I did for #915.

I should have time to make substantial progress on this over the next week or so.

[2020-04-12 03:04] andressrudqvist commented on #836
Hi James,

I would like to work on this issue. I think that something like this would do the job.

[code]

Regards,

Andres

[2020-04-12 03:31] jameshadfield commented on #1055
Would be great! Here's a quick mock of what I'd like to change the display of the download data modal to:

![image](https://user-images.githubusercontent.com/8350992/79059815-6fddba80-7cd2-11ea-80bf-b57283e8512e.png)

(You don't have to do this as part of this PR, but please don't spend too much time tweaking the rendering of the icons etc as they are currently displayed.)

[2020-04-12 03:34] jameshadfield commented on #836
Yes, I think this would be good 👍

Let's change `<h1>Something went wrong</h1>` to `<p>There was an error parsing the footer description.</p>` or similar.

[2020-04-12 04:01] andressrudqvist commented on #836
Hi James,

I modified the message. I made a branch and  [the modified code is](https://github.com/andressrudqvist/auspice/commit/b874dd339e24c93b586c3f7d37544be55d4a17ac).

[2020-04-12 04:40] jameshadfield commented on #836
Great! Can you make a PR into this repo so I can test & merge?

[2020-04-12 07:09] andressrudqvist commented on #1035
Hi,
I would like to work on this issue.
I've followed the instructions to reproduce the bug, and now I'm looking for the double invocation of `change()` method.
Regards,
Andres

[2020-04-12 19:11] frogsquire commented on #1055
@jameshadfield One point to discuss - what should the filename for the downloaded .tsv be if only selected data is included?

An easy option would be e. g. `nextstrain_dataset_selected_metadata.tsv`. If we wanted to be a little fancier, we could try to include some of the filter criteria - but for very specific filters, that could result in quite long filenames (which potentially we'd then have to

[2020-04-12 22:28] jameshadfield commented on #1055
I think trying to enumerate the filtering in the filename isn't the way to go, and for certain tree zooming there's no "name" to even put in the filename. I'd just go with `nextstrain_dataset_selected_metadata.tsv`.

[2020-04-15 01:21] frogsquire commented on #1055
The basic functionality is working as of my last commit. I'm now working on updating the button text and adding those labels. @jameshadfield, did you happen to have CSS for your mocked version that you'd want to see used? If not, I will approximate it based on the image and what looks good at reasonable screen sizes.

A couple of final questions before I make a pull request:
- When I set up my dev

[2020-04-15 02:50] jameshadfield commented on #1055
Great! Thanks @frogsquire. I don't have any CSS for the mock, up to you if you're happy playing around with it or would like to leave it for another PR.

I don't think so, but as you say should be easy to loop over `nodes` (and quick, considering it's only done once).  Happy to leave this out of the PR, I got carried away making the mock.

We don't really have a process here. It will nicely fall b

[2020-04-15 03:34] jameshadfield commented on #566
With the introduction of `react-icons` in PR #1041 we can now easily include font-awesome icons (as well as others) using syntax such as:
[code]

We still import the Font Awesome CSS (42kb, 7kb gzipped) and use it in the following places (as far as I can tell) for a total of 6 icons:
* https://github.com/nextstrain/auspice/blob/master/src/components/framework/footer.js#L381
* https://github.com/ne

[2020-04-15 15:09] frogsquire commented on #1055
No problem. I think I can do it in this one, with the numbers as in the mock. Should have something up in the next day or so.

OK, just thought I would check.

I think it must be the `npm update` that did it? All the packages in my changed package.json are just new versions. You can see it here: https://github.com/frogsquire/auspice/commit/b972a23cf7539db7c117cb13857844434c31e22b

but I'd be happy

[2020-04-15 17:28] joachimschmidt557 commented on #566
If it's not already being done, I can take care of migrating to `react-icons`.

[2020-04-15 20:09] emmahodcroft opened #1066 "In Download of SVG, Map is Missing"
**Current Behavior**
When the SVG is downloaded from the Nextstrain website, the whole section which should have the map is missing (viewed in Inkscape on Windows 10):
![image](https://user-images.githubusercontent.com/14290674/79383296-3ffa1580-7f65-11ea-87e0-fcd500bdf496.png)

Further, on Windows 10 IE, the download does not work at all. Nothing happens.

**Expected behavior**
The SVG should inc

[2020-04-15 20:46] eharkins commented on #1066
Some more differences of my env beyond what you listed:
- I was viewing the downloaded SVGs using Chrome not Inkscape
- Can't tell here but looks like your browser width was set such that the map should appear below the tree, as opposed to on the right side? When it was "working" for me it was with the map next to the tree.

[2020-04-15 20:54] emmahodcroft commented on #1066
Ahh... you found a good difference though! I can also see the map in Chrome - and Richard can see it in Firefox.  This is an important and interesting bit of information!

Unfortunately though, having it work in vector programs is important - when I need the map/tree/etc from download (rather than screenshot) it's so I can edit it! But I'll update the issue with this detail  - thanks!

[2020-04-15 21:37] eharkins commented on #1066
Yep, indeed, when I try to view in Inkscape it doesn't show the map. Glad we narrowed it down to something specific!

[2020-04-15 21:42] jameshadfield commented on #1066
Linking this PR to read about the history of how we got here: https://github.com/nextstrain/auspice/pull/925

[2020-04-15 22:03] enjalot commented on #817
So @kenthuth and I have made some iterations on the prototype and I think it's time to start on a branch in auspice. We'd like to invite some feedback on what we have, and think that further considerations will be easier to make once we can see the legend in use (i.e. in a narrative, or in the main app with data filtered)

We are thinking that this stacked histogram:
<img width="964" alt="Screen S

[2020-04-15 22:05] jameshadfield commented on #817
Amazing. Will look at this today 😄

[2020-04-15 22:37] emmahodcroft commented on #1066
Thanks James!

[2020-04-16 00:36] jameshadfield commented on #566
Closed via #1065 & 0c5721e0afd05fa36d5b7aa364d0bd344cfe405e

[2020-04-16 00:36] #566 closed

[2020-04-16 02:00] frogsquire commented on #1055
@jameshadfield Pull request is up. Please let me know if you'd prefer the package changes be reverted/removed from the PR.

In the meantime, a few notes:
* While the code to determine whether the node is part of selected data to be downloaded takes into account `node.inView`, the code to display the number of selected nodes doesn't - because it's the same code that's used at the top of the page ab

[2020-04-16 04:20] tihuan commented on #917
Just submitted a PR for adding screenshot testing!

PTAL all 😄 🙏 !

[2020-04-16 06:32] jameshadfield commented on #936
Closed via #1001

[2020-04-16 06:32] #936 closed

[2020-04-16 06:46] #1047 closed

[2020-04-16 07:38] jameshadfield commented on #1037
Hey @HashTalmiz -- I believe that the main bundle (`./dist/auspice.bundle.js`) is only referenced by a single file, `index.html`. This bundle then lazily loads the other chunks as needed. If you submit a PR I'd be happy to take a look 😄

[2020-04-16 08:14] HashTalmiz commented on #1037
CI/CD tests failed in the above mentioned PR :/ , This is my first PR on github so kindly excuse the mistakes

[2020-04-16 08:37] jameshadfield commented on #1037
No problem -- I'll take a look over the coming days!

[2020-04-16 12:23] HashTalmiz commented on #1037
Thanks. Let me know what was wrong.

[2020-04-16 13:26] salvatore-fxpig opened #1072 "CloudFront cache possibly misconfigured"
**Current Behavior**
When requesting the getDataset? endpoint from a browser with cache, with the headers loaded `If-None-Match` and `If-Modified-Since` both loaded, the CloudFront server responds with a 200 (and possibly connects to origin to grab the data), the proceed to return the same ETag and `Last-Modified-Since` is equal to `If-Modified-Since` in the request.
This may induce additional loa

[2020-04-16 15:56] salvatore-fxpig commented on #1050
Opened a WIP here https://github.com/nextstrain/auspice/pull/1071 but needs help for comments, test cases, debugging

[2020-04-16 20:16] #1039 closed

[2020-04-17 00:23] eharkins opened #1073 "handUp arrow (div) is clickable from any height on page"
**Current Behavior**
The narratives up arrow is clickable from any height on the page, and covers other links up in certain areas.

**Expected behavior**
The up arrow should only be clickable when hovering over its icon.

**How to reproduce**
Steps to reproduce the current behavior:
1. Go to http://nextstrain.org/narratives/ncov/sit-rep/2020-04-10?n=1
2. Hover over the up arrow and trace your mous

[2020-04-17 06:12] andressrudqvist commented on #836
Hi James, the PR is already merged.  As part of this issue would you like me to implement Error Boundaries in other key components?

Andres

[2020-04-17 06:14] andressrudqvist commented on #836
For reference this is the PR URL:
https://github.com/nextstrain/auspice/pull/1058

[2020-04-18 18:45] SalehA74 commented on #991
@anouarh You are most welcome...Would you like to share the translation of this week report to Arabic? Ahmad

[2020-04-19 01:59] bcoe commented on #917
CC: @nellyk @anescobar1991 (_two of the maintainers of `jest-image-snapshot`_). As @tihuan works towards adding screenshot testing in #1068, do you have any advice for initial configuration options based on your experience?

[2020-04-19 16:58] anescobar1991 commented on #917
What I'd recommend is executing the tests in a docker container in order to ensure repeatability across operating systems. Otherwise you will likely have issues with snapshots looking one way on a developer's machine (let's say running macOS) but then on CI the snapshots look slightly different causing failures. Many times things like fonts render differently across operating systems causing these

[2020-04-19 17:40] cassiawag commented on #987
@nextstrain/dutch: This would translate the nextstrain.org/ncov page into Dutch. If you're interested, please follow the guide above.

[2020-04-19 17:42] cassiawag commented on #982
@nextstrain/mandarin, this would translate the options on the nextstrain.org/ncov page into Mandarin. It would make it easier for Mandarin speakers to explore the builds. If you're interested, please follow the guide above.

[2020-04-19 22:51] #872 closed

[2020-04-19 23:03] #1035 closed

[2020-04-19 23:13] #1073 closed

[2020-04-19 23:37] #1048 closed

[2020-04-19 23:55] #522 closed

[2020-04-19 23:55] #1051 closed

[2020-04-19 23:55] #1053 closed

[2020-04-20 00:59] frogsquire commented on #1055
@jameshadfield Not sure why, but my PR isn't showing up as linked to this - perhaps my fault for not calling it "#1055" instead of "1055" initially?

Either way, is this resolved with that PR (nonwithstanding my questions above)?

[2020-04-20 02:31] jameshadfield commented on #1055
Yes it is -- thanks for the fix 😄

The released version of auspice with PR #1067 (2.13.0) is now on dev.nextstrain.org and as long as there are no bugs will become part of nextstrain.org in ~24 hours

[2020-04-20 02:31] #1055 closed

[2020-04-20 19:07] frogsquire commented on #1008
If nobody else is working on this, and it's still a priority, I'd like to take a shot at the auspice implementation of this. I've been thinking about it for a few days and I think I understand what's required technically.

[2020-04-20 23:25] jameshadfield commented on #1008
@frogsquire That would be great! Might be worth posting periodic screenshots or questions here for @evogytis and I ensure it's along the lines we were envisaging. Thanks :)

[2020-04-21 08:39] CameronDevine commented on #1066
This appears to be a problem with the SVG [`foreignObject`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject) element in Inkscape. The text at the bottom which includes the dataset, date downloaded, and other information is also missing. I tested this with Inkscape 0.92.3, 0.92.5, and 1.0 RC1, and all three versions did not show the map or footer.

[2020-04-21 09:25] emmahodcroft commented on #1066
Thank you for looking into this!

[2020-04-23 03:15] jameshadfield commented on #1050
Leaving a summary of a comment in #1071 here for posterity also:

I've made a test narrative to demonstrate the functionality this issue is asking for: [markdown here](https://github.com/nextstrain/narratives/blob/master/test_multiple-datasets.md) and visible on nextstrain.org [here](https://nextstrain.org/narratives/test/multiple-datasets). This is a simple 3-slide narrative which should change f

[2020-04-23 11:09] rleir opened #1081 "invalid css (minor)"
**Current Behavior**
chrome 'inspect' shows invalid css.
In Elements tab, click on the <body class= .. > line
In styles, scroll to the bottom and find 'color: "#333"; '

**Expected behavior**
No invalid css

**Possible solution**
please assign to me, I have the fix

**Your environment: if running Nextstrain locally**
 - Operating system:   Ubuntu
 - Browser:  Chrome
 - Version (e.g. `auspice 2.7.0

[2020-04-23 11:20] rleir commented on #1081
global.css line 5
I am testing it ASAP

[2020-04-23 22:52] cassiawag commented on #916
Thanks for the awesome work on this @ntaft! In addition to a text box that can be toggled on your off, can you also add a url option that also toggles it on or off? @jameshadfield suggested `?tipLabels=on` and `?tipLabels=off`?

[2020-04-24 00:12] eharkins commented on #946
Closing this as I am unable to reproduce in the latest version of Auspice (2.13.0). @CameronDevine if you are able to reproduce this issue, could you please re-open and point to a narrative that reproduces the problem as you experience it?

If it seems fixed to you, go ahead and close #958 as well.

Thanks!

[2020-04-24 00:19] CameronDevine commented on #946
@eharkins, This is still an issue. To reproduce use the following steps,

1. Go to https://nextstrain.org/narratives/ncov/sit-rep/2020-03-13?n=3
1. Note the bounds of the map ![image](https://user-images.githubusercontent.com/10394896/80161794-5c5e0980-8586-11ea-81c2-7459741f226d.png)
1. Scroll to the next page
1. Scroll to the previous page
1. Note the bounds of the map have changed. ![image](htt

[2020-04-24 00:31] jameshadfield commented on #946
👍 thanks @CameronDevine, this does seem to be reproducible. (I'd think it's got something to do with `mapTriplicate` deep down). Spinning up a review app to test.

[2020-04-24 01:54] trvrb opened #1082 "Tip labels obscure each other and other tips"
**Context**
Currently, when filtering to subset of samples, when below 50, we display tip labels, like so:

https://nextstrain.org/ncov/africa?f_country=Democratic%20Republic%20of%20the%20Congo

<img width="863" alt="Screen Shot 2020-04-23 at 6 52 03 PM" src="https://user-images.githubusercontent.com/1176109/80166750-8bc74300-8593-11ea-962a-7384633c7975.png">

However, these will often obscure eac

[2020-04-24 08:37] jameshadfield opened #1086 "Better error messages when HOST env variable is set"
There have been a number of cryptic error messages from users running `auspice develop` or `auspice view` along the lines of

[code]

@barneypotter24 and I were able to track this down to occuring when the `HOST` env variable is set (see [develop src code](https://github.com/nextstrain/auspice/blob/master/cli/develop.js#L37)).

It can be fixed by running `HOST="localhost" auspice develop` or simil

[2020-04-24 09:34] rleir commented on #1081
James, to rebuild I would say "auspice build --verbose"? After which, to get the new build live I would say "auspice develop --datasetDir data"? Is there any other step in this? I don't see my source changes having any effect on the runtime. There are some build warnings, maybe I should track them down. Thanks -- Rick

[2020-04-24 09:57] #1082 closed

[2020-04-24 10:17] jameshadfield commented on #1081
Yup that's right (see https://nextstrain.github.io/auspice/introduction/install#installing-from-source for more). It may be that the CSS is coming from a dataset, not auspice itself? (Dataset JSONs can define hex values for tips in the tree, for instance). If you put up a PR i'd be happy to take a look

[2020-04-24 13:17] ntaft commented on #916
Sorry for the delay on this - and yes, we should be able to add a url-based toggle as well without too much trouble, sounds like a good idea. Will work on wrapping this up this weekend, thanks!

[2020-04-25 19:41] huddlej opened #1089 "git-lfs has to be installed to clone or merge from repo"
**Current Behavior**
When cloning the auspice repository (or trying to merge into an existing repo), I get the following error:

[code]

**Expected behavior**

[According to the DEV_DOCS](https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#git-lfs), I should not need to have git-lfs installed unless I am running tests.

**Possible solution**

I think the [.gitattributes file](https://git

[2020-04-26 00:04] jameshadfield commented on #1089
Thanks for the detailed bug report here John. I was under the impression that this wouldn't happen -- without `git-lfs` installed the `png` files would simply be small text pointers rather than the actual file but this doesn't seem to be the case. Interestingly, certain jobs in the GitHub CI checkout the repo without `lfs` and are working fine. @eharkins if you haven't already installed `git-lfs`

[2020-04-26 23:45] rleir opened #1091 "padding-bottom in the scroller window"
**Current Behavior**
Hi All
Running Auspice in developer mode, the Chrome console says:
Warning: Unsupported style property padding-bottom. Did you mean paddingBottom?
    in div
    in div (created by ReactPageScroller)
    in div (created by ReactPageScroller)
    in ReactPageScroller (created by Narrative)
    in div (created by Context.Consumer)
    in StyledComponent (created by styles__Narra

[2020-04-27 00:21] rleir opened #1093 "Devel hot updates"
Hi all,
I git-cloned and followed the instructions to build and run in devel hot-update mode. None of my source changes caused updated pages in the local browser.
The doc pages are:
https://github.com/nextstrain/auspice/blob/master/docs/introduction/install/index.html
https://nextstrain.org/docs/getting-started/local-installation
Section: "Install Augur & Auspice with Conda (recommended)"

https:/

[2020-04-27 03:45] frogsquire commented on #1008
@jameshadfield @evogytis I'd like to provide a quick update on this, in the hopes of making sure I'm on the right path, and resolving any issues early:

Over the last few days, I've been learning how we pass information from the UI through `change()` to redraw the tree, and how we calculate/store the y-values that I'll need to update in order to separate nodes by trait.

For the moment, I've imple

[2020-04-27 17:42] tsibley commented on #1089
I believe that `git lfs` is, correctly, not required. For example, I can clone the repo freshly without issue and without `git lfs` installed.

Looking more closely at the error message, I believe the issue is that the `lfs` filter, diff, and merge drivers are _configured_ in @huddlej's git config but `git lfs` isn't actually installed anymore. e.g. a previous installation of `git lfs` was incompl

[2020-04-27 18:18] huddlej commented on #1089
@tsibley's conclusion is correct here. Removing my old LFS settings from `.gitconfig` fixed this problem. Thanks all and sorry for the false alarm!

[2020-04-27 18:18] #1089 closed

[2020-04-29 06:42] jameshadfield commented on #1008
Thanks for the update! I've been looking at https://github.com/nextstrain/auspice/compare/master...frogsquire:1008-split-by-state (and checked it out locally to test). If you could submit a PR to auspice (it's no problem being in an unfinished state) that would make things a bit easier on our side.

This seems very sensible (In the future we can explore extend this to a trait other than the select

[2020-04-29 08:16] evogytis commented on #1008
Yes, `node.yvalue` should be recomputed because that will assign children under the same trait to the same y value as the parent (so it looks like a node with a single child), thus preserving y axis space and look much neater than continuously cascading branches with missing children.

The way I've done it before (cell 7 in https://github.com/evogytis/baltic/blob/master/docs/austechia.ipynb) is by

[2020-04-29 08:55] rleir commented on #1093
James,
No, the symbolic link I suggested is not good. The 'auspice build' fails with a confusing error. We need a real src tree under miniconda, so I would describe some other way of getting it set up. What do you do yourself to get the src tree into place under miniconda? Perhaps mv the 'git clone' directory into place?
thanks -- Rick

[2020-04-29 17:17] frogsquire commented on #1008
I did come across the original `setYValuesRecursively` function as I was looking into this. I'll try this approach. I see how this will produce a tree where the subtrees are separated, but it seems to me we will still need some kind of an offset between each subtree and the next, so that they look spaced appropriately... or will the d3 transition handle spacing of the nodes from a visual standpoin

[2020-04-29 23:21] kumikokashii commented on #264
@jameshadfield Hi, I can take this if the issue can be clarified. May I ask where the legend for the map can be seen?

[2020-04-30 00:37] jameshadfield commented on #1008
Yes, I think so. This could be achieved within the while loop above via something like
[code]

cc @evogytis what do you recommend here?

Without handling this case, I think this'll be a separate subtree. I think we follow Gytis here and don't show them, which would require marking the node as `hidden` in auspice. Can leave this until last.

[2020-04-30 01:41] rleir commented on #1093
Hi James
That is the answer for me, I moved the git clone directory tree under miniconda.
cheers -- Rick

[2020-04-30 06:17] evogytis commented on #1008
I think sorting by first introduction would be quite natural, though it's entirely arbitrary.

My €0.02 with offsets is that it's an easy thing to implement and it might not be necessary. Exploding the tree doesn't require extra y-axis space and the location colour of each subtree should convey boundaries between groups of subtrees. I'm not sure if changing the range of y-axis values will cause is

[2020-04-30 17:02] frogsquire commented on #1008
By first introduction, you mean by whichever state has the node closest to the root of the tree? I believe that'd be off the inferred date property.

I'll see how it looks and whether we end up needing them.

I should have time to get some more done on this over the next few days.

[2020-04-30 19:46] sidneymbell commented on #1036
Hey @jameshadfield -- having noodled on this some more, I think I have a compromise that could address the concern ("don't populate twitter with a bunch of mis-zoomed and misleading tree links") and the struggle described in the issue.

1 - In the augur build, we tweak the way that `node.name` is assigned to include a short prefix that is unique to the date of the build (i.e., hash* the date -- `X

[2020-04-30 20:31] batson commented on #1036
I just ran face-first into this issue, creating a Narrative to share internally w/ public health. While I can hack the json for now, I would prefer a more stable and simple solution.

Both the `mrca` solution and the `node_zoom` solution require the ability to easily identify an internal node. Having located a desired zoom by browsing in `auspice` manually, I would like to be able to easily captur

[2020-04-30 20:55] sidneymbell commented on #1036
@batson -- Sould it work for you if the URL was just updated automatically as you browse and zoom on the tree? We currently do this for most other attributes of the viz, such that sharing is copy-paste.

[2020-04-30 21:11] batson commented on #1036
@sidneymbell, that would be perfect. give the nodes names you're okay exposing, and then just keep that state in the URL. it's really nice to be able to copy/paste that to share with others (and with my future self).

[2020-04-30 22:28] tsibley commented on #1036
Currently internal nodes are sequentially named by TreeTime as `NODE_%07d` starting from `NODE_0000000`. These are a minimum of 11 characters long and of course not unique.

We could very easily generate globally unique node names instead by generating UUIDv4s and representing them in base 62, e.g.:

[code]

which produces ~22 character long strings like `2Q58jzs6SkqSGcs8I8YuUe`.

Augur does appea

[2020-04-30 22:37] sidneymbell commented on #1036
Oh my, that's a far simpler and more elegant suggestion, Tom :)

On Thu, Apr 30, 2020 at 3:28 PM Thomas Sibley <notifications@github.com>
wrote:

[2020-05-01 05:54] jameshadfield commented on #836
Closed by #1058

[2020-05-01 05:54] #836 closed

[2020-05-01 06:02] jameshadfield commented on #1093
Hi Rick. The `auspice develop` command is only intended to be used in conjunction with modifying the source code of auspice for development purposes. I've only ever used it with a from-source install of auspice ([docs here](https://nextstrain.org/docs/getting-started/local-installation#install-auspice-from-source)).

I think modifying symlinks to conda installs, or trying to modify auspice source

[2020-05-01 06:25] #1091 closed

[2020-05-01 08:10] evogytis commented on #1008
Yes, the trait here would be `num_date`. So the state of the the root is shown first, along with all of the subtrees that were reintroduced into the root's location from elsewhere, followed by the state that happened to be the location where the first export landed and subsequent introductions into it, _etc_.

[2020-05-01 11:03] rleir commented on #1093
Hi James, @jameshadfield yes, I am using it for development. When I was installing, I saw that Conda was recommended and yes, it is convenient. I followed the instructions you linked to and got in a situation where none of my source changes caused updated pages in the local browser.

As you say, putting the git development directory in the miniconda tree is questionable. I take it that you don't u

[2020-05-01 11:03] #1093 closed

[2020-05-01 18:53] trvrb opened #1095 "Provide toggle to display transmission lines in the map"
**Context**
With SARS-CoV-2 jumping around the globe so quickly, showing transmission lines on the map can be overwhelming in terms of information content and detract from overall understanding. See for example:

<img width="1134" alt="lines" src="https://user-images.githubusercontent.com/1176109/80832435-807ea380-8ba1-11ea-9418-b0972f8c21f3.png">

There are frequently situations where we want "tr

[2020-05-01 20:26] ktmeaton opened #1097 "Right Panel Text Style"
Hi Nextstrain team,

**Context**
I would like to have additional text styling features available in the right panel for auspice narratives (auspiceMainDisplayMarkdown). Specifically, I would like to be able to align text (ex. centering figure captions below images). Although other text customization would be useful such as size, color, font etc. Currently, this is possible in the left panel but do

[2020-05-01 20:28] ktmeaton commented on #1097
update description to specify narratives

[2020-05-01 21:06] ktmeaton opened #1098 "Narratives Citations and Bibliography"
Hi Nextstrain team,

Thanks for your amazing work on auspice and the narratives feature!

**Context**
I would like to be able to use a citation manager (ex. Zotero) to organize citations, footnotes, bibliography, etc. throughout a NextStrain narrative.

**Description**
I'd like to be able to include citation keys and print a bibliography, possibly as [implemented through pandoc](https://github.com

[2020-05-02 02:12] batson commented on #1036
Just bumping the idea that having the name of the selected node for zoom in the URL would be useful--I just unclicked from something in the browser and really had trouble finding the node again. Had it been the URL I could have used the back button.

This might have a conflict with the nice animations moving between states cc @colinmegill . Would those still work if the url was changing?

[2020-05-02 10:37] emmahodcroft commented on #1036
Just as a note - the URL changes should be possible - we already do this with nodes labelled as clades, so the functionality is there. However, this would need changes in Treetime (to name internal nodes in a unique way) (and we'd want to be a little cautious here - Treetime has used this naming structure for a quite a while, so we might unintentionally break things for other users - we might want

[2020-05-02 14:12] hnsnsjkf opened #1100 "install failed"
please help me, when i try to install auspice, i got this error ,my environment is windows+powershell.
<img width="580" alt="捕获" src="https://user-images.githubusercontent.com/30283492/80866547-dfd3d500-8cc1-11ea-8639-71530d91a228.PNG">

[2020-05-02 14:25] joachimschmidt557 commented on #1100
The scripts in the `scripts/` directory depend on `bash` which is probably not installed on your windows machine.

[2020-05-02 14:39] lxy0107 commented on #982
Hi, I'd like to work on it this week

[2020-05-02 14:51] emmahodcroft commented on #1100
For Windows install, I'd recommend trying to [Windows Subsystem for Linux instructions](https://nextstrain.org/docs/getting-started/windows-help) on the Nextstrain website, or using the [Docker install instructions](https://nextstrain.org/docs/getting-started/container-installation).

[2020-05-02 15:08] hnsnsjkf commented on #1100
when i use the docker，after entering the nextstrain check-setup，it show me this . Is it right?
![image](https://user-images.githubusercontent.com/30283492/80867957-e1090000-8cc9-11ea-9678-67d5a11ab550.png)

[2020-05-02 17:57] marcaaron commented on #1095
Would like to submit a PR for this one. Here's my proposed solution:

1. Add new type `TOGGLE_TRANSMISSION_LINES` and control state field `showTransmissionLines`
1. Create a new control component `TransmissionLines`
1. Modify `maybeRemoveAllDemesAndTransmissions` so that a change in the transmission lines setting prop will trigger a redraw
1. Add a new parameter to `drawDemesAndTransmissions` call

[2020-05-02 18:23] batson commented on #1036
Whoops! Thank you for the clarification.

[2020-05-03 19:51] lxy0107 commented on #982
Sorry guys, after looking over the lists that need to be translated, I thought it might be ok if it stay in English - any Chinese speakers who might want to explore the data should already know these in English, and some technical terms are taught in English to bioinformatic students in China anyways, like 'clade' or 'branch'. I finished half of the translations though - if anyone wants to collabo

[2020-05-03 22:17] jameshadfield commented on #1095
Thanks @marcaaron, that would be great -- the solution in the screenshots looks pretty good.

Drawing transmissions can be computationally expensive, so long-term I'd favor not calculating them & not drawing them. This is _a lot more work_ than the `stroke-width=0` solution so separating this into another issue/PR would make for more atomic PRs.

How we store on/off state (e.g. `showTransmissionLi

[2020-05-03 22:26] jameshadfield commented on #1100
@hnsnsjkf that should be ok & allow you to run `nextstrain view` which will run auspice from within a docker container.

Auspice isn't tested under windows powershell, but we have had success with  WSL as Emma said.

Please reopen if you have problems with `nextstrain view`

[2020-05-03 22:26] #1100 closed

[2020-05-03 22:42] jameshadfield commented on #1093
I use conda, but conda's a bit of a red-herring here I think.

The docs you liked to, and I believe followed, install auspice via `npm install --global auspice`, which installs it from the npm registry and into the conda tree (if using conda). This install method shouldn't be used for development.

The "from-source" installation, which can be done from within a conda environment, is recommended fo

[2020-05-03 23:12] cassiawag commented on #982
Good to know -- thanks for working on this @lxy0107

[2020-05-03 23:19] jameshadfield commented on #982
Thanks for this perspective @lxy0107 👍

[2020-05-03 23:25] anouarh commented on #991
Finishing up, however not sure how to resolve issues that arise in sentences that contain english and arabic words.

[2020-05-03 23:59] marcaaron commented on #1095
Good stuff. Yep, I agree this is definitely not the most ideal way, but should get us there quickly :)
I opened a draft PR so we can discuss improvements there.

[2020-05-04 02:24] frogsquire commented on #1008
@jameshadfield @evogytis Added a PR here: https://github.com/nextstrain/auspice/pull/1105

Not sure why it doesn't want to automatically link, but I can't seem to manually add it either - perhaps I don't have permissions?

Anyhow, an update on my progress and quite a few points in there. I'll continue working, so no pressure if you are busy, but would be happy to hear any feedback.

[2020-05-04 04:34] jameshadfield commented on #1097
Hi @ktmeaton -- you're right that this is part of the HTML sanitizing performed for security reasons. PR #1087 will make this consistent for everywhere we render markdown, so that the sidebar + main display have the same capability. There's a comment there indicating that `style` tags shouldn't be allowed for click-jacking reasons -- cc @tsibley do you know of a way to accomplish this whilst still

[2020-05-04 05:25] jameshadfield commented on #1036
I think this proposal should work & will be a very useful addition 👍. My recommendations for the implementation:

* Define a node-name-regex (e.g. `NODE_` + _n_ character hash or similar) within the JSON schema as defined in the augur repo. If nodes are in this format it indicates they will not appear in future (or past) trees.
* Modify `augur refine` to output internal nodes in this format
* Impl

[2020-05-04 17:17] ktmeaton commented on #1097
Thanks for your response! If I can't modify the ```style``` attribute for security reasons then I completely understand (never thought about preventing click-jacking before, good to know). I also would understand if you didn't want me to play too much with style if the narratives are supposed to have a controlled aesthetic. I can always adapt to what's available!

Am I correct in understanding tha

[2020-05-04 19:21] SalehA74 commented on #991
Yes, that is a nightmare! We do translate every word to avoid this problem.
I would like to suggest to do the next translations of situation reports in a certain template or fields where we do not need to deal with the links and codes... Hopefully that would be possible by @nextstrain/auspice and @cassiawag  soon. Regards

[2020-05-04 21:00] sidneymbell commented on #1036
Wonderful, thanks so much everyone! I'll take a first pass at implementing
some of this and tag people in as I get stuck.

Cheers,

SB

On Sun, May 3, 2020 at 10:25 PM james hadfield <notifications@github.com>
wrote:

[2020-05-04 23:30] tsibley commented on #1097
It seems like it'd be useful if Auspice provided reasonable default styles for the narrative which centered figures and their captions (presuming it doesn't do this now). We could do this easily for `<figure>` and `<figcaption>` elements.

Additionally, we some further work, Auspice could allow a safe subset of `style` rules which could provide much of the desired typography control (face, size, c

[2020-05-05 01:25] rleir commented on #955
Hi Avin, You probably already looked at
https://nextstrain.org/charon/getDataset?prefix=/ncov/global
It loads 1.5M JSON information,
the request headers include Accept-Encoding: gzip, deflate, br
the response headers include Content-Encoding: gzip
but it took 36 seconds to download this item.
1/ does it really need to be this big? Some citation info could be lazy-loaded. Only data  which is immedi

[2020-05-05 03:23] avin-kavish commented on #955
No longer working on this :P

[2020-05-05 09:27] rleir commented on #955
Hi James @jameshadfield Just a question: the server (charon?) would not be creating this JSON at response time from a dadtabase would it? A cache would normally respond faster.
Thanks
Rick

[2020-05-05 09:43] JSHuisman commented on #987
I would be keen to help with the relevant proofreading for this, but can not seem to find the relevant file / branch?

[2020-05-05 10:11] JiscaH commented on #987
The source file is here: https://github.com/nextstrain/translations/blob/sit-rep_nl/narratives/translations_ncov_sit-rep_nl_2020-05-01.md

and the preview here:  https://nextstrain.org/community/narratives/nextstrain/translations@sit-rep_nl/ncov/sit-rep/nl/2020-05-01

I just noticed a problem with the title of the slide just before the 'wat u kunt doen' slide, but didn't dare fix it as I wasn't su

[2020-05-05 10:14] JiscaH commented on #987
As far as I know this file hasn't been translated into dutch yet, it's just the May 1st report

[2020-05-05 10:23] JSHuisman commented on #987
Then why did @cassiawag move it to the Ready for proofreading column? (I just finished with the May 1st report)

[2020-05-05 14:40] cassiawag commented on #987
Whoops!!! This was my fault.

[2020-05-05 16:22] AlyxMoon commented on #1086
Hey, I've been looking through the app today and it looks really neat.  I was able to replicate this issue and I'd be happy to get up a PR to address it.

[2020-05-05 16:22] tsibley commented on #955
@rleir

I think the bulk of this must be your connection speed. I'm consistently getting in the 1-1.5s range here. The /charon endpoint does add some overhead compared to the upstream origin CDN (https://data.nextstrain.org/ncov_global.json), which times in at 0.6-1.2s for me.

[2020-05-05 21:44] jameshadfield commented on #1086
Sounds great @AlyxMoon, thanks!

[2020-05-05 21:48] jameshadfield commented on #987
Just to be clear -- this issue asks for a Dutch translation of _auspice_, not any specific situation report or dataset. As an example, here is the current SARS-CoV-2 build with German as the language: https://nextstrain.org/ncov/global?lang=de.

[2020-05-05 22:54] jameshadfield opened #1106 "Reduce bundle sizes by more intelligent code-splitting"
**Context**
Auspice is delivered via a number of (gzipped) bundles using [webpack's code-splitting functionality](https://webpack.js.org/guides/code-splitting/). The smaller these are the more performant auspice loading feels.

**Description**
Our bundle sizes are creeping up due, in part, to less-than-ideal code splitting (see 90d91e94). You can see the breakdown of bundles via `auspice build --a

[2020-05-05 23:57] jameshadfield opened #1108 "CI doesn't run against updated master branch"
The GitHub CI should run tests against a merge of the PRs branch into master, via the `actions/checkout@v2` module with default settings (docs [here](https://github.com/actions/checkout), code [here](https://github.com/nextstrain/auspice/blob/master/.github/workflows/ci.yaml#L66)).

PR #1087 [failed the bundlesize CI](https://github.com/nextstrain/auspice/pull/1087/checks?check_run_id=647790106)
[

[2020-05-06 02:16] #1081 closed

[2020-05-06 02:20] jameshadfield commented on #991
Closed by #1104 (#1107)

[2020-05-06 02:20] #991 closed

[2020-05-06 05:37] jameshadfield commented on #1098
Thanks for the information provided here @ktmeaton. I agree with the recommendation to use a pandoc compatable syntax, which I haven't adhered to in my earlier implementations of narratives but would like to going forward. If I understand correctly, this would allow a narrative such as

[code]

---

Assuming the above is roughly what's being asked for here, these are the implementation questions I

[2020-05-06 15:08] emmahodcroft opened #1109 "Have Legends Dynamically Change to only Show Visible Options"
**Context**
Currently for some builds, like nextstrain.org/ncov, the legends are currently so long that they are not very useful:
![image](https://user-images.githubusercontent.com/14290674/81193198-5ff88400-8fbb-11ea-8936-9fb8fb8c76f9.png)
(Countries shown, but valid for many of the selections)

@MoiraZuber wrote a tweet for a recent push to nextstrain.org where she had only 'new' sequences selec

[2020-05-06 21:25] biocyberman opened #1110 "Download subset of genome sequences for selected tree nodes"
**Context**
Similar to download a subset of metadata, we want to use this to extract a subset of genome sequences for further analysis. This might not be helpful or allowed in the global nextstrain/auspice instance, but for our local one, it is legal and useful feature to have.

**Description**
This feature should work almost exactly like extract subset of metadata.

**Possible solution**

- `augu

[2020-05-06 23:28] jameshadfield commented on #1110
This feature could be made part of auspice and made an "opt-out" extension (or opt-in) so that different implementations can choose whether or not to expose it. I know others have asked for it, so I think it would get used. Happy for someone to implement it, but it's not something we (nextstrain.org) can pursue currently.

Just thinking about it briefly, it would involve a new API call to fetch th

[2020-05-07 05:13] batson opened #1111 "User cannot identify and click individual branch if there are too many"
**Context**
I cannot find or click on the purple branch because they are thin in a dense region.
![image](https://user-images.githubusercontent.com/1261162/81221336-89071d80-8f97-11ea-8002-23dd51017bd5.png)

**Description**
There are two ways I can think of to solve this problem.

One of them is to remove the topmost clade, which I am uninterested in at the moment, and let the rest of the tree exp

[2020-05-07 07:13] biocyberman commented on #1110
Thanks for the comments.

Sounds like something worth pursuing. I can probably arrange some time to do this, depending on task priority in the COVID19 project I am working with.

I already wrote a bash script to do the extraction. It's actually wrote a [short script](https://github.com/KasperSkytte/covid19/blob/master/workflow/extractGenomes.sh) to do that, but I agree, `auspice` interface is more

[2020-05-08 02:07] rleir opened #1115 "DOM memory leak?"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.
DOM memory climbs when you open a different dataset.

**Expected behavior**
A clear and concise description of what you expected to happen instead.
DOM memory should be reclaimed when you are finished with a dataset.

**How to reproduce**
Steps to reproduce the current behavior:
1. Open the chrome task man

[2020-05-08 02:24] rleir opened #1116 "Zoom performs poorly outside of the map"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.
Zoom using ctrl+scroll works nicely in the map area. Outside of that it seems broken.

**Expected behavior**
A clear and concise description of what you expected to happen instead.
Smooth scrolling in the tree and map but nowhere else.

**How to reproduce**
Steps to reproduce the current behavior:
1. I am

[2020-05-08 02:41] jameshadfield commented on #1116
The "ctrl+scroll" zoom functionality is only implemented in auspice for the map (as you scroll through the page normally, if your cursor is over the map, you'll see an overlay over the map indicating this). Using "ctrl+scroll" anywhere other than inside the map is not caught by auspice and is instead triggering your browser to increase the zoom level of the entire webpage (the exact key combo migh

[2020-05-08 10:10] rleir commented on #1116
Hi James
Leaflet maps commonly provide zoom without the Ctrl, just scroll. I would recommend that to make it less confusing.
Thanks -- Rick

[2020-05-08 10:36] emmahodcroft commented on #1116
Hi @rleir ,
Thanks for reaching out and sorry this was confusing!

We used to have zoom without CTRL, however, we found this often led to an experience where users struggled to scroll down the webpage (to look at the entropy view, or use the filters) because if their mouse ended up over the map while scrolling, it switches to zooming the map rather than scrolling the page. This is understandably q

[2020-05-08 10:43] rleir commented on #1116
Hi Emma
Yes thanks, this makes it clear.

 Would you please close this issue, let's move on to other issues, particularly the ones that you and James have flagged as high priority.
Thanks -- Rick

[2020-05-08 10:50] #1116 closed

[2020-05-09 01:08] rleir commented on #917
Hi all, There is another linter (no, call it a static source analyzer?) called Deepscan with a free open source plan. Currently it shows 24 issues in Auspice. My PR's have been fixes for Deepscan warnings, and Deepscan makes it easy by recommending a fix. Those 24 issues might be harmless but there could be one in 24 which actually breaks something.
 * JavaScript/TypeScript analysis
 * Auto sync w

[2020-05-09 01:34] salvatore-fxpig commented on #902
The reason why whitelisting attempt does not work here is because the module `iso-639-1` is pulled from the nextstrain.org/node_modules dir and not from auspice/node_modules.

So whitelisting it like this:

[code]

Actually works pretty well.

For a more general (but not fully general) solution that could help reducing guesswork for people developing extensions you might try something like:

[code

[2020-05-09 01:52] rleir commented on #429
@CameronDevine But Japan is about 138E longitude, and the line of cutoff in the example seems to go through Japan. Roughly the anti-meridian of Boston (funny coincidence, location of MIT). I had a similar problem with the anti-meridian of Ottawa, Canada in this leaflet map: https://leirtech.com/example/conn/

and solved it by making sure the longitudes values were within the range [Ottawa+180 .. O

[2020-05-09 02:19] CameronDevine commented on #429
I believe this issue should have been closed when #925 was merged in. However, I think the changes in that pull request, specifically the change to `dom-to-image`, caused #1066. The image generation happens in the `window.L.getMapTiles` function of `src/components/map/map.js`.

**Note, this is only an issue when downloading an SVG of the data displayed.**

[2020-05-09 02:27] CameronDevine commented on #1098
I found the Bibliography library on NPM, which appears to have the ability to generate references, but it does not look well supported.

https://www.npmjs.com/package/bibliography

[2020-05-09 09:59] rleir commented on #429
@camerondevine thanks for that. You gave lots of info in just a few words. I think that you are saying that the SVG download used to work correctly? And it sounds as if several issues are interrelated.

[2020-05-09 10:18] biocyberman commented on #1110
@jameshadfield I made some progress hacking the feature. Need you comments and guidance:

1. Since `nt_muts.json` from a `augur` already contain sequences. I am thinking to copy it into `datasetDir`. In [strainGenome](https://github.com/biocyberman/auspice/blob/d13284cca6d2ef3253e961b1ea217a8762f10c6f/src/components/download/helperFunctions.js#L201) function, I want to open a stream and filter the

[2020-05-09 15:07] salvatore-fxpig commented on #902
Another minor thing I've noticed about this is the following:

Auspice's webpack tries to source `react` relative to the root folder of each file, which has implications for extensions that contain `react`.
Namely, if `auspice` is installed as a package, auspice's `react` will be hoisted to the main `node_modules` folder, and so the extension's `react` and auspice's `react` will resolve to the sam

[2020-05-09 19:46] CameronDevine commented on #429
@rleir There are multiple interrelated issues here. Before #925 `leaflet-image` was used to generate an image of the background map to include in the downloaded SVG. This library had issues with generating an image of the map when the displayed area crossed the anti-meridian. To get around that issue we changed to `dom-to-image` to generate the map image, which fixed the issues with the anti-merid

[2020-05-10 02:01] rleir commented on #1066
@emmahodcroft Hi Emma, What sort of editing change would you be interested in doing?

The reason I ask is that HTML is not SVG. When you export the whole page to an SVG you have a round peg to square hole problem. It looks as if the SVG foreignObject element  is an attempt to bridge between SVG and HTML. When you have SVG and HTML combined, Inkscape has a difficult challenge. And the HTML WYSIWYG

[2020-05-10 18:56] emmahodcroft commented on #1066
Hi @rleir the editing varies, depending on what's being done, but the way it worked in the past was fine - the map in the background is an image and thus uneditable (just croppable), and then the circles & lines on the map (individual slices if in 'pie chart' mode) were SVG objects. This means that a wide variety of edits can be done. I hope that makes sense!

[2020-05-10 21:53] islekburak opened #1121 "about creating transmission lines"
It is not shared that how auspice can visualize the virus tracing yet. I am trying to read your react codes but it is hard to understand how are transmission lines created. We can create traits.json file using augur trait module but which data does auspice retrieve from this traits.json (or the final json file -main+tree+meta-) is unclear. Does it take only values of confidence and entropies for s

[2020-05-11 02:20] mingir2 commented on #1109
@emmahodcroft @jameshadfield

<img width="1418" alt="Screen Shot 2020-05-10 at 9 02 06 PM" src="https://user-images.githubusercontent.com/40753283/81517746-842ccb80-9301-11ea-91f6-8949ce22400b.png">
<img width="1412" alt="Screen Shot 2020-05-10 at 9 02 31 PM" src="https://user-images.githubusercontent.com/40753283/81517767-93137e00-9301-11ea-9997-1f61a39c8e17.png">

So, I've looked into this a bit

[2020-05-11 05:39] charlie-jones commented on #738
@jameshadfield I would be happy to work on this. It seems like the solution is to call gtGeneSelect() and gtPositionInput() and fill them in respectively; my proposal is to split the value  by "-" and "_" if the first two characters are "gt".

[2020-05-11 16:37] tsibley commented on #738
@charlie-jones There already exist functions to parse the serialized URL parameter `c`. Values from the "controls" Redux store flow into the ColorBy component via props. The issue here may be that the "controls" Redux store isn't being properly initialized from the URL param.

[2020-05-12 21:01] donutbrew opened #1123 "Running with nginx reverse proxy"
I've been trying to force auspice to run behind an nginx reverse proxy, and I wonder if anyone has had success doing this. This is super easy if I want to proxy https://server.xyz:80/ -> localhost:4000. Ideally, though, I want to run from https://server.xyz/auspice but there's all sorts of path messiness (i.e. auspice requests /dist/auspice.bundle.js and /charon urls) if I put the following into m

[2020-05-13 04:00] jameshadfield commented on #1123
Tangentially, there would be value in allowing these hardcoded paths to be modified at compile time by auspice customisations. This is already possible for the `/charon` API address ([code here](https://github.com/nextstrain/auspice/blob/master/src/util/globals.js#L140-L151), although there may be bugs as it is rarely used).

[2020-05-13 06:18] #1086 closed

[2020-05-14 01:32] gurkhali opened #1124 "Strain grouped in correctly when viewing in divergence"
**Current Behavior**
When viewing in rectangular view EPI_ISL_426067 is being grouped with EPI_ISL_424319 in the same Phylogeny despite its nucleotide mutations. This is the only strain that I have found to show the behavior but I have not looked for more. I was looking at json file for some work that I was doing and saw this by accident.

**USA/ID-UW-4378/2020**
Collection date	2020-03-28
Authors

[2020-05-14 01:33] gurkhali commented on #1124
This is when I am looking at https://nextstrain.org/ncov/global?m=div

[2020-05-14 09:54] biocyberman opened #1125 "Internal nodes without mutations?"
Hi
This may be a bug, a feature, or a mistaking from myself. So not sure which type of issue to submit.

I created a custom clades.tsv, ran data processing with `augur`, then view the data with `auspice`. On this tree, there are some internal nodes that do not have mutations(see screenshot), so I wonder why. Is it because they are filtered away after some thresholds, and the tree is calculated bef

[2020-05-14 10:06] emmahodcroft commented on #1125
Hi @biocyberman ! Thanks for reaching out! Yes, this is something that's a little confusing about the two tree views in Auspice.

The view you're looking at now is 'Time' - so here the dots (samples) are plotted by the sampling date, and the algorithms in augur (`refine` call in particular, which uses `Treetime`) try to estimate when the different samples had a common ancestor. They must have a co

[2020-05-14 10:12] biocyberman commented on #1125
Excellent! Thank you @emmahodcroft . I know better now what is going on.

[2020-05-14 13:59] biocyberman commented on #1125
@emmahodcroft This might be more relevant to ask over `augur` repo, but the two are so close to each other and in this context it may be easier to understand:

I am interested in fetching all mutations for a strain/tip compared to the reference, and also all mutations on each internal node between a tip and the root. As you explained about the Time tree, it would be more appropriate to use the `tr

[2020-05-14 15:03] emmahodcroft commented on #1125
Hi @biocyberman - you're best traversing either the `tree.nwk` and `nt_muts.json` files (together you can walk through the tree and see the mutations on each node) or just traversing your final output JSON file (`ncov.json` or similar). In the latter, the tree and mutations are both in the same file - you can traverse the tree and count up the mutations on every node. If you use the `ncov.json` yo

[2020-05-14 21:56] jameshadfield commented on #1125
Emma is absolutely correct -- mutations in augur (and auspice) are defined per-branch, so any questions relating to comparing two non parent-child nodes in the tree will require a traversal. Please note that for a given analysis the root of the tree may not be identical to the reference used.

This approach will work, but you shouldn't use the raw tree (the output from `augur tree`) here as it doe

[2020-05-14 21:56] #1125 closed

[2020-05-15 02:40] rleir commented on #955
So true. I am your worst case (best test?) with 3M down, 1M up (much slower during pandemics). I hope you don't mind me saying that the data file needs to diet. Are all the data fields needed? I will check.

[2020-05-15 03:16] rleir commented on #955
Hi James @jameshadfield Having an i5 CPU from a few years back, I am also your worst case for CPU cache.

* L1 256 kB
* L2 1024 kB
* L3 6144 kB

Performance test case:
* http://localhost:4000/ncov/global
* data up to May 8

CSS on each tree tip (right click -> inspect):
*  pointer-events: auto;
*  visibility: visible;
*  fill: rgb(204, 204, 204);
*  stroke: rgb(162, 162, 162);
*  stroke-width: 1;

[2020-05-15 04:16] trvrb commented on #955
Interesting. I think most of the is with SVG performance rather than Mb of data in the JSON (but I bet we could save some space by reducing significant digits, ie `"div": 8.997285936838663` to `"div": 8.997`).

But slimming down SVG without loss of aesthetics is a good direction.

[2020-05-15 06:28] evogytis commented on #1111
This is a substantial usability issue, especially as the numbers of sequences continues growing. The solution could be as simple as a button that allows for greatly increased height of the tree card.

[2020-05-15 06:34] trvrb commented on #1111
(Sorry, mis-clicked) I agree that this is a significant issue. I like these suggestions. I have an idea here about how to generally approach this. I'll try to write it up in the next day or two.

[2020-05-15 07:10] biocyberman commented on #1125
Fastasic! Thank you Emma and James again.  The answers really helps to avoid incorrect usage of the information and confusion.

[2020-05-15 17:05] tsibley commented on #955
One way to slim down the SVG without any visual change at all is to stop using inline attributes for static values that could instead be applied by `tag` or `.class` rules in a stylesheet.

[2020-05-15 19:22] salvatore-fxpig commented on #1050
Posted an update in the PR about 10 days ago, I guess you guys are super busy these days but just wanted to make sure it does not end up flying under the radar @jameshadfield .

[2020-05-15 23:34] rleir commented on #955
@tsibley Yes. I took a first stab at this in PR #1128 but I am new to that part of the code and the PR needs to be improved.
Also, the tips have a border colour which looks nice when inspected closely but could be a uniform white or black. The border colour is needed so you can see a tip properly when it overlaps another tip of the same colour, but white or black would be more effective than the c

[2020-05-16 01:28] rleir opened #1130 "color-by Genome position options"
**Context**
How would this feature help you? What would it enable you to do?
Ease of color-by genome position selection.

**Description**
A clear and concise description of what you want to happen
In the left panel tree options you can select color-by -> Clade/Date/Genotype/etc
When you select Genotype then you have to select E/M/N/Orf10/etc
Then you have to select a numeric position (1 - 222 in t

[2020-05-16 14:07] emmahodcroft commented on #1124
Hi @gurkhali ! Thanks for reaching out!

I am sorry this has confused you. When we make the phylogenies for SARS-CoV-2, we do not consider gaps - they are ignored.
We do display them, however, as some of them may be real and be of interest, so we want to ensure people can be aware of them in the mouse-over view.

I hope that clarifies why having 7 gaps is the same as having no gaps in the tree!

[2020-05-16 14:17] gurkhali commented on #1124
@emmahodcroft thanks for clarifying. Just so I understand, what defines a gap for these strains?

[2020-05-16 14:28] emmahodcroft commented on #1124
We take the sequences as they are, so gap characters are `-` symbols in the nucleotide alignment.

(`N` characters are also ignored in the reconstruction of the tree, but they are not interpreted as gaps - just `N`)

[2020-05-16 22:09] rleir commented on #955
The memory numbers I reported previously are wrong. Memory footprint changes greatly over time, and starts much higher then drops after garbage collection. I hesitate to report numbers now, other than to say that my patched build is taking approximately the same memory as the standard build.

[2020-05-17 06:37] charlie-jones commented on #738
@tsibley I appreciate the advice, thank you! The initialization of the store was, in fact, the problem, so I will submit a PR after finishing up testing.

[2020-05-17 22:33] trvrb opened #1132 "Add button to zoom tree to visible tips"
**Context**
Currently, there are two primary ways to interact with the tree:
1. Click on clades to zoom in. This works pretty well much of the time but may require multiple clicks and with large trees it may be impossible to actually find the clade to click on. @batson summarizes this issue well in https://github.com/nextstrain/auspice/issues/1111.
2. Filter to a subset of tips via filters interfa

[2020-05-17 22:34] trvrb commented on #1111
Here's my proposed UX solution: https://github.com/nextstrain/auspice/issues/1132. Sorry to split threads, wanted to keep discussion here to fixes to your particular issue Josh and wanted specific feedback on my proposal in #1132.

[2020-05-17 23:41] jameshadfield commented on #1130
Could you say more about how you would select these "useful" positions?

In my experience, the dropdown is good when you know _a priori_ the mutation of interest (and it's important that it allows you to select any valid position, not just from a curated subset). Mainly, I use the diversity panel (below the tree/map) which visually conveys what positions have high entropy (or a large number of eve

[2020-05-18 01:37] rleir commented on #1130
OK, you say "it's important that it allows you to select any valid position, not just from a curated subset" so my suggestion is bad. But what if your data only contains mutations for a certain subset of the valid positions? Why allow the user to try positions where the data contains no mutations?

Let's just close this issue, I will learn how the diversity panel works. No worries.

[2020-05-18 01:37] #1130 closed

[2020-05-18 03:39] jameshadfield commented on #1130
Right now this is somewhat uninformative, but in the future we'd like to show the (unchanging) base at this position.

[2020-05-18 05:07] batson commented on #1132
I like this proposal very much!

Non-monophyletic is our generic use-case: after selecting all samples in some location + time window, we get groups scattered around the tree whose common ancestor is usually the root. If the accordion is compressed enough, we may get much of the benefit of exploded trees showing all the groups at once without having to fully hide the contextual nodes.

It will be

[2020-05-18 11:06] rleir commented on #1130
Aha! Now I have looked at Orf8, site 84. But it was not easy to get there. If this is a minor issue, let's move on.
Thanks -- Rick

[2020-05-18 14:11] rwilliams commented on #1123
I'm in the exact same situation. It would be sweet if we could a root path in the auspice customizations.

[2020-05-18 23:16] #946 closed

[2020-05-19 15:25] gurkhali opened #1133 "Time series analysis of auspice data"
**Context**
Declarative queries that can be performed for specific event time range.

**Description**
Folks I have been working a side project to extend the capabilities of auspice and provide a researchers like yourself an extensible way to do declarative analysis for specific periods of time.

More details on the work can be found [here](https://github.com/gurkhali/covid-nextsrain/blob/master/RE

[2020-05-22 00:26] mingir2 commented on #1132
I think most people are familiar with the "select to zoom" interaction (ie, [plotly](https://plotly.com/chart-studio-help/zoom-pan-hover-controls/)). It's simple and intuitive.

[2020-05-25 06:22] jameshadfield commented on #1121
Hi @islekburak -- there are two parts to understanding the transmissions shown in auspice.

Let's start with the auspice part: any dataset JSON with `node_traits` set on internal (as well as terminal) nodes of the tree will have transmissions drawn on the map. Auspice is agnostic as to how these internal values were calculated. Confidence & entropy values are currently not used for the map visuali

[2020-05-25 06:22] #1121 closed

[2020-05-25 06:24] jameshadfield commented on #1050
This looks pretty good! I know @eharkins has tested this a bit, so look out for a review from him in the coming days 👍

[2020-05-25 16:21] frogsquire commented on #1132
Why was the `js-y-vals` branch ultimately not merged - was it just a proof of concept?

If the idea is to start with zoom-to-filtered-items, and then use that code to handle a zoom-to-selection, that makes sense to me. They can be separate issues, with one dependent on the other.

I think you could use the "zoom-to-selected" terminology for both of these operations; the mouse-drag selection, in th

[2020-05-26 00:48] jameshadfield commented on #1109
Thanks @mingir2 -- this looks good. In terms of state, we've currently got `reduxState.controls.colorScale.legendValues` so the most straightforward would be to create `reduxState.controls.colorScale.visibileLegendValues` and then make any actions which change tree visibility to also recalculate this. I've added a commit which does this at https://github.com/nextstrain/auspice/commit/7d0f9480398fb

[2020-05-26 02:27] jameshadfield commented on #1115
Looking at overall memory footprint as well as (live) JS memory in chrome v81 shows that memory can drastically increase as one changes datasets, but most of this is eventually garbage collected. However there does seem to be an increasing in memory used depending on whether previous datasets were viewed as opposed to a fresh start, which should be fixed.

Here are the numbers I get navigating bet

[2020-05-26 02:42] jameshadfield commented on #1133
This looks cool and we're always excited to see different techniques being used to interrogate the data! Having not used influxdb before, if you were to write a (short) tutorial for the repo then I'd be keen to try it out.

[2020-05-26 02:47] jameshadfield commented on #957
I made a (very basic) start to this functionality in #1117 which implements the machinery for changing pages and editing the narratives content in the browser. There's a large list of future additions in that PR.

If there's any takers to carry on this work, or just add small bits & pieces into that PR, then please jump in, as unfortunately I don't have the time to work on this feature at the mome

[2020-05-26 03:17] jameshadfield commented on #888
Absolutely -- I've been meaning to write a small example for this.

The following dataset https://nextstrain.org/staging/test/tree-labels-2020-05-26 (JSON [here](https://s3.amazonaws.com/nextstrain-staging/test_tree-labels-2020-05-26.json)) has two branches  with labels (`"string-value"` and `42`). Clicking on either of those branches zooms the tree & updates the URL query to indicate we're zoomed

[2020-05-26 03:29] jameshadfield opened #1138 "Zooming out from a labelled subtree does not correctly update the URL query"
**Current Behavior**
Clicking on the root branch of a displayed subtree zooms out (in the tree). If the currently zoomed-to branch has a label set, then this is displayed in the URL query as `?label=...`. When zooming out from this subtree by clicking on the root, the URL query does not update.

**Expected behavior**
Upon zooming out from the subtree by clicking on the root, then the label should

[2020-05-26 03:34] jameshadfield opened #1139 "Cannot zoom out in a stepwise fashion when a tree is loaded with a branch label in the URL query"
**Current Behavior**
When a tree is loaded with a branch label defined in the URL query, then we correctly display the subtree associated with that label. Clicking the root branch of the displayed subtree should zoom out in the tree, however it has no effect in this situation.

**Expected behavior**
Clicking on the root branch of the displayed subtree should zoom out in the tree.

**How to reprodu

[2020-05-26 10:17] rleir commented on #1115
Hi James , This is a gorilla test, not something that normal users would do so we can say "this is unreasonable, auspice works fine for a real user". Yes, make it a low priority.
To repeat what I was doing:
1/ http://localhost:4000/
2/ choose  randomly a dataset, click on the link
3/ click the back button, repeat from step 2

You could consider closing the issue "won't fix", that is a good option.

[2020-05-26 18:58] tsibley commented on #888
@jameshadfield Seems like the JSON Schema wants an update here as well to enforce those labels are strings in the JSON? I don't know if there are backwards incompat considerations here, though. And Auspice may still want to explicitly stringify label values for backwards compat.

[2020-05-26 20:29] biocyberman opened #1141 "npm version ?"
I am developing some features for auspice, and node version and its packages use newer version, for example nodejs version `12.16.x`. So I wonder is there any specific reason to keep current `engines` for auspice with `"node": 10.8.x`? More directly, will a PR with newer node version be accepted or what I need to test to make sure that things function correctly?

[2020-05-26 23:05] jameshadfield commented on #1141
Newer node versions work with auspice -- nextstrain.org builds it under v12, I often build it using v13 locally. I'd be in favor of something like
[code]

[2020-05-26 23:09] jameshadfield commented on #1115
I'm going to keep this open, as I do think that memory increases as we load more and more datasets within auspice is a bug (the chrome-specific increases when force refreshing the page are harder to explain). As you say, it's perhaps not typically encountered by users, but should be fixed one day.

[2020-05-27 06:30] biocyberman commented on #1141
That makes thinks much simpler :) I was trying to be strict with node v 10.8 but some parts didn't work.

[2020-05-27 06:30] #1141 closed

[2020-05-27 16:05] mingir2 commented on #1109
@jameshadfield Thank you so much! I'll work on it week and hopefully get back to you soon with a PR.

[2020-05-27 23:30] jameshadfield opened #1143 "Allow export (download) of entropy & events"
**Context**
There are frequent requests to access the data behind the entropy panel. Allowing this data to be downloaded similar to how we facilitate SVG & metadata download would be sensible.

**Possible solution**
The data is stored in redux state (`reduxState.entropy.bars`) and is kept in sync with any data filtering. It should be simple to use this to write out a TSV linking genome position to

[2020-05-29 00:56] eharkins opened #1145 "consolidate Diversity panel genome zoom state"
**Current Behavior**
In the redux state, we track the current zoom state of the diversity panel, which for example looks like this in the query `?gmax=4757&gmin=2379` and like this in the UI:
![Screen Shot 2020-05-28 at 5 23 39 PM](https://user-images.githubusercontent.com/12140437/83207431-0a218280-a108-11ea-9b5b-ac24e3dd2a03.png)

To track this, we have both
* `state.controls.zoomMin, state.cont

[2020-05-29 01:12] jameshadfield commented on #1145
Thanks @eharkins -- couple of other subtle bugs related to the redux state managment here:

* Zooming the entropy panel by the ctrl+mouseWheel does not update the URL query. Not sure what (if any) dispatches are occurring on this action
* App state is correctly reinstantiated via loading a page with URLs (e.g. [this one](https://nextstrain.org/zika?gmax=5656&gmin=5128)) but the URL subsequently lo

[2020-05-29 01:41] #1143 closed

[2020-05-29 04:32] jameshadfield commented on #1109
Having thought about this a bit more, I think this functionality is desperately needed for categorical and ordinal scales, but that we do not want it for boolean and continuous ones. The implementation I prototyped in 7d0f948 doesn't need overhauling, rather `createVisibleLegendValues` can simply return a `slice` of the legend items for boolean & continuous scales (this is trivial in the scheme of

[2020-05-29 10:39] emmahodcroft commented on #1109
Good thinking James. I'd second this.

[2020-05-29 12:21] TAM360 commented on #888
@jameshadfield So I was going through the code-base & found it a bit difficult to navigate. Is there any document available which explains the structure in brief manner. I want to get maximum understanding before I start working on this issue.

[2020-05-29 20:01] mingir2 commented on #1109
@jameshadfield I agree that boolean and continuous scales shouldn't change based on visibility.

By the way, I'm not sure what's going on with the first image with the duplicate color. What's the steps to reproduce it?

[2020-05-30 00:43] ktun95 commented on #1138
Hello, I would like to take on this issue, if that's all right.

[2020-05-31 18:34] gurkhali commented on #1133
Here is a short [video](https://youtu.be/8dvJuRzO8Co) of the capability of the tool that I built. I would love to understand if this would be helpful to you guys. Let me know if you have any questions.

[2020-06-01 20:06] rneher commented on #784
I am wondering whether we should revisit this now. I am picturing a situation where you want to look at clade frequencies in a particular region and filter down to that region. Currently, you would see the frequencies modulated by total sequence availability in that region. It would be difficult to see whether one clade increased at the exponse of another.

[2020-06-01 22:17] mingir2 commented on #1109
@jameshadfield I addressed the race condition issue and modified the ```createVisibleLegendValues``` function based on our discussion on this thread. Please take a look at the PR #1150.

[2020-06-02 00:44] jameshadfield commented on #1138
Wonderful!

P.S. [here](https://s3.amazonaws.com/nextstrain-staging/test_tree-labels-2020-05-26.json) is the link to the dataset JSON behind [the example above](https://nextstrain.org/staging/test/tree-labels-2020-05-26) which should help with local development.

[2020-06-02 21:32] ktun95 commented on #1138
Hi! I just made a PR. This is my first one, so I would really appreciate all the feedback I can get, and make any changes necessary.

[2020-06-03 00:00] trvrb commented on #1095
Bumping this issue.

First off, thank you so much @marcaaron for your work on this. Hugely helpful. Addition context in PR discussion here: https://github.com/nextstrain/auspice/pull/1103.

With merging of https://github.com/nextstrain/auspice/pull/1147 we have a toggle on the sidebar to show/hide transmission lines:

![lines](https://user-images.githubusercontent.com/1176109/83580853-f902b800-a4f

[2020-06-03 00:04] jameshadfield commented on #1095
Agreed. I'm going to allow the default setting to be taken from JSON defaults now, and will make separate issues for other to-do items such as URL queries, improved performance etc.

[2020-06-03 23:17] jameshadfield opened #1154 "Show transmission lines toggle should only appear if transmission lines can be drawn"
**Background**

#1147 introduced a toggle to control whether we show transmissions on the map. This toggle is always present, regardless of whether the data is actually present in the tree. If transmissions are not defined by the tree, then the toggle has no real effect.

The presence of transmission lines are completely dependent on the geo-resolution.  For a geo-resolution of “X” (e.g. X=divisio

[2020-06-03 23:22] jameshadfield commented on #1095
Closing this issue as the toggle has been implemented (#1147) as well as the ability to set this via the JSON's `display_defaults` (#1152) and performance improvements (#1153). Separate issues have been / will be created for remaining to-do items (e.g. #1154)

[2020-06-03 23:22] #1095 closed

[2020-06-03 23:57] jameshadfield opened #1155 "Allow "show transmissions" toggle to be defined via URL query"
**Context**

#1147 introduced a toggle to control whether we show transmissions on the map. #1152 allowed the state of this toggle to be set via the JSON. #1154 will make this toggle  This toggle is always present, regardless of whether the data is actually present in the tree. If transmissions are not defined by the tree, then the toggle has no real effect.

**Description**

We want the toggle st

[2020-06-04 23:17] jameshadfield commented on #1109
Auspice will do this automatically if there are more values than there are colours available. See https://nextstrain.org/zika?c=author for an example of this

[2020-06-05 01:29] jameshadfield commented on #888
@TAM360 unfortunately there's not. It would be nice to have. This issue turned out to be very simple to fix (essentially a one line change). If you let me know what aspects of auspice best suit your background I can recommend another issue and try to provide some background to help as needed.

[2020-06-05 02:34] TAM360 commented on #888
@jameshadfield I can't pin point the exact aspects of auspice I am comfortable with. I guess as long as it has a **good first issue** label, I'll be fine working on it. I also think that having a domain knowledge would be helpful too. So if I can get help in this aspect too, that would be great.

[2020-06-05 13:15] ldosse commented on #1108
Hello! I would like to help out with this issue but I am not sure I get it (also, first-time contributor).

My understanding of the issue is that your PR didn't catch the new changes on the Master. And since the CI runs on the PR branch, it used the old values.

Do you think a git pull from Master into the PR branch can be done first before running the tests or in case the CI fails? Alternatively,

[2020-06-08 00:47] #784 closed

[2020-06-08 00:56] rleir opened #1160 "Warning: scheduling a cascading update"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.
@jameshadfield James: This issue is a question not a bug report.   Thanks -- Rick
In tree.js    ( auspice/src/components/tree/tree.js )
 componentDidMount() calls  new PhyloTree(this.props.tree.nodes, "LEFT");
Why is this not called in the constructor? This is being done after the component has been put in

[2020-06-08 01:03] jameshadfield commented on #1160
The reason it's in `componentDidMount` not the constructor is that the DOM element which `renderTree` will render the tree into is created (by react) after the constructor code is run.

The Phylotree object might be able to be created in the constructor, but the tree cannot be rendered there. Placing all the code in `componentDidMount` seemed the simplest way to reason with this.

[2020-06-08 01:04] jameshadfield commented on #1160
Thanks for looking into this! Lots of performance improvements to be had here :)

[2020-06-08 01:23] rleir commented on #1160
James, thanks for the info. Let's link this to #955

All: The 'bug' label gets added automatically. Just saying this in case someone did not know.

[2020-06-09 04:12] #888 closed

[2020-06-09 04:16] #1139 closed

[2020-06-09 06:15] huaigulin opened #1161 "Required nodejs version issue"
Hi,

I noticed in the README, it says "Install auspice for use as a global command. This requires nodejs 10+."

But in [package.json](https://github.com/nextstrain/auspice/blob/master/package.json), the required node version is `10.8.x`. I think the correct way of saying "requires nodejs 10+" is `>=10.0.0`.

Updating package.json might introduce breaking change, so should we update README to refle

[2020-06-10 00:27] TAM360 commented on #1154
@jameshadfield I would like to work on this.

[2020-06-11 05:55] jameshadfield commented on #1161
Thanks @huaigulin, PR up to relax this requirement. Node 10.8 is a couple of years old now so I don't think there's need to specifically support previous versions, although I think it's likely they'd work.

[2020-06-14 11:58] emmahodcroft opened #1168 "Branch Colors Don't Seem to Change in Narrative"
**Current Behavior**
When changing the color-by in a narrative, the branches remain the same as the original colouring of the tree when the narrative is loaded.

Here is a narrative loaded up with 'clades' colouring - but then it switches to 'division' and 'nucleotide' colouring - however the branches remain the same colour.

![branch_color_narratives](https://user-images.githubusercontent.com/142

[2020-06-14 12:02] emmahodcroft commented on #1168
Oh - this is weird. If I mouse over branches I can often restore what colour they are supposed to have. It's like colouring-in!
![branch_color_narratives_recolor](https://user-images.githubusercontent.com/14290674/84592664-a73e2400-ae47-11ea-8570-c7cedb60abe4.gif)

[2020-06-14 20:44] jameshadfield commented on #1168
Thanks @emmahodcroft -- this is indeed a bug, and one we've had before and I thought fixed 😦.

Thie bug (as with a lot of bugs in narratives) is caused when the d3 tree rerendering doesn't use the newly computed colours, usually because multiple d3 updates happen at once. The branch-hover action "fixes things" because this triggers a d3 to redraw the branch using the appropriate colour.

[2020-06-14 21:05] rneher commented on #1168
this is probably connected to this slightly crazy internal diffing that we introduced ages ago in phyloTree, right?
https://github.com/nextstrain/auspice/blob/master/src/components/tree/phyloTree/change.js

At some point we might want to consider reorganizing this beast...

[2020-06-14 21:23] jameshadfield commented on #1168
Yes, this bug will probably be fixed by some modifications to `change()`, but that function exists to solve a lot of problems with the different underlying approaches of react & d3. These problems weren't too common when we were changing one piece of state at a time (e.g. via mouse clicks) but narratives, which change many pieces of state simultaneously, were unworkable. There was talk of using we

[2020-06-14 21:45] #1161 closed

[2020-06-15 05:49] #1168 closed

[2020-06-15 06:20] emmahodcroft commented on #1168
Thank you @jameshadfield !

[2020-06-16 05:58] charlie-jones commented on #1049
Hi, I can do a PR for this. My proposal is to use meta.display_defaults from recomputeReduxState.js to set the language in const defaults = {} from src/reducers/general.js.

[2020-06-16 06:01] jameshadfield commented on #1049
That would be great!

[2020-06-16 21:54] sinloes commented on #1154
I would also like to work on this if it is not already resolved. I was looking to implement this as part of a school project @jameshadfield. @TAM360 have you already implemented your changes?

[2020-06-16 21:55] sinloes commented on #1108
@jameshadfield I would also like to help with this as part of a school project. Where exactly do I start with something like this? Do I make a pull request?

[2020-06-17 00:22] TAM360 commented on #1154
@sinloes i am working on this issue already.

[2020-06-17 18:27] sidneymbell opened #1171 "Add a boilerplate privacy policy"
Detailing how we handle and protect user data through the various auspice deployment options (auspice.us, local instances, hosted community instances, groups, etc).

[2020-06-17 18:37] tsibley commented on #1171
:+1: for thinking about this! However, I don't think boilerplate will do here. Privacy policies are legal documents about how data is actually handled and need to be bespoke to what and where they cover. Boilerplate language is likely to be wrong, especially in descriptions of data handling. I do think we want policies for the nextstrain.org and auspice.us services, but they will likely need to be

[2020-06-17 22:25] jameshadfield commented on #1171
Agree that we want to be explicit about where data is being sent (very few places) and where data is being fetched from. This was the motivation behind [the auspice docs linked above](https://nextstrain.github.io/auspice/customise-client/requests). I don't think auspice needs much (any?) more. It would be good to write an auspice-us specific version and surface it on that site, which I can try to

[2020-06-17 23:24] sidneymbell commented on #1171
I suspect we need both documentation and an actual privacy policy.

Re: documentation, I'm writing up a thorough guide to all the different
options for visualizing with nextstrain, their respective use cases, and
privacy implications / suitability for use with sensitive data. Stay tuned.

Re: privacy policy, yes, this is a bit trickier. But, given that we *don't*
store, share, or analyze any user

[2020-06-18 00:01] tsibley commented on #1171
so, this should be fairly straightforward.

I don't have much experience here, but I guess I was thinking the privacy policy would have to cover specifics like data handling re: encryption at rest/in transit, who has access to data, how it is safeguarded, how deletions are handled, how backups are managed, what vendors have access to data, etc. Basically all the nitty gritty "protecting the data"

[2020-06-18 07:35] islekburak opened #1173 "Inconsistency between the count of data and unknown attributes"
**Current Behavior**
There will be inconsistency for the count of data information that auspice demonstrate at the bottom of the page, when we used "?" in a column of metadata for unknown demes instead of Nan.

**Expected behavior**
Normally augur trait module suggests to use "?" for unknown attributes to make analysis, but at the end of the analysis, when we visualize the final .json file with au

[2020-06-18 08:06] emmahodcroft commented on #1173
Hi @islekburak - thanks for reaching out! Are you performing a traits reconstruction on the location (city, I think)? If so, if you enter ? for missing information, this will be reconstructed - so any places that are missing a city, it will try to guess what city fits these sequences. Using NaN means these will not be reconstructed. Could that be what's happening here?

[2020-06-18 20:57] jameshadfield commented on #1173
We need to update [the augur docs](https://nextstrain-augur.readthedocs.io/en/stable/usage/cli/traits.html#what-about-missing-data) for this. I typically use an empty string for missing data, which will not be inferred by `augur traits`, but "NaN" seems like it also works :)

[2020-06-18 22:12] #1155 closed

[2020-06-19 14:12] emmahodcroft commented on #1173
James, if I were to update this, is correct to say that `?` is inferred, but any other values are not? That we suggest using an empty space if you don't want a value to be inferred? Are `NA`, `unknown` etc still interpreted as separate values? I think we changed this, but can't quite remember...

[2020-06-19 14:56] islekburak commented on #1173
Thanks for your consideration.
@jameshadfield I believe that using "?" instead of empty strings, changes the predictions and estimations of augur traits module analysis. By the way using "?" as suggested in augur docs, will give us more reliable and confident results.
@emmahodcroft In this manner, the phylogenomic & time-resolved tree analysis would be considered as correct while using "?", but no

[2020-06-19 20:32] dos077 commented on #1115
This seems to be a bug with React. I poke around the code a bit and looked at some Chrome memory snap shots. Every time the user switch to another virus a new Tree component is render. It seems like the old unmounted Tree components and their Phylotree children remains in the memory, and they can get pretty big pretty soon.

Issue can be replicated by switching between viruses then open up chrome

[2020-06-19 22:56] rleir commented on #1115
Hi James @dos077 Maybe we should not blame it on React. The warnings below from DeepScan have been outstanding for a while, and could be causing the leak by holding on to a reference to the tree after an unmount. I did not have time to track the fix down.
thanks -- Rick
[code]

[2020-06-20 02:32] dos077 commented on #1145
The query is erased by a dispatch from EntropChart.prototype, defined in entropyD3.js:

![Annotation 2020-06-19 222929](https://user-images.githubusercontent.com/45016741/85189361-6b0e2780-b27c-11ea-82df-08ac0c02ac1f.jpg)

When I commented out the highlighted code the URL query stays. I don't understand the motive behind why this line was there in the first place.

[2020-06-20 03:28] dos077 commented on #1115
I tested out the demo case in React's issue tracker and even with a simple function component that just with no useEffect, the unmounted component still stayed in memory. So the bug in React is real but it may not be directly related to this issue.

The componentDidMount call doesn't directly add any event listener, but the PhyloTree render call renders out elements with callbacks on events. I am

[2020-06-20 10:45] emmahodcroft commented on #1173
@islekburak , I'm not sure how using blank values will give you 'false positives' - but maybe I'm not understanding. In this, for the location data, from the sound of what you're doing, I'd suggest indeed leaving these locations blank rather than using `?`. I don't think you want to be trying to reconstruct the city that a sample comes from - this is unlikely to be very reliable for SARS-CoV-2 seq

[2020-06-20 17:13] dos077 commented on #1145
After looking over the comment again, I think maybe the blanket else statement should be replace with an elseif, to make sure the zoom coords are not erase accidentally:

else if (
        d3event.sourceEvent.target.id.match(/^prot/) ||
        d3event.sourceEvent.target.id.match(/^nt/)
)

Should be what the comment is intended?

[2020-06-22 09:21] Silberbaer opened #1174 "Metadata not showing in "Color by" column when interactively dropping tsv/csv into browser"
When loading a Tree in Auspice and adding Metadata according to the documentation [here](https://nextstrain.github.io/auspice/advanced-functionality/drag-drop-csv-tsv) by dropping it into the browser correctly identifies all the columns and rows and adds them to the tree nodes, but does not add any of the columns to the "Color By" selection box. I tried csv and tsv files and both are being correct

[2020-06-22 11:44] emmahodcroft commented on #1174
Hi @Silberbaer - sorry to hear you're having trouble! I'm not sure why adding things via drag-and-drop isn't working with the "Color By" selection - @jameshadfield might be able to help with this better than I can!

However, if you're happy for this information to go into the main metadata file, that might be an easier way for your to proceed. You can use a text-editor to add a new column to the `

[2020-06-22 13:01] Silberbaer commented on #1174
Hi @emmahodcroft - Thank you for this workaround. I got it to work with the whole metadata file by specifying all the columns in a auspice_config.json and have also all the colorings available in the webinterface.

[2020-06-22 13:05] emmahodcroft commented on #1174
I'm so glad to hear it's working for you!

[2020-06-22 13:05] #1174 closed

[2020-06-22 22:28] jameshadfield commented on #1173
My understanding (from a few months back) is that
* `"?"` is inferred. I.e. a tip with `?` will be given a value (and associated confidences) in the resulting JSON.
* `""` (empty string) is ignored by `augur traits` -- i.e. a tip with this value will not be inferred, and it will not inform the ancestral node's inference.
* Any other string is a valid value. This may not be true -- e.g. `"NaN"` or

[2020-06-23 03:37] jameshadfield commented on #1115
I can believe that this is being caused by the `onHover` & `onClick` handlers within the `<Tree>` component not being properly cleaned up when we unmount. Thanks for looking into this!

Yes. In short, they are there because we have to wait for d3 transitions to finish first. I once implemented a system to keep track of each (individual) transition and then run the code currently implemented in a t

[2020-06-23 07:18] TAM360 commented on #1154
@sinloes you can work on this issue.

[2020-06-23 18:20] danherre commented on #1154
@sinloes and I are working on this issue together. We are thinking of doing something similar to what setupTransmissionData does in mapHelpersatLong.js and cause showTransmissionsToggle to change as a result of change in georesolution. We are thinking of making the change in modifyControlsStateViaTree within recomputeReduxState.js but we're confused about what the tree in this function is referrin

[2020-06-24 04:07] charlie-jones commented on #1049
Hey again -- so sorry for the delay. My steps for this were to import the JSON directly to general.js; that way, a function there can easily parse it to get a newly added language parameter (similarly to how recomputeReduxState.js works). I'm having trouble though finding the display_defaults data json (in augur - schema-export-v2.json) info that recomputeReduxState.js uses. Anyone know how to imp

[2020-06-24 20:19] eharkins opened #1176 "Drag and drop tsv metadata not adding color by option to dropdown"
**Current Behavior**
From @trvrb :

**Expected behavior**
Drag and drop should work to add a color by option to the dropdown upon dropping and parsing a TSV. This works on auspice.us

**How to reproduce**
Reproduce bug:
1. On current master, run `auspice view --datasetDir examples` and go to `http://localhost:4000/minimal/v2`
2. When that has loaded, drag and drop https://gist.github.com/eharkins/

[2020-06-24 20:59] jameshadfield commented on #1176
It used to (and still should) work in auspice by itself, so bisecting (perhaps from 2.12 which auspice.us is running) should identify the commit which breaks it.

[2020-06-24 22:03] jameshadfield commented on #1176
Bisecting indicates this is 20d8439c6b618bfb4df629d738332033816d75ed, which makes sense: the new coloring is being correctly added to the redux state as an available option, but the drop-down is not being updated due to the `shouldComponentUpdate` code introduced in that commit. This also explains why the TSV-derived color-by option magically appears in the dropdown once you change the color-by to

[2020-06-25 00:23] eharkins commented on #955
For an example case of where it could be good to use [PureComponent](https://reactjs.org/docs/react-component.html#shouldcomponentupdate) to improve performance while allowing for needed updates, see #1176 , specifically:

It would be good to think about this at a high level (not limited to that example) to come up with an approach to this problem which uses React tools consistently, or as @jamesh

[2020-06-25 04:08] jameshadfield commented on #1174
@Silberbaer -- the CSV/TSV not working was a bug with auspice which has been fixed in v2.17.1. The new version should be up on nextstrain.org very shortly!

[2020-06-26 16:56] charlie-jones commented on #1049
I'm going to move on from this issue. For others reviewing this issue -- feel free to refer to the steps above for inspiration and please try making a PR.

[2020-06-26 20:17] eharkins commented on #1145
Thanks @dos077 ! Reopening until I can break up this super-issue into sub-issues since your fix is only a piece of the puzzle here.

[2020-06-26 23:23] eharkins opened #1179 "shift,option+mouseWheel zoom bugs in entropy panel"
**Current Behavior**
Breaking this out from #1145

[relevant code here](https://github.com/nextstrain/auspice/blob/master/src/components/entropy/entropyD3.js#L526)

It looks like the keys that allow you to zoom on the entropy panel by scrolling are actually `shift` and `option`.

`shift` + scrolling doesn't update the zoom visually or in the query for me.
`option` + scrolling updates the zoom visu

[2020-06-26 23:26] eharkins commented on #1145
@jameshadfield after #1175, the query remains after the entropy is toggled off. Is this what we want? If not, I think it would be easy enough to add some code to redux reducers and/or middleware to clear out things like this on the TOGGLE_PANEL_DISPLAY action that gets dispatched when toggling on/off panels.

[2020-06-27 00:37] sidneymbell commented on #1036
So, clearly this fell off my to-do list. Sorry, folks.

I did spend quite a bit of time considering an implementation approach, though. I'd propose the following:
- In _augur_: Add a top-level entry to the exported JSON: `{dataset_id: <defaults to timestamp>, ...}`
- In some reducer in _auspice_: `state.dataset_id = json.dataset_id ? null`
- When a node is selected:
  - `if !node.isclade  & datase

[2020-06-28 14:20] rleir commented on #1115
@jameshadfield Hi James, You don't have to wait in some cases. Define layers as explained in this Stackoverflow post [1]. In my mind, the code would be better without the timeouts.

@dos077 Hi James, agreed about anonymous functions. I see too many in stack traces. When I want to find something in the src tree using grep, they are a problem. And code readability suffers when the function is invoke

[2020-07-01 21:35] tsibley commented on #1036
I don't think a dataset id is necessary if we use the method I outlined above for assigning single-use universally unique names to internal nodes. The benefit of this approach is that its transparent to most Nextstrain components, i.e. nothing needs to know about a special dataset id.

On the other hand, adding a single-use dataset id does mean that internal node names don't need to change, howeve

[2020-07-02 00:03] eharkins commented on #1049
Hi @charlie-jones, thanks for working on this! I think I would start in the same place as you, i.e.

However, I'm not sure I understand the following:

I think instead of importing the JSON directly into the redux reducer, you should be able to make use of a pattern similar to existing ones for setting display defaults in the function `modifyStateViaMetadata`  in recomputeReduxState.js with the di

[2020-07-02 01:16] sidneymbell commented on #1036
Yeah for sure. My main thought was to avoid increasing the json file size
too much, but if we're not worried about that, I'm all for the uuids :)

On Wed, Jul 1, 2020, 2:36 PM Thomas Sibley <notifications@github.com> wrote:

[2020-07-02 02:17] dos077 commented on #1115
@rleir I am not sure if layering is the right approach to the current timeout issues, since the desire effect is to manipulate the existing layer to animate the tree transitions. I suspect d3js or svg should have some kind of callback chain, but again, not personally familiar with it and the existing codes are pretty intricate and delicate.

@jameshadfield I think the easier improvement to the cur

[2020-07-02 02:28] rleir commented on #1115
I like the clearAll idea.

D3 can have CSS transitions but the tree transitions would be too complex for CSS I suspect.

[2020-07-02 23:17] tsibley commented on #1036
too much, but if we're not worried about that, I'm all for the uuids :)

Ah, good consideration! Some quick back of the envelope math:

The current `ncov_global.json` contains 2,552 internal nodes (name starts with `NODE_`). Those names are currently 12 characters long. The new UUID-based names would be ~27 characters long. In UTF-8, those chars are 1 byte each.

[code]

Out of a 31MB file (uncomp

[2020-07-02 23:27] trvrb commented on #1036
Thanks everyone for thinking through this. I like the UUID node name strategy. Very clever. I agree with the strategy outlined by James in the May 3 post: https://github.com/nextstrain/auspice/issues/1036#issuecomment-623263664 as the general way to tackle things.

[2020-07-04 02:28] dos077 commented on #1115
I coded the timeoutQueue with add/remove/clearall. Should be flexible to switch all setTimeout to it. Also added a unit test for the module for documentation/future maintenance. If it looks good I am going to switch all the component timeouts to it:

![timoutQ](https://user-images.githubusercontent.com/45016741/86503462-5782b680-bd7c-11ea-9640-cd4d61d19853.jpg)
![timeoutQtest](https://user-images.

[2020-07-08 01:11] rleir commented on #1115
nice code. I wish it was not in an image tho, you can format it in markup using three back-ticks (this is your code from above):
[code]
But this is not colorized as your image is.

[2020-07-08 01:22] rleir commented on #1132
I am trying out a few things along these lines. First, I need to make a simplified build with only the tree running in React. Auspice is a big complicated project. If I can improve the tree on its own, then we can find a way to fit the changes into the complete build. @jameshadfield James, do you have a trimmed build for when you are working on the tree? I am several steps down this path already.

[2020-07-08 01:32] rleir commented on #1132
@trvrb blab/sars-like-cov seems a bit more usable at first glance. Is this mostly due to having a smaller amount of data? I would like an overview of the differences compared with the Auspice project please

[2020-07-08 15:12] trvrb commented on #1132
Thanks for looking into things @rleir. The tree at https://nextstrain.org/groups/blab/sars-like-cov / https://nextstrain-blab.s3.amazonaws.com/sars-like-cov.json is pretty small, though I often work with https://nextstrain.org/zika / http://data.nextstrain.org/zika.json if I want a smaller test case to experiment with.

[2020-07-08 21:28] tsibley opened #1180 "Stop using response.statusMessage for error messages"
**Current Behavior**
Auspice's CLI and documentation uses `res.statusMessage` (where `res` is an Express response object) to pass freeform error messages to the client/browser/user. However, [`statusMessage`](https://nodejs.org/api/http.html#http_response_statusmessage) is a low-level protocol field which controls the non-numeric part of the [HTTP status line](https://tools.ietf.org/html/rfc2616#s

[2020-07-08 23:33] tsibley commented on #1180
The client/browser side of Auspice will need to start using the response body as well instead of `response.statusText`.

[2020-07-13 03:04] #1180 closed

[2020-07-15 04:50] jameshadfield opened #1184 "Add SARS-CoV-2 narratives example"
https://nextstrain.github.io/auspice/narratives/introduction should be updated to include references to the SARS-CoV-2 situation reports.

[2020-07-16 01:36] jameshadfield commented on #1154
Hi @danherre @sinloes -- I hope you were able to make some progress without me. Am I right in thinking your plan is to set this redux state such as `reduxState.controls.currentGeoResDefinesTransmissions` when the change in geo-res changes _and_ during `modifyControlsStateViaTree` on initial load but using a algorithm similar to that found in `setupTransmissionData`?

The following sketch may help

[2020-07-17 00:10] hangzho commented on #1179
Hi @eharkins, I'm new to this project. I've created a potential solution in my PR to fix this issue. Let me know if you have any questions or suggestions. Thanks.

[2020-07-20 22:53] trvrb commented on #1176
I believe this was resolved?

[2020-07-20 22:54] #1176 closed

[2020-07-21 18:36] eharkins opened #1190 "core-vendors and other-vendors chunks have different hashes building locally vs GitHub CI"
Creating this from https://github.com/nextstrain/auspice/pull/1172/commits/de9439f121f573231ceb2db8c19c6a45d3fb9a6c

This isn't my area of expertise so apologies for any inaccurate info.

**Current Behavior**

**Expected behavior**
Github CI bundle hashes are the same as local if nothing has changed.

**How to reproduce**
cc @jameshadfield who identified this bug. I haven't had the chance to repro

[2020-07-21 18:56] eharkins commented on #1190
Maybe closed by https://github.com/nextstrain/auspice/pull/1172/commits/b343979d97f5e077daf546d4f1a05c26fa4fff3b ? If so, sorry for jumping the gun before reading on in that PR.

[2020-07-25 20:09] trvrb opened #1191 "Zoom into animation has broken"
**Current Behavior**
When zooming into a clade, the tree now snaps to the zoomed clade rather than doing a proper zoom animation. Interestingly, when "reset zoom" is run the zoom out animation occurs as intended. This bug in behavior can be ready seen in https://nextstrain.org/zika or https://nextstrain.org/groups/blab/sars-like-cov. I think it was missed in https://nextstrain.org/ncov/global, jus

[2020-07-28 01:58] jameshadfield commented on #1191
Good bug! We keep track of when the previous tree manipulation happened, and if it was within the last second then we don't transition (for performance reasons). This bug appears to be due to a branch-hover event being incorrectly counted as such a manipulation (wasn't the case in v2.4). If you hover on a branch for over a second before clicking you'll see it zooms as desired. Should have a fix us

[2020-07-30 18:24] IamAkku opened #1195 "Add a guest post to your website."
As I gone through the website there is no option for guest post. I think this website must have a guest post option so that people coming to this website can write blogs and give their vailuable contribution as opinion or by writing  blogs related to the scientific and public health potential of pathagen genome data.After a guest post the owner of website may review their blogs regarding any menti

[2020-07-30 20:36] emmahodcroft commented on #1195
Dear @IamAkku, Thank you for your idea and reaching out, but this isn't a direction we're going to be introducing. We are primarily not a blogging or posting site, but instead focused on phylogenetic visualisation, with some commentary on what that means, and tools and information for how to make use of our software and services. Best wishes.

[2020-07-30 20:36] #1195 closed

[2020-08-03 02:43] #1191 closed

[2020-08-03 02:57] #1179 closed

[2020-08-03 21:40] jameshadfield opened #1196 "Allow space between paragraphs in narratives"
`<p>` elements lack padding / margins when rendered

[2020-08-04 01:50] #1196 closed

[2020-08-26 21:49] #1124 closed

[2020-08-27 23:11] batson opened #1201 "Add "Label By" dropdown for labeling nodes by attributes other than `name`"
**Context**
We would like to be able to label nodes with attributes other than their `name`. Uses:

* A user has drag-and-dropped a file linking public identifiers to patient names onto auspice, and they would like to label the nodes by the patient names.
* Nodes have multiple name-like fields, such as the public GISAID name, a lab accession number, and an ID used by a partner institution. It woul

[2020-09-16 23:11] sidneymbell commented on #916
+1 for this issue -- we've gotten a lot of requests from public health departments.

@ntaft -- is this something you're still interested in working on, or would it be useful to have someone else help or take this on? No worries either way, just wanted to follow up and update the issue :)

[2020-09-18 16:47] ivan-aksamentov opened #1208 "Auspice crashes when sequence name contains characters that are not allowed in CSS selectors"
**Current Behavior**
Auspice crashes when sequence name contains characters that are not allowed in CSS selectors.

The following errors are shown in the console:
[code]

**Expected behavior**
Auspice never crashes.

**How to reproduce**
Steps to reproduce the current behavior:
1. Have a tree JSON with a sequence named `some<unsafe|html/characters:here`
2. Drop this JSON onto auspice.us
3. Mouseho

[2020-09-20 19:34] charlie-jones commented on #1049
Hi @eharkins, thank you for your help! I'm sorry I didn't work on this for a while, but I truly appreciate your help/advice. I implemented it and then made a pull request (https://github.com/nextstrain/auspice/pull/1211), but I haven't tested the code on the test JSON because I couldn't figure out how to run it. I'm hoping the code helps, and if I find out how to run the test JSON, I can work on i

[2020-09-22 00:43] sidneymbell opened #1212 "ALL text formatting broken after any HTML in narratives"
Expected:
`<p>some **bold** text</p>` --> some **bold** text

Observed:
* `<p>some **bold** text</p>` --> `some **bold** text`
* `</p> some **bold** text` --> `some **bold** text`
* `</p> some <b>bold</b> text` --> `some  text` (missing!?!?)

Example:
https://github.com/nextstrain/narratives/blob/master/interpretation-examples.md
https://nextstrain.org/narratives/interpretation-examples?n=4

[2020-09-22 05:17] ivan-aksamentov opened #1213 "Old browsers crash on unpollyfilled Promise"
**Current Behavior**

Old browsers crash when loading nextstrain.org main page due to an unpolyfilled Promise object.

The affected browsers:

 - Internet Explorer (all versions)
 - Edge (pre-chromium)
 - Firefox, Chrome, Android, iOS before circa 2014-2015

All these browsers do not support `Promise`: https://caniuse.com/promises
(about 5% of general audience as of September 2020)

This `Promise`

[2020-09-22 06:07] ivan-aksamentov commented on #1208
It is probably safe to say that this particular issue is fixed in #1209. And if there are more problems that we can open more issues.

[2020-09-22 06:07] #1208 closed

[2020-09-28 03:07] jameshadfield opened #1215 "Smoke testing is currently broken on GitHub Actions"
**Context**

We use smoke testing (`npm run smoke-test:ci`) to test, at a high level, that certain datasets are rendered as expected. For instance, the title of the "/ncov/global" dataset is "Genomic epidemiology of novel coronavirus - Global subsampling" and we smoke-test this by ensuring that the phrase "novel coronavirus" can be found when the page is rendered (as defined here https://github.co

[2020-09-28 19:49] razsultana commented on #1036
Hi!
I am a bioinformatician who just started working for the department of health in Hawaii a few weeks ago.
I have ran a few local nextstrain builds that include data not submitted to GISAID and started writing a few narratives for a larger audience (public health officials, epidemiologists).
The zoom feature that Sidney requested in this issue seems essential to communicate observations about pa

[2020-09-28 20:14] jameshadfield commented on #1036
Hi @razsultana -- as far as I'm aware no progress has been made on an implementation. For an immediate solution you could manually label the nodes you wish to zoom to in the tree (see [this comment](https://github.com/nextstrain/auspice/issues/1036#issuecomment-607545908)).

[2020-09-29 01:08] razsultana commented on #1036
Thanks, @jameshadfield !
Adding an "internal_node:my_node" label is a very quick fix and it works, but editing a 85MB json file can be tricky (finding the exact branch that you want modified).

In fact, I used an already existing branch attribute - the "mutations": {"nuc":["A20268G"]} one (which is also part of the definition of an emerging clade) - to find that particular branch that I wanted lab

[2020-09-29 09:43] rneher commented on #1036
In our Switzerland build, we label all branches with mutations to allow useful zooming in most cases:

https://github.com/neherlab/ncov-swiss/blob/master/swiss_profile/localrules.smk#L6

https://github.com/neherlab/ncov-swiss/blob/master/scripts/add_labels.py

[2020-09-29 19:40] razsultana commented on #1036
That is wonderful, Richard! Problem solved.

This is another example of convergent evolution, towards the solution that solved an urgent problem using the least amount of energy :) And in my case the energy was almost none, because of the lateral gene transfer - thank you, Richard!

BTW, can I just say that your software (augur, auspice, nextstrain website) is awesome!
I think the science world is

[2020-09-29 19:42] rneher commented on #1036
Glad it helped! thanks for your kind words!

[2020-10-07 01:21] #1213 closed

[2020-10-11 21:37] jameshadfield opened #1219 "Narratives with overflowing text are hard to interact with"
**Current Behavior**

Narratives in non-mobile view, which have enough text in the sidebar such that the content "overflows" are very hard to interact with. The content is visible by scrolling down, however often this scroll event goes "too far" and results in the narrative advancing to the next slide.

This is compounded by the appearance of the "down chevron" even when text on the current slide

[2020-10-12 09:33] emmahodcroft commented on #1219
Thanks for making an issue for this, James! I've noticed it myself and sometimes it's caused me some issues. If it's possible to do, I'd vote for making the chevron scroll into view if text has overflowed. Scrolling with the mouse wheel is nice, so it would be good to preserve that if we can. But depends a bit how hard (b) is, I suppose!

[2020-10-22 16:18] jcw349 commented on #511
We use the tip-click feature a lot, but I think if the panel is off to the side will be better.

Also, tangentially related, right now when we click on the tips, it will toggle a specific location on the map, but the reverse (clicking on map demes) doesn't toggle the enlarged tips, it's only temporary as long as you're hovering.   It will be really useful for the tips to stay enlarged after clicki

[2020-10-22 16:27] jcw349 commented on #280
Are there plans to implement this still? I think it will help visualize local cases.  As of now, when we hover our mouse over small demes, the mouse misses the circle and nothing happens.

[2020-10-22 16:40] jcw349 opened #1222 "Clickable demes to toggle tips highlighting."
Right now when we click on the tips, it will toggle a specific location on the map, but the reverse (clicking on map demes) doesn't toggle the highlighted/enlarged tips, it's only temporary as long as you're hovering.

It will be really useful for the tips to stay enlarged after clicking on the deme. We would be able to use the mouse to hover over the enlarged tips to see more info about the selec

[2020-10-24 18:42] jaredroach opened #1223 "setting "color_by" in the json file to "clade" doesn't work on Auspice.us; but setting it to "location" does work"
**Current Behavior**
A clear and concise description of what is happening / what the bug is.

when I edit the json file for auspice from

the default
 "color_by": "division",
to
 "color_by": "location",
then I get the nodes colored by location
which is good and expected

but when I edit it to
 "color_by": "clade",
I get the nodes colored by country
I can manually change it to clade once the file i

[2020-10-25 21:00] jameshadfield commented on #1223
Hi @jaredroach - this should work if you use `"color_by": "clade_membership"`.

The reasoning is a bit of a historical tangent, but the [key (in the JSON) for clades](https://docs.nextstrain.org/en/latest/augur/docs/releases/migrating-v5-v6.html?highlight=clade_membership#colorings) is actually `clade_membership`. One way of seeing this is to select "clade" as the coloring within auspice and notic

[2020-10-25 21:00] #1223 closed

[2020-10-27 20:19] emmahodcroft opened #1224 "Normalized Frequency Panel Doesn't Respond to Date Sliders When Zoomed to Clade"
**Current Behavior**
When zoomed in to some clusters (possibly particularly ones that have more recent common ancestors), with the "Normalize frequencies" option turned `on`, moving the date-sliders does not have any impact on the frequency panel shown.

It seems like if "Normalize frequencies" is `off` then this worked as expected. If you toggle between the two, the normalized frequencies seem to

[2020-10-27 20:27] emmahodcroft opened #1225 "Frequency Panel Shows 'All Equal' Before Estimated Date of Ancestor on Zoomed-in Cluster"
**Context**
This is an improvement of the current frequency panel view, when "Normalize Frequencies" is turned `on`.

**Description**
Currently if you zoom in to a more recent cluster, then for any dates prior to the estimated most recent common ancestor (MRCA of that cluster, the frequency panel (with "Normalize frequencies" `on`) will show all available option as equally likely. This could be ve

[2020-11-03 07:22] nitha26 commented on #1015
I am also facing issue similar to @terrycojones  ``$ npm install --global``.  How to solve this and install auspice in centos7 machine.
Thanks.

[2020-11-03 18:02] nitha26 opened #1227 "Auspice installation Error from source"
Hi,
I tried to install auspice from source in centos7. I followed the steps described in https://nextstrain.github.io/auspice/introduction/install (Installing from Source).

I am not able to install auspice system-wide. Please help me to install @jameshadfield . Attaching the command line used and installation log file.
[auspice.txt](https://github.com/nextstrain/auspice/files/5483138/auspice.txt)

[2020-11-03 19:32] jameshadfield commented on #1227
I would guess it's due to a missing space in the install command -- instead of `npm install -g.` we want `npm install -g .` -- if that's not it then I'll dig deeper!

[2020-11-09 09:33] nitha26 commented on #1227
The problem was because of ``node: 'v15.0.1', npm: '7.0.3'``. I have downgraded the version and now aupice is installed and it works. @jameshadfield Thank you!

[2020-11-09 09:33] #1227 closed

[2020-11-10 03:19] jameshadfield commented on #1227
Glad you got it working! Nodejs 15 isn't yet on conda for MacOS but when it is I'll make sure auspice works on v15

[2020-11-18 03:19] jameshadfield opened #1230 "Improve performance of sidebar filtering display"
https://github.com/nextstrain/auspice/pull/1200 implemented sidebar filtering, however this is laggy for large datasets. Debouncing / throttling should reduce this dramatically & there may be other improvements here.

[2020-11-18 20:05] trvrb commented on #1230
For me, the lag to display filter list is not at all an issue. However, the lag for characters typed to appear in text box is a bit frustrating. I don't know what's best here technically, but I could imagine a fixed debounce at ~500ms might still catch people mid-typing of their filter term. Perhaps there's some way to only start filter look up when it appears that typing is finished.

[2020-11-19 02:37] jameshadfield opened #1233 "Improve matching algorithm of filter UI"
The filter search box (see https://github.com/nextstrain/auspice/pull/1200) currently matches on the [label key](https://github.com/nextstrain/auspice/blob/master/src/components/controls/filter.js#L99). Values of these look like
[code]

The matching algorithm behind React Select seems to require complete matching of the provided string in that list (case insensitive). So, for instance, `new zealan

[2020-11-21 01:08] cassiawag opened #1235 "Add "Download Filtered Tree" option"
**Context**
Under "Download Data" in Auspice, you can currently download selected metadata as a TSV, or a Newick divergence or time tree. However, it'd be nice to download a Newick tree with only the selected strains. This would improve interoperability of Nextstrain when someone wants to explore a subset of a larger tree in a different program (e.g. epidemiologists wanting to look at an outbreak

[2020-12-02 11:33] rneher opened #1238 "We should not guess divergence unit"
**Current Behavior**
There are different options for divergence units: "substitutions" and "substitutions per site". We currently guess these pretty adhoc:

https://github.com/nextstrain/auspice/blob/master/src/components/tree/phyloTree/renderers.js#L370

We need to

 * export the divergence unit in refine
 * add it to the schema
 * export it from augur
 * parse this in auspice.

[2020-12-04 21:13] sidneymbell commented on #1201
Bumping this :)

[2020-12-10 01:17] jameshadfield opened #1239 "Filters should dynamically update when additional metadata is added"
Currently the available filters are [set upon dataset load](https://github.com/nextstrain/auspice/blob/master/src/actions/recomputeReduxState.js#L197-L208) and are the values specified in the `JSON.filters` array as well as "strain".

Upon loading additional metadata (via drag & drop functionality) we should add all color-bys (columns in the TSV/CSV) to the available filters. This may necessitate

[2020-12-10 01:36] jameshadfield opened #1240 "ancestral branch thicknesses (below CA) should be minimal"
~This issue may represent two independent problems, but I suspect they are highly related.~

1. Upon filtering the data, all branches ancestral to the common ancestor of the selected strains should have minimum thickness. These branches are circled in the following screenshot.

~2. Upon filtering the data, the tree should zoom in to the CA node - in other words, the same behavior as if one clicked

[2020-12-10 02:52] jameshadfield opened #1241 "Explore how to add context to filtered selection"
A common use case of auspice is to filter to a set of samples (e.g. https://nextstrain.org/ncov/europe?f_country=Spain&label=clade:20A.EU1) and wish to understand them in context.

A possible approach is to mirror the priority calculations currently used in our [nCoV subsampling](https://github.com/nextstrain/ncov/blob/master/workflow/snakemake_rules/main_workflow.smk#L352-L430) and allow users to

[2020-12-10 03:02] jameshadfield commented on #1235
Thanks Cassia! Notes from talking through this today:
* The root of the exported tree should be the CA of the selected strains. Related to #1240
* If the tree is zoomed, then we should only export the visible tree (i.e. the root of the exported tree is auspice's "in-view" root node).
* If we add contextual sequences (#1241) these should be included in the exported tree.

[2020-12-10 03:04] jameshadfield opened #1242 "Adding metadata should automatically filter the tree"
If metadata is dragged onto auspice, then we should filter the dataset to those samples included in the CSV/TSV file.

As a shortcut: once #1293 has been closed, then adding a column to the CSV with the same value for all samples (e.g. `"additional": "yes"`) should allow one to filter the data by this trait.

[2020-12-10 03:15] jameshadfield commented on #1230
Closed by https://github.com/nextstrain/auspice/commit/868179b1b629aea67c7c6894840d51f88dc0e49b

[2020-12-10 03:15] #1230 closed

[2020-12-10 05:59] trvrb commented on #1240
I considered (2) previously and even implemented it, but felt that it was too "jumpy" especially for things like date slider interactions and you'd lose your place. I think I'd still recommend a "zoom to selected" button in the tree panel to accomplish this.

[2020-12-10 06:11] trvrb commented on #1242
I'm not sure about this one actually. I'm picturing the scenario of dragging on a tsv with ~500 strain designating outbreak clusters onto the ~2000 tip SARS-CoV-2 tree. I don't want to clog up the top title area with 500 individual strain toggles. Or were you picturing some other UI here? Perhaps adding an additional "filter" that is `Drag-n-drop strains` or some such that is initially activated?

[2020-12-10 06:16] trvrb commented on #1235
All this sounds good. I'd be pretty firm between what's selected and what's not. If tips are shown they and their ancestors (back to the common ancestor) should be present in the exported filtered tree. Ie "contextual sequences" would be just as selected as other tips when active.

[2020-12-10 09:21] emmahodcroft commented on #1235
I'm ok with all of this. One comment (which I guess we can't prevent but should keep in mind for users) is that the filtered tree may not be the same as the tree you'd get if you ran it from scratch, with just the filtered sequences.

[2020-12-10 09:25] emmahodcroft commented on #1242
I'm not sure about this one either. If I've got datasets where I have extra meta I often drag this on 'straight away' so that it's there, but that may not necessarily mean I want to filter by it straight away - I'm often going to look at multiple things, many of which involve all the sequences - I just like to get 'set up' right from the start and then do all my 'looking'. But I accept this is jus

[2020-12-10 09:28] emmahodcroft commented on #1240
I agree with 1 but I also have concerns about 2. I think this could get really jumpy and I'm also not sure if it is always desired behaviour. Often (now that filters can turn on and off more easily) I'm flipping these on and off pretty fast for various countries in Europe (for example) and part of what I'm looking at is how they distribute across the tree, part of tree, or cluster that I've zoomed

[2020-12-10 09:30] emmahodcroft commented on #1241
I'm not sure I understand the issue here - is this just... tips to make visible? Could you not just zoom in to part of the tree (which is, in itself, a genetic filter, in a way) and then turn the filter for country off? (Then once the other issues are resolved, download just that part of the tree, etc?)

[2020-12-10 17:08] allenkj2 commented on #1242
I don't know if I would necessarily like them filtered either, the filtering is a little cumbersome because you can no longer see the nearby tips even when you zoom in all the way, so I end up removing the filters once I'm zoomed in so I can actually see the surrounding tips.

I would like it if those without the additional metadata would not show over top of the metadata colored ones - they are a

[2020-12-10 17:28] allenkj2 commented on #1132
I think this would be really helpful! NCBI added this type of feature to their pathogen detection portal and I found it really helpful for zooming in on areas of interest especially on some of the 5000+ Salmonella isolate trees. They call it 'common subtree' and in their interface it opens a new tab with a new subtree, but I think the collapsing option proposed works well.
![image](https://user-im

[2020-12-10 21:24] jameshadfield commented on #1242
Thanks for comments 💯

This is along the lines of the UI I envisioned - adding a new metadata trait which one can filter on, and which is activated automatically when a file is dropped on. Feedback from @cassiawag was that it was that labs need to focus on a (often large) set of sequences and see them in context. Being able to quickly toggle on/off this filter is a nice way to achieve this (in my

[2020-12-10 21:42] jameshadfield commented on #1240
Thanks both! Sounds like the best course of action is to not implement (2) here, instead going with #1132

[2020-12-10 21:46] trvrb opened #1243 "Deselecting a single strain doesn't remove the info panel overlay"
**Current Behavior**

With new filters behavior (implemented in #1200) clicking on a single tip in the tree adds this single tip as a "filter" and covers tree with gray info panel overlay, like so:

<img width="992" alt="tip-selected" src="https://user-images.githubusercontent.com/1176109/101833280-98ca7f80-3aed-11eb-99d0-ab1124d6d9dd.png">

This behavior is as intended. Once in this state you can

[2020-12-10 21:47] jameshadfield commented on #616
This functionality was implemented in Auspice 2.19.0 via https://github.com/nextstrain/auspice/pull/1197

[2020-12-10 21:47] #616 closed

[2020-12-11 01:12] cassiawag commented on #1242
Thanks for this James! I agree with others in that I don't think it needs to _automatically_ be filtered to drag-n-drop metadata, but having a quick way to _choose_ to toggle on filtering to metadata would be awesome!

[2020-12-11 01:24] cassiawag commented on #1241
@emmahodcroft: This doesn't work well for when you're investigating outbreaks that are epi-linked, but not actually genetically linked. For example, if I'm exploring outbreaks at a facility, and there are two separate introductions in the facility. I'll have to pan out, find where my two introductions + outbreaks fall on the tree, zoom in separately to each introduction to see what's related. It w

[2020-12-11 18:59] allenkj2 commented on #1242
Thank you for nicely pointing out that I didn't actually read all the documentation on the filtering, that is a really helpful feature. I don't see the "eye" icon next to the filter group - is it possible to turn all filters off/on in a similar manner? I often will have quite a few filters turned on and it would be nice to turn them off/on in one click instead of finding each one individually.

[2020-12-11 19:34] cassiawag commented on #1242
@allenkj2 The toggle filter on/off should show up above the tree:
![eye_filter](https://user-images.githubusercontent.com/41387591/101947113-c8888e80-3ba4-11eb-893a-3288108d98bd.PNG)

[2020-12-11 20:16] allenkj2 commented on #1242
@cassiawag That works individually, but if I have multiple sequences filtered there's not the 'eye' option over on the left nav. to inactive a group.
![image](https://user-images.githubusercontent.com/71853941/101950783-b0b40900-3baa-11eb-9a80-21b432295c4f.png)

[2020-12-11 20:18] cassiawag commented on #1241
Thanks for trying to understand, @emmahodcraft! I really appreciate your feedback and perspective on this.

For background: A general challenge that we are running into in collaborations with public health labs is using a larger tree to interrogate smaller outbreaks. The big trees contain so many nodes, and it can be hard to visualize the “trees through  the forest” (hah!). Thus, many of new PR’s

[2020-12-11 20:21] emmahodcroft commented on #1241
Ahhh so if I'm understanding: it would show sequences 'around' the ones selected right now (similar in practice to if you zoomed in on each point in the tree and turned off the filter) but without having to zoom in and do this individually?

So context are genetically similar to each 'selected' sequence, even if the 'selected' sequences are not genetically similar to each other.

I guess you'd sti

[2020-12-11 20:23] cassiawag commented on #1241
Exactly!

[2020-12-11 20:26] cassiawag commented on #1242
Yeah, there's not. I think you'd need to inactivate each individual filter setting with each eye icon.

[2020-12-11 20:33] emmahodcroft commented on #1241
Ok! I think I finally understand this now - thanks for taking the time to explain it so well @cassiawag !!

I think this indeed seems like a good idea and a useful one. Might take a bit of thinking on how to set 'context sequences' so that it's useful across different use-cases, but I'm sure there are good solutions to be found!

[2020-12-16 01:34] allenkj2 commented on #1201
I would love to see this as well. It would be great to be able to choose a label, and also great to be able to turn off labels altogether if things are too cluttered.

[2020-12-16 01:43] jameshadfield commented on #1201
It's in the queue 😉

Yup -- this is #916 -- also in the queue 😉

[2020-12-17 21:31] jameshadfield commented on #1240
@joverlee521 -- without diving into the code, my instinct would be that the `visibility` array is at fault here. As a bit of background:

- `visibility` is an array such that the visibility of `node[i]` is found at `visibility[i]`. It refers to whether a node is within the currently active (sub)tree -  for instance all the "thin" branches in the figure above should have `visibility[nodeIdx] !== NO

[2020-12-19 00:14] eharkins commented on #1215
@jameshadfield should we close this? Seems like they are working again: https://github.com/nextstrain/auspice/runs/1554302456?check_suite_focus=true

[2020-12-19 00:44] eharkins commented on #1050
Closed by #1164

[2020-12-19 00:44] #1050 closed

[2020-12-19 00:49] eharkins commented on #957
@jameshadfield should we close given the move of #1117 over to https://github.com/nextstrain/auctor?

[2020-12-20 20:09] jameshadfield commented on #1215
This is still a bug -- running them on GitHub actions seem to result in stochastic pass/fail results -- for instance https://github.com/nextstrain/auspice/pull/1246/checks failed ~2 days ago.

![image](https://user-images.githubusercontent.com/8350992/102723350-0dae7c80-436c-11eb-8a27-bb4ffcfa5e33.png)

[2020-12-20 20:10] #957 closed

[2020-12-20 21:36] jameshadfield opened #1250 "Allow filtering to all samples with a value"
For a given filtering trait (e.g. `country`) there is benefit to being able to filter to all tips with a defined value. Internally this should use `isValueValid()`.

[2020-12-20 21:41] jameshadfield opened #1251 "Sidebar filtering options should include all node/branch attrs"
The original intent of the sidebar filtering was to allow filtering by all traits which are defined via `metadata.filters` as well as those defined via `metadata.colorings`. The latter has not yet been implemented.

Note that the filters which appear in the footer of Auspice should still only reflect those defined in `metadata.filters`.

[2020-12-22 01:54] h-astephan commented on #990
Hi, could I be assigned to this?

[2020-12-22 01:55] jameshadfield commented on #990
Thanks @h-astephan -- let me know if you run into any trouble & i'll try to help!

[2020-12-23 03:45] jameshadfield opened #1252 "test issue"

[2020-12-23 21:40] jameshadfield opened #1253 "test epic"
testing

[2020-12-23 21:45] jameshadfield opened #1254 "frequencies"

[2020-12-24 06:03] jameshadfield opened #1255 "auspice 2.21 epic"

[2020-12-24 08:20] emmahodcroft commented on #1255
Are we giving them names now?? 😁

[2020-12-24 19:51] jameshadfield commented on #1255
John & I are trying out different ways of organizing things using ZenHub, hopefully we can settle into a good system soon, right now it's all a bit experimental!

[2020-12-26 23:47] rleir commented on #508
James, would you give more detail to the original 2018 issue please? @jameshadfield

[2021-01-05 20:39] #1239 closed

[2021-01-05 20:39] #1242 closed

[2021-01-05 20:42] #1201 closed

[2021-01-05 22:23] #990 closed

[2021-01-06 00:38] #1240 closed

[2021-01-06 22:32] jameshadfield commented on #1235
Closed by #1245 and released in v2.21.0

[2021-01-06 22:32] #1235 closed

[2021-01-06 22:33] jameshadfield commented on #1255
v2.21 released (and nextstrain.org updated) on 2020-01-06

[2021-01-06 22:33] #1255 closed

[2021-01-06 22:33] #1254 closed

[2021-01-08 19:10] joverlee521 opened #1259 "Clicking on a tip should display full list of AA changes"
In v20 and below, you could select a single tip and then change Diversity panel to "events" to show all amino acid changes in this tip:
![v20.png](https://images.zenhubusercontent.com/5fe0fe6ae76f3f1f956ee809/be25adda-850a-45fb-b216-6a0345d2d4d8)

In addressing #1240, hiding ancestral nodes means the Diversity panel no longer shows these events:
![image010.jpg](https://images.zenhubusercontent.com

[2021-01-14 00:55] jameshadfield opened #1264 "dynmaic antigenic escape data in Nextstrain"
Given a set of mutations (or a single mutation) viewable in nextstrain [1], we wish to know some information about the experminetally-determined antigenic properties of these mutations. Specifically, using DMS data, for a given sera (or an average of multiple) we can use an addative approach to represent putative antigenic escape for a given set of mutations.

As a first approach, we could impleme

[2021-01-14 21:37] huddlej commented on #1264
This is a great summary of our conversation yesterday!

Multiple sera can only be represented with an aggregate metric like the average distance per amino acid/site across all sera or a site-specific threshold approach where the total escape score at a given site qualifies it as an "epitope site". There could be better ways to aggregate metrics per site and amino acid than these though.

The dista

[2021-01-14 22:28] jameshadfield opened #1266 "Ensure bundle hashes are appropriately computed"
**Context**

We recently observed hard-to-debug bugs when deploying nextstrain.org which are caused by errors in how we compute bundle hashes during bundling (using webpack). These errors were (and sometimes still are) hard to pin down and reproduce. The core of the issue is that we encode the hash of each chunk in the filename so that chunks which haven't changed between different auspice version

[2021-01-15 00:24] eharkins commented on #1266
@jameshadfield I'm trying to reproduce but the frequency panel isn't shown by default for zika for me so I'm not sure how to interpret

Did you mean another panel or should I add it into the `panels` key for the dataset json locally (or should it be there already)?

[2021-01-15 04:15] ivan-aksamentov commented on #1266
I always thought this caching comes by default with webpack, at least recent versions (4+). If not, how important this caching really is for Nextstrain? Is saving 2 seconds on every first load after a new release really worth sacrificing stability and adding another moving part to maintain and debug? Or are there other nuances?

I'd remove this entirely and kept the webpack config as vanilla as po

[2021-01-16 01:09] cassiawag opened #1267 "Download Data producing empty trees"
**Current Behavior**
When I try to download a Newick tree after I've filtered to specific tips, the downloaded file is empty. The download "dashboard" says currently 523/4047 tips are displayed, but the downloaded file only contains a semicolon.

**Expected behavior**
The tree file should contain the tips shown & selected in the tree display.

**How to reproduce**
Steps to reproduce the current be

[2021-01-17 23:41] jameshadfield commented on #1266
Typo! I meant the entropy panel. (I've updated the original message.)

I think the only conversation had about this is the PR which introduced it --  https://github.com/nextstrain/auspice/pull/1126

[2021-01-18 11:39] ps120195 opened #1268 "error: frequency JSON not found"
After generation of the frequency json file and exporting it ,I am unable to visualise the frequency figure in auspice.
![auspice](https://user-images.githubusercontent.com/62909237/104909642-2a12f880-59ae-11eb-9e8f-aa94e83eb03b.jpg)
I tried keeping panels as default as well as setting it as  --panels frequencies , the option appears on the panels but no graph.
Please help.
auspice version = 2.18.

[2021-01-18 21:25] jameshadfield commented on #1268
The error printed by the locally-running auspice server (`[verbose] Error: ENOENT: no such file or directory, open 'freq1801r1_tip-frequencies.json'`) and the attached screenshot indicate that the auspice client is making a request for a frequencies JSON but that the server can't find the correct file.

From the error message, your dataset seems to be named `freq1801r1.json` - can you check if the

[2021-01-19 05:59] ps120195 commented on #1268
No, There is no file formed with name "freq1801r1_tip-frequencies.json"

[2021-01-19 09:42] ps120195 commented on #1268
Command to generate frequency json file :
augur frequencies --method kde --metadata metadata.tsv --min-date 2020 --max-date 2021 --tree refined_tree.nwk --include-internal-nodes --alignments aligned.fasta --output frequencykde.json

And Command to export all the jsons into auspice json :
augur export v2 --tree refined_tree.nwk --node-data traits.json nuc_muts.json amino_muts.json branch.json clade

[2021-01-20 03:39] jameshadfield commented on #1268
Your `augur export ...` command is producing `freq1801r1.json`.
Your `augur frequencies ...` command is currently producing `frequencykde.json` (via the `--output` arg), but this needs to be `freq1801r1_tip-frequencies.json`.

[2021-01-21 06:35] #1268 closed

[2021-01-21 19:39] #1253 closed

[2021-01-21 19:47] trvrb commented on #1225
I'd prioritize this based on interest in "clades" / "variants". I find this behavior super confusing. My suggestion here would be to gray out pivots in the frequency panel if the total frequency is under some threshold, say 1%. This would make the above example a box of gray until you get to June 2020.

[2021-01-21 20:38] eharkins commented on #680
@jameshadfield just flagging this but letting you close in case there are things you want to decompose into other issues still here.

[2021-01-21 23:53] #1252 closed

[2021-01-21 23:58] trvrb commented on #280
I'll leave this open, but it hasn't seemed a major issue to me. If others disagree, please chime in.

[2021-01-22 00:05] trvrb commented on #289
I don't think this is where our performance bottlenecks lie at this point. Going to close isssue.

[2021-01-22 00:05] #289 closed

[2021-01-22 00:12] trvrb commented on #1111
The first steps of tackling this issue are represented by #1132. With proper "zoom to selected" implemented we would then need more expressive ways to filter to tips of interest (via lasso, etc...).

[2021-01-22 01:47] jameshadfield opened #1270 "Improve rendering performance of filter-by sidebar select box"
The rendering the sidebar filtering autocomplete is unacceptably slow with the work in #1265 as we now commonly have >10^4 filtering options. See [this codesandbox](https://codesandbox.io/s/lxv7omv65l?file=/index.js) for one example of how to speed this up.

[2021-01-22 04:31] jameshadfield opened #1271 "Improve search algorithm in sidebar filtering UI"
Currently (and unchanged in #1265) one must type an exact (case-insensitive) substring of the displayed filter options in order to have them show up as selectable. For example, given a filtering option `mutation HA1 136E` (buried in a large list), typing any the following examples do not identify the option: `mut 136E`, `mut HA1 136`, `136 HA1`.

This is also evident for options such as `Country →

[2021-01-22 06:37] trvrb commented on #31
We've effectively settled on a data versioning schema with `ncov_global_2020-04-15.json` / https://nextstrain.org/ncov/global/2020-04-15. We can continue to promote workflows that mirror this pattern. Is there anything else we'd like to do here? Or should we consider "data versioning" complete for the time being?

[2021-01-22 06:42] trvrb commented on #737
Looks like this resolved itself. I'm closing the issue now.

[2021-01-22 06:42] #737 closed

[2021-01-22 07:47] trvrb commented on #1056
This was accomplished and we now have toggleable filters.

[2021-01-22 07:47] #1056 closed

[2021-01-22 10:47] emmahodcroft commented on #280
I wouldn't say it's disabling, but it can definitely still be annoying sometimes. For example, on focal S:N501 builds, UK circle just about swallows rest of map. For a figure I made recently, I had to run locally and adjust deme sizes in `auspice` just to get something semi-reasonable-looking. That's a bit of a special case, but it might be nice if we could allow users to somehow scale how radical

[2021-01-22 17:11] trvrb commented on #280
Thanks Emma. Just bumped to "moderate priority".

[2021-01-22 19:51] kairstenfay commented on #1266
@jameshadfield I want to confirm that I can reproduce the bug, and in step 17, I get the same results as you.

[2021-01-23 00:17] kairstenfay commented on #1267
Thanks for opening this issue, @cassiawag. I see the issue you describe on nextstrain.org. When I try to reproduce locally with my checkout of the [nextstrain.org repo](http://github.com/nextstrain/nextstrain.org), however, I don't see an option to download a Newick tree, and I'm not sure why.

[2021-01-23 00:39] tsibley commented on #31
My 2¢ is that it's reasonable to promote explicit versions in dataset names for builds that want them. They're a simple approach for now that requires no central coordination.

That said, I do think there's more sophisticated versioning we could provide automatically and transparently (think S3 object versions or git history) and then make accessible via version selectors in the UI and URL (e.g. s

[2021-01-23 00:49] sidneymbell opened #1273 "Auspice.us doesn't include the option for tip labels"

[2021-01-23 00:54] cassiawag commented on #1267
Do you have the latest version of auspice? This is a relatively new feature.

[2021-01-24 20:54] jameshadfield commented on #31
I'm happy running with time-stamped dataset names as a solution that everyone understands.

Yup. This is https://github.com/nextstrain/nextstrain.org/issues/196 and can be tracked there as it's a nextstrain.org implementation rather than auspice.

[2021-01-24 20:54] #31 closed

[2021-01-25 21:24] sidneymbell opened #1274 "Add phylogenetic uncertainty as a coloring option (i.e., branch support)"
In the spirit of communicating uncertainty (we should be able to just grab these values out of iqtree and pipe them through as a node attr, right?)

[2021-01-25 21:28] trvrb commented on #1274
Very interesting thought @sidneymbell. Maybe you could rethread to `augur` though? I think this is a workflow issue rather than an Auspice issue. If Auspice gets a JSON that includes a quantitative `branch_support` value it should be able to color tree just like any other trait.

I think the major issue is bootstrapping is too slow with the enormous `ncov` trees and I don't know what the right sol

[2021-01-25 23:27] jameshadfield opened #1275 "Filtering does not work as expected if internal traits are defined"
**Context**

Currently, when filtering by a trait (e.g. [SARS-CoV-2 filtered to clade 20I/501Y.v1](https://nextstrain.org/ncov/global?f_clade_membership=20I/501Y.V1)) we determine node visibility via the following steps
1. Find the set of tips `X` which match the filter (in this case, `X` is tips annotated with `clade_membership = 20I/501Y.V1`)
2. Postorder traversal to add the ancestral nodes of

[2021-01-26 04:54] #1266 closed

[2021-01-26 16:37] trvrb commented on #1225
After thinking about this further I think the best  way to tackle is to automatically toggle "normalize frequencies" based on whether a pivot with less than 1% total frequency is detected.

Thus, filtering to: https://nextstrain.org/ncov/global?f_clade_membership=20I/501Y.V1 would automatically switch to "unnormalized frequencies" because there are pivots with less than 1% total frequency.

Howeve

[2021-01-26 21:12] jameshadfield opened #1277 "Improve version release method"
**context**

Currently we use a custom script (`./releaseNewVersion.sh`) to release new versions of auspice which could be much simplified, and is constrained in its versitility (e.g. one can't release alpha/beta versions). It also uses a separate `release` branch which seems unnecessary since we use tags for each version release.

**Suggested release mechanism**

Should be as simple as

- update

[2021-01-26 21:43] jameshadfield commented on #1267
Thanks @cassiawag -- note that if you click “Zoom to selected” and then download the tree it works.

My guess for the bug is that the tree-traversal used for export is starting at a non-visible node and thus terminating straight away.

A complicating factor, but not the cause of this bug, is the situation subsequently introduced in #1265 (and one which will become more common with #1275) where we

[2021-01-26 21:51] jameshadfield commented on #1270
Closed via #1265

[2021-01-26 21:51] #1270 closed

[2021-01-27 03:14] jameshadfield commented on #299
This would be advantageous to have for SARS-CoV-2 where there are already overlapping ORFs in nextstrain.org/ncov/global and the situation is even more complex than this, e.g. see Figure 1 from [Nelson et al., eLife (2020)](https://elifesciences.org/articles/59633#fig1).

Here is how we are currently displaying SARS-CoV-2:

![image](https://user-images.githubusercontent.com/8350992/105936820-3d624

[2021-01-27 03:40] trvrb commented on #1225
I've bumped this to "next up" and labeled it "high priority" due to frequency this will be encountered with new genotype filtering feature. For example it will be common to link to URLs like: https://dev.nextstrain.org/ncov/north-america?f_clade_membership=20C&gt=S.452R (in this case showing the "California variant" 452R). The default view for frequencies in this case is pretty bad with the "rainb

[2021-01-27 07:58] emmahodcroft commented on #299
This would be great James!

[2021-01-27 13:09] ps120195 opened #1279 "Incorrect frequency plot from augur frequencies"
![augur_frequencies](https://user-images.githubusercontent.com/62909237/105994707-00ed1900-60ce-11eb-8f6c-bd2b6e00386d.jpg)

In the attached figure , the yellow colour is showing the mutation frequency at 0% ,which should not be the case ideally.
Please help

[2021-01-30 20:43] trvrb opened #1281 "Make genotype filtering consistent with other traits"
**Current Behavior**
Currently, genotype filtering behaves differently from other filter types. This can be immediately seen by comparing filtering to clade and filtering to genotype.

Here is filtering to clades A1b/197R and A1b/94N for influenza H3N2: https://nextstrain.org/flu/seasonal/h3n2/ha/2y?f_clade_membership=A1b/197R,A1b/94N

<img width="754" alt="clade-filter" src="https://user-images.g

[2021-01-31 23:52] jameshadfield commented on #1281
It's true that there is inconsistency in filtering at the moment, however I believe that the current implementation of genotype filtering is "more truthful" and that the problems lie with our filtering algorithm for "normal" filters. I wrote about this in #1275.

For situations where the internal nodes are annotated (e.g. genotype, `clade_membership`) I believe the "most truthful" behavior is that

[2021-02-01 05:06] trvrb commented on #1281
I'm afraid I don't agree here. If https://nextstrain.org/flu/seasonal/h3n2/ha/2y?c=gt-HA1_198&gt=HA1.198P had "tip filtering" it would show the same 231 tips, but would also show the entire subtree that connects them. Because the coloring is by site HA1 198 anyway this would show that the ancestral state is S and there were multiple transitions from S to P on the tree. There would be green S branc

[2021-02-11 01:29] jameshadfield opened #1283 "Narratives cannot display frequencies"
Narratives cannot display frequencies panels in Auspice 2.33.0. I believe this _used_ to work in a previous version, but have not bisected to confirm. A test narrative showing this has been created on the [bug-narratives-frequencies](https://github.com/nextstrain/auspice/tree/bug-narratives-frequencies) branch -- please base any fix on that branch!

**How to reproduce**

Steps to reproduce the cur

[2021-02-11 02:08] jameshadfield opened #1284 "Narratives cannot zoom to selected (tree panel)"
**Context**

[Auspice 2.21.0](https://github.com/nextstrain/auspice/blob/master/CHANGELOG.md#version-2210---20210106) introduced a "zoom to selected" button (via [PR 1257](https://github.com/nextstrain/auspice/pull/1257).
This allows filtered trees to be zoomed to the subtree containing all the selected ("visible") tips.
This zooming requires user-interaction by clicking the "zoom to selected" but

[2021-02-11 14:13] michalkowalski94 commented on #1015
Any progress on this?

[2021-02-12 09:57] michalkowalski94 opened #1286 "Better document swapping map tilesets"
**Current Behavior**
When running auspice view locally and in container, map is a huge gray rectangle

**Expected behavior**
Working map like it supposed to

**How to reproduce**
Steps to reproduce the current behavior:
1. Install however you like, from source with nodejs via package manager or via conda with source
2. auspice view
3. map is a gray rectangle

**Possible solution**
No idea

**Your

[2021-02-12 10:10] emmahodcroft commented on #1286
Hi @michalkowalski94 ! Sorry for this causing you trouble. This isn't my area of expertise, but just to check something - does the container have access to the internet? The map has to be download on first launch and at every zoom level, so this could be the issue. However, if it does have internet there's clearly another problem at work, and hopefully another person from the team can have a look!

[2021-02-12 10:36] michalkowalski94 commented on #1286
Hi, it actually does not work even if auspice is not in container.
Container is exposed to public zone and has access to internet via docker bridge network.
Thank You for quick response

[2021-02-12 11:07] rneher commented on #1286
We have been rotating mapbox tokens, but the new ones should work for `localhost`. Please check in the browser console why/if the mapbox request fails. @trvrb or @jameshadfield might know more.

[2021-02-12 11:08] rneher commented on #1286
some privacy extensions also block fetching of tiles. But I see you tested many browsers, so that is probably not the issue.

[2021-02-12 11:58] michalkowalski94 commented on #1286
Okay, changed in `src/util/globals.js` api to
`
export const getMapTilesSettings = () => {
  if (hasExtension("mapTiles")) {
    return getExtension("mapTiles");
  }
  /* defaults */
  const api = 'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png';
  return {
    api,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    mapboxWordmark: tru

[2021-02-14 21:19] jameshadfield commented on #1286
This is due to the [new mapbox tokens we are using](https://github.com/nextstrain/auspice/blob/master/CHANGELOG.md#version-2220---20210111) being rejected due to the doman that auspice is running on. What is the browser address you are viewing auspice through? (You are running `auspice view` so I expect this is `http://localhost:4000` but want to double check)

In the meantime, you can temporarily

[2021-02-14 23:12] jameshadfield commented on #1015
Not from me unfortunately, as I've not been able to reproduce this (on MacOS).

[2021-02-14 23:19] terrycojones commented on #1015
I'm back on OS X too now......

[2021-02-17 01:50] george-githinji opened #1289 "Incomplete nexus timetree file"
**Current Behavior**
Ran the augur pipeline and generated a json file. The json file displays correctly using auspice 2.23.0

**Expected behavior**
Download a completed nexus timetree file via the Download data section of the generated web interface

**How to reproduce**
Follow the step by step augur pipeline. Download the nexus file. attempt to visualise it on figtree.
See the error "Error readin

[2021-02-17 12:29] emmahodcroft opened #1290 "Button to generate 'New Colors' if Traits happen to have similar colours"
**Context / Description**
Often when colouring by countries in a build, countries nearby to each other geographically end up with really similar colours. (Can also happen with divisions, etc).
For example, in this 501Y-focused build with Switzerland & Italy:
![image](https://user-images.githubusercontent.com/14290674/108203826-4d52d400-7123-11eb-9f07-7c46ae535efe.png)
(https://nextstrain.org/group

[2021-02-18 16:08] jbell-cdph opened #1291 "better sorting of color by legend"
If there are a lot of values in the color-by trait, it can be difficult to find the one of interest, because the order of the list appears random.    If the values were sorted in some easy-to-recognize way, it would be easier to find the strains of interest.

I would like for there to be a way for the order of values in the color-by legend to be sorted, either by default or by choice.

An example

[2021-02-18 20:13] jameshadfield commented on #1291
👍 currently the filters are ordered using counts (i.e. B.1.2 has the most occurances in the tree), which is sometimes ideal and sometimes not! There are a few improvements possible here, some on our side and some available to the dataset maintainer:

(1) If `pangolin` is added to the [`json.meta.filters`](https://github.com/nextstrain/augur/blob/master/augur/data/schema-export-v2.json#L93-L99) arr