[2018-07-19 18:46] alliblk commented on #596
Hi @jameshadfield, I'm on `901404defeb1cde344d8155f8ba644c9c8b514b5`.

[2018-07-19 19:43] jameshadfield commented on #596
@alliblk that's 22 days old... try running `git pull`!

[2018-07-19 19:53] alliblk commented on #596
Whoops, looks like one of new lock jsons was blocking the pull. Not sure why git status was saying I was up to date with origin/master then, but it's always a possibility that I'm misunderstanding how git assesses that. I stashed and re-pulled. Should be good now.

[2018-07-19 20:00] trvrb commented on #596
@alliblk: I'd recommend using GitKraken to keep track of repository state. I have repos favorited and then it's super fast to swap between them. In this case, you needed to run "git fetch" to update your local version of origin/master.

[2018-07-20 00:08] huddlej opened #601 "Narratives won't load without a manifest file"
While trying to get a narrative markdown file to load without a manifest, auspice tries to load an `undefined` pathogen. Adding a proper `manifest_guest.json` file to the data directory corrects the issue.

[2018-07-20 00:10] huddlej opened #602 "Narrative URLs need to have a query string even if it is empty"
Trying to define a narrative with the following Markdown url fails:

[code]

with the following javascript traceback:

[code]

However, changing the markdown to the following with an empty query string fixes the problem.

[code]

This is a surprise especially for users who don't understand query strings.

[2018-07-21 17:34] jameshadfield commented on #588
working in 13a20dcc04c979758bef57056b5481d0ec46973c

[2018-07-21 17:38] #536 closed

[2018-07-21 17:39] jameshadfield commented on #601
Thanks @huddlej -- i'm currently moving the manifest stuff to the server which will fix this (and the myriad other manifest errors hopefully)

[2018-07-21 18:15] jameshadfield commented on #569
This is more complicated. Github repo names are case sensitive, so for #588 to work the URLs need to be the correct case. In 13a20dc I've instead kept the URLs as entered but used lowercase filenames.

[2018-07-21 18:19] #146 closed

[2018-07-24 18:51] tsibley commented on #601
@jameshadfield What are your plans for adding manifest stuff to the server?

[2018-07-24 23:44] jameshadfield commented on #601
@tsibley it's happening on branch `server-side-json`, should be ready for PR soon. Generally moving v1->v2 schema stuff, manifests etc to the server. The format of the manifest is completely up for grabs, i'm not changing it but someone can in the future.

[2018-07-28 16:18] #588 closed

[2018-07-28 16:18] #601 closed

[2018-07-28 16:18] #602 closed

[2018-07-29 17:47] jameshadfield opened #605 "tanglegrams & second tree don't get saved to SVG"

[2018-07-29 17:48] jameshadfield commented on #574
This still happens periodically on different browsers / OSs.

[2018-07-29 17:51] jameshadfield commented on #595
The server now combines (v1) meta & tree JSONs into a unified JSON. This function https://github.com/nextstrain/auspice/blob/master/src/server/fetchV1JSONs.js can, over time, begin to patch the newly unified JSON to v2 spec, and the client code simultaneously updated

[2018-07-29 18:17] colinmegill commented on #574
Same

On Sun, Jul 29, 2018, 1:48 PM james hadfield <notifications@github.com>
wrote:

[2018-07-30 10:54] rneher commented on #574
* ubuntu 16.04/firefox: ok
 * ubuntu 16.04/chrome/chromium: broken
 * andoid/duckduckgo: ok

[2018-07-30 13:46] emmahodcroft commented on #574
Windows 10 Pro:
- Firefox, Chrome, IE, Edge - all broken

[2018-07-30 16:08] rneher commented on #547
fundamentally, the issue here is to decide what to do/how to fail when the meta.json doesn't contain coordinates. in the case above, this happened because an ancestral state was inferred that wasn't even in the country list (I think we pinned the ancestral state to vietnam, but vietnam wasn't sampled and hence excluded from the `geo` fields in the meta json).

[2018-07-30 16:50] jameshadfield commented on #574
@rneher / @emmahodcroft could you change this line https://github.com/nextstrain/auspice/blob/master/src/util/computeResponsive.js#L28 and see if you can fix it?

Perhaps there's a fundamentally different (and better) way of calculating this.

[2018-07-30 17:12] rneher commented on #574
if I change it to 100, it works on linux/chrome and firefox. reducing it to 56 breaks it on linux/firefox. status quo works for firefox, not chrome

[2018-07-30 17:33] rneher commented on #574
this surely has to do with all the different paddings that are added here and there. I don't see why we need to get this right to the pixel. I don't think it matters if there are 30px of white space on the right.

[2018-07-30 19:05] colinmegill commented on #574
The right thing to do here is probably to measure the size of the
container. https://www.npmjs.com/package/react-measure or another similar
package, or a custom implementation based off of them (they aren't
complicated) and base the subsequent computations off of that.

On Mon, Jul 30, 2018 at 1:33 PM Richard Neher <notifications@github.com>
wrote:

[2018-07-30 19:37] tsibley commented on #574
Given the [reason for existence cited in the code James pointed at](https://github.com/nextstrain/auspice/blob/f808ab0/src/util/computeResponsive.js#L2-L13), I wonder if using appropriate `viewBox` attributes on our `<svg>` elements might be a better alternative to measuring and calculating dimensions ourselves.

[2018-07-30 22:38] jameshadfield commented on #574
I think i'll change the value to ~100px so that it's not broken now for people.

Going forward, something like `react-measure` or viewBox may be better.

[2018-07-30 22:41] #574 closed

[2018-07-30 22:42] jameshadfield commented on #574
Please reopen if it's still broken on v1.23.2.

[2018-07-30 23:10] colinmegill commented on #574
This is fixed here on windows and looks beautiful. It's a fine solution,
especially now that cards are gone.

On Mon, Jul 30, 2018 at 6:42 PM james hadfield <notifications@github.com>
wrote:

[2018-08-01 19:03] trvrb opened #607 "Dataset options not getting parsed correctly"
@jameshadfield ---

It looks like there is a bug in how parsing of available datasets is occurring. There is no `pandemic` resolution for H3N2, Vic and Yam, but it shows up as an option in the dropdown:

![dataset](https://user-images.githubusercontent.com/1176109/43542740-b8f6489c-9582-11e8-956f-8230132f7d1c.png)

This should only exist for H1N1pdm. This is how it was specified in `manifest.json`

[2018-08-04 21:28] #483 closed

[2018-08-04 21:28] jameshadfield commented on #483
Added in #610 -- thanks @rneher

[2018-08-04 22:54] trvrb opened #611 "Changing datasets crashes with genotype colorby"
@jameshadfield ---

I generally like the new behavior where visualization state is preserved when switching between datasets via the dropdown. Ie, if I'm at https://nextstrain.org/zika?l=clock and switch to ebola I arrive at https://nextstrain.org/ebola?l=clock. However, if the original visualization state doesn't exist in the target dataset then the app crashes out to 404. For example, if you sta

[2018-08-04 23:09] jameshadfield commented on #611
Aha... This wasn't intentional - but yes, it's nice in some situations!

Geographic resolution & colorBy are "dataset specific" (as opposed to grid etc) so perhaps these should be nuked on dataset change... Other things work but remain in the URL (e.g. having the frequency panel in the URL and going to zika doesn't raise any errors, but the frequency panel is still specified in the URL, which isn'

[2018-08-04 23:34] trvrb commented on #611
There are situations where it's nice to keep colorby when changing datasets for example going from https://nextstrain.org/flu/seasonal/h3n2/ha/3y?c=ep to 12y it's nice to keep coloring by epitope. But maybe this is too difficult to accomplish generically, as going from https://nextstrain.org/flu/seasonal/h3n2/ha/3y?c=ep to vic lacks epitope as a coloring option.

Nuking everything except "grid" se

[2018-08-05 01:12] #607 closed

[2018-08-05 08:37] rneher opened #616 "Sequence for non-variable sites"
I think we should have sequence info for sites that are not variable. The current behavior is not good:

https://nextstrain.org/zika?c=gt-NS1_347

Saving sequence in the json would not be a big overhead for viruses (a few kb). For bacteria, it's more of an issue (about a 2MB assuming gzip).
It would also clean up code here
https://github.com/nextstrain/auspice/blob/master/src/util/setGenotype.js#L

[2018-08-05 19:49] #611 closed

[2018-08-05 19:52] jameshadfield commented on #616
I tend to agree - especially with Emma's improvements of the entropy panel. I'd propose including this as a property on the meta/unified JSON. If this is too slow for bacteria, we can turn this into a separate JSON and fetch it in the background.

[2018-08-05 20:10] rneher commented on #616
yes, we could have smth like
[code]
in the `meta.json`. This would also allow rendering the actual sequence in the entropy panel once one has zoom in enough to see letters.

[2018-08-05 20:30] trvrb commented on #616
If we include this (which seems like a fine idea), my suggested unified JSON structure would be:
[code]
I don't think this be part of `meta`. This is mainly because we might pull this data out into its own JSON (`tb_sequence.json`) for loading bacterial datasets. And this is partially because, like `tree`, `sequence` feels overly "weighty" / data-like to be just another element in `meta`.

[2018-08-08 23:28] trvrb opened #618 "Changing datasets on staging is buggy"
Thanks for humoring me with these @jameshadfield. I just noticed an issue when changing between staging datasets. If I start at:

https://nextstrain.org/staging/flu/seasonal/h3n2/ha/3y

I can select "2y", "6y", etc... in the Dataset dropdown just fine. However, if I change lineage to "H1N1pdm" or "Vic" the app 404s out. Similarly, if I'm on https://nextstrain.org/staging/zika and change virus to "

[2018-08-09 00:29] jameshadfield commented on #618
Well that's not good!

The JSONs seem to be on the (staging) S3 bucket, and indeed https://nextstrain.org/staging/flu/seasonal/vic/na/12y works just fine.
The manifest also looks ok there... i'll do some investigating

[2018-08-09 00:44] #618 closed

[2018-08-09 05:11] trvrb commented on #618
Thanks for fixing this @jameshadfield.

[2018-08-09 22:16] jameshadfield opened #619 "nucleotide genotype should shift zoom window in certain cases"
Very minor bug here -- if the nucleotide base is changed in the dropdown to one outside the zoom window, the brush should move to be around that newly selected base. Currently, the brush doesn't move.

In this screenshot, the zoom window is ~ (0, 500), but the nuc position is 3000

![image](https://user-images.githubusercontent.com/8350992/43928756-e8a192d0-9be6-11e8-9964-d66e11b0787c.png)

[2018-08-10 18:57] jameshadfield opened #622 "flu NA gene disappears upon entropy panel zoom"
For `h1n1pdm` the NA gene disappears when the zoom brush is dragged inwards from the right. These screenshots show this for https://nextstrain.org/flu/seasonal/h1n1pdm/na/12y

![image](https://user-images.githubusercontent.com/8350992/43976080-5c48688c-9c94-11e8-9427-81bff3aaefb5.png)
![image](https://user-images.githubusercontent.com/8350992/43976088-62ee1f92-9c94-11e8-914a-3280fcc1b4c6.png)

Int

[2018-08-10 18:59] jameshadfield opened #623 "add entropy zoom bounds to URL"
This will allow the zoom to be changed by paragraphs in the narrative 👍

[2018-08-10 19:11] jameshadfield commented on #619
Closed in #620

[2018-08-10 19:11] #619 closed

[2018-08-11 20:05] jameshadfield commented on #496
Can be fixed by following https://github.com/matsengrp/olmsted/commit/531cd0b04792cc1590737ade141d0d4dc61c4dc5

[2018-08-12 04:26] trvrb commented on #578
![yo-dawg-heard-you](https://user-images.githubusercontent.com/1176109/43998565-27a3691e-9dad-11e8-919d-07c504911e7c.jpg)

[2018-08-13 10:35] stevenweaver opened #625 "Overly restrictive engines field in package.json"
Dear @nextstrain,

The version of node that is delivered via `homebrew` is `v10.8.0`.
The version of npm delivered via `homebrew` is `6.2.0`.

After updating the `engines` portion of `package.json` to
[code]

auspice appears to still function properly.

Best,
Steven

[2018-08-17 15:41] jameshadfield opened #628 "grid lines are drawn over top of the tree"
Happens when starting with a view without grid (e.g. https://nextstrain.org/zika?l=unrooted) then, when transitioning to rectangular (e.g.) the grid is added over top of the tree.

![image](https://user-images.githubusercontent.com/8350992/44275020-92b38500-a1f8-11e8-9378-169222644c70.png)

[2018-08-17 16:31] jameshadfield commented on #622
Closed in #624

[2018-08-17 16:31] #622 closed

[2018-08-17 21:01] jameshadfield commented on #547
Closed in #608

[2018-08-17 21:01] #547 closed

[2018-08-17 21:39] #628 closed

[2018-08-19 18:53] jameshadfield opened #631 "allow narrative to change datasets"
requires JSON caching and an improved mechanism for updating datasets while keeping certain pieces of state (e.g. cache, narrative).

[2018-08-19 23:45] jameshadfield opened #632 ""thanks to..." footer is from previous dataset"
replicate by going to nextstrain.org/flu, then use the dropdown to change to zika... the footer text still refers to the initial dataset.

[2018-08-20 18:19] #605 closed

[2018-08-21 17:07] barneypotter24 opened #634 "Frequencies do not show up when called by URL"
When I try to pull up a frequency plot via URL it does not appear if in tangle-tree mode.

The problem happens when running locally and from the website:

<img width="1220" alt="auspice_bug" src="https://user-images.githubusercontent.com/14949788/44368134-b4c23700-a486-11e8-8ded-fd729c720b5f.png">

<img width="741" alt="auspice_bug_2" src="https://user-images.githubusercontent.com/14949788/4441665

[2018-08-21 17:08] barneypotter24 commented on #634
The screenshots don't show it properly, but the frequency plot does not appear, and the toggle is set to "off" in the menu bar.

[2018-08-23 17:02] rneher opened #635 "genotype coloring/zoom broken in firefox"
@jameshadfield genotype coloring is broken in firefox with
[code]
This is triggered by `changeColorBy` which in turn triggers a brush move and it ultimately fails in brush finished.
![image](https://user-images.githubusercontent.com/8379168/44540442-1bee1e80-a707-11e8-83aa-3f0773b9a1f6.png)

[2018-08-23 17:03] rneher commented on #635
the page turns blank...

[2018-08-23 17:49] emmahodcroft commented on #635
😕 I'll have a look tomorrow

[2018-08-24 08:11] emmahodcroft commented on #635
The event property `srcElement` is non-standard and originates in IE, but doesn't exist in Firefox. I've replaced this with standard property `target` that hopefully should work more widely. Tested on FF, Chrome, Edge, and IE and seems to work. @rneher could you check PR [637](https://github.com/nextstrain/auspice/pull/637) and ensure it fixes the issue?

[2018-08-24 08:15] rneher commented on #635
yes. works now! Thanks!

[2018-08-24 18:39] jameshadfield commented on #635
Nice! Closed in v1.27.1

[2018-08-24 18:39] #635 closed

[2018-08-27 03:43] trvrb opened #640 "Dates in info text should refer to tips and not to nodes"
@jameshadfield ---

Working with Lassa made me notice this just now...

Currently, we have some very weird language like

for Lassa and

for dengue. The text here is referring to "genomes". These are tips in the tree. Dates should be collected from tips rather than nodes.

The date filter doesn't have to change. Still makes sense to write

[2018-08-27 03:58] lixingguang opened #641 "How to use this?"
@jameshadfield is there any tutorial on how to use it?

[2018-08-27 04:03] trvrb commented on #641
Docs are all here: https://nextstrain.org/docs. There's some significant gaps, but we're working on filling them in. This includes tutorials for Zika: https://nextstrain.org/docs/getting-started/zika-tutorial and a description of auspice: https://nextstrain.org/docs/visualisation/introduction.

[2018-08-27 04:03] #641 closed

[2018-08-27 04:05] lixingguang commented on #640
@trvrb Do you notice my email?

[2018-08-27 04:18] lixingguang opened #642 "The doc is not straightforward, and need more easy to do."
@trvrb The doc is not straightforward, and need more easy to do. People not familar with programming could not know how to do this, and could you please add some GUI for new researchers,thanks.

[2018-08-27 14:21] emmahodcroft opened #643 "Clade zoom in narratives doesn't zoom out again"
If you specify to zoom to a clade via the URL in narratives, it zooms in, but there's no way to zoom out again...

[2018-08-27 16:28] rneher commented on #616
This would suggest that we export it as a separate `sequence.json` and the web-server combines it into a single one if necessary.

[2018-08-27 21:08] jameshadfield commented on #643
Closed in #644

[2018-08-27 21:08] #643 closed

[2018-08-28 01:09] lixingguang opened #646 "How to define clade?"
@trvrb @jameshadfield how to define clade?

[2018-08-28 16:09] jameshadfield commented on #646
This is done in github.com/nextstrain/augur via the `augur clades` command.

[2018-08-28 16:09] #646 closed

[2018-08-28 18:45] jameshadfield commented on #520
Closed in 633 👍

[2018-08-28 18:45] #520 closed

[2018-08-28 18:47] jameshadfield commented on #527
Now in master. Additional points can be separate issues.

[2018-08-28 18:47] #527 closed

[2018-08-28 18:48] jameshadfield commented on #125
No longer planned.

[2018-08-28 18:48] #125 closed

[2018-08-28 23:57] jameshadfield opened #647 "improve exit narratives interface"
User testing indicates that the ability to go to the fully interactive view (i.e. normal nextstrain) is not noticed. There's always space at the top right of the screen to place a button. Unsure where the "return to narratives" button should be moved to, as that is also rather hidden.

[2018-08-31 19:11] jameshadfield commented on #473
Closed in #639

[2018-08-31 19:11] #473 closed

[2018-08-31 19:11] jameshadfield commented on #647
Closed in #648

[2018-08-31 19:11] #647 closed

[2018-08-31 22:08] #640 closed

[2018-08-31 22:11] jameshadfield commented on #578
@tsibley are these still present in current `master`?

[2018-08-31 22:35] tsibley commented on #578
The double scrollbars are not! \o/

There is still a single scrollbar which seems to uselessly scroll just a tiny bit of padding/margin, sliding the menu/logo up a smidge.

![screenshot from 2018-08-31 15-32-21](https://user-images.githubusercontent.com/79913/44938340-23c74780-ad33-11e8-926b-12dd356a8460.png)

[2018-08-31 22:44] jameshadfield commented on #578
Sweet. I don't get these on any browsers on OS X, so hopefully someone else can take this one.

[2018-09-01 20:14] trvrb opened #649 "Allow trees with just branch_lengths or just clock_lengths"
@jameshadfield ---

Currently, tree JSONs are required to have both `clock_length` and `branch_length`. However, if we do a light pass to directly visualize a tree from RAxML or from BEAST it will only have one or the other.

I encountered this when constructing a BEAST tutorial here: https://github.com/nextstrain/mers-beast-tutorial. I could add additional augur steps to have both `clock_length`

[2018-09-02 04:48] trvrb opened #651 "npm start should work"
@jameshadfield ---

I find it quite strange to have `npm start` deprecated: https://github.com/nextstrain/auspice/blob/master/package.json#L20

It's standard across npm packages to be able to run `npm start` as the standard default option. `npm start` could do the production server rather than the dev server, but it should be the standard entrypoint.

[2018-09-02 14:47] trvrb opened #652 "Include bin with auspice install"
@tsibley and @jameshadfield ---

Related to https://github.com/nextstrain/augur/issues/147.

I was doing some work on https://github.com/artic-network/artic-ebov/blob/master/pages/ebov-phylogenetics-sop.md / http://artic.network/ebov/ebov-phylogenetics-sop.html and wanted an easy way to bring up an auspice view. The current ARTIC install relies completely on conda (http://artic.network/ebov/ebov-i

[2018-09-04 15:55] #651 closed

[2018-09-04 15:56] jameshadfield commented on #651
Absolutely, this has now been fixed.

[2018-09-04 15:57] jameshadfield commented on #649
Agreed. This is part of the JSON 2.0 plan (the schemas for 2.0 do not require num_date or div) 👍

[2018-09-04 16:00] trvrb commented on #651
Thank you @jameshadfield!

[2018-09-04 21:07] tsibley commented on #652
I think this is a good idea, yes. It should eliminate the need for https://github.com/nextstrain/docker-base/blob/master/auspice-wrapper.  I see @jameshadfield has assigned this to himself, so I won't work on it.

One thing to note is that with the `postinstall` script should probably go away for global installs.

[2018-09-05 08:38] emmahodcroft opened #655 "Blue dots bunch to left on IE/Edge/iPhone"
In Internet Explorer, Edge, and on iPhone (maybe others?) the blue dots at the top of narratives bunch to the left.

![image](https://user-images.githubusercontent.com/14290674/45081545-b41cd800-b0f7-11e8-8228-bd2f443492fa.png)

[2018-09-05 16:12] rneher opened #656 "entropy seems off"
for mutations that shadow each other, it seems as of the entropy calculation is incorrect:

https://nextstrain.org/flu/seasonal/h3n2/ha/3y?c=gt-HA1_131

this site should have a sizeable entropy, but auspice calculates this to 0.008

[2018-09-05 18:14] #578 closed

[2018-09-05 19:09] jameshadfield opened #658 "fix travis npm deploy issues"
While I followed https://docs.travis-ci.com/user/deployment/npm/ (and this example https://github.com/bcoe/travis-deploy-example/blob/master/.travis.yml), it is failing with

[code]

We can publish manually in the meantime.

[2018-09-05 19:19] #652 closed

[2018-09-05 19:28] trvrb commented on #658
I can show you how to add auth keys to Travis CI.

[2018-09-05 19:37] jameshadfield commented on #658
Yup, however https://docs.travis-ci.com/user/deployment/npm/ says nothing about needing auth keys. And you can see from the log that it (seems to) login and authenticate to npm, despite the latter message.

[2018-09-05 19:39] jameshadfield commented on #658
May or may not be related to https://www.npmjs.com/package/auspice only showing @trvrb as the collaborator (despite me being able to deploy via `npm publish`)

[2018-09-05 23:20] jameshadfield opened #659 "disable dev mode for global npm install"

[2018-09-05 23:43] #659 closed

[2018-09-07 01:45] #658 closed

[2018-09-07 12:25] trvrb opened #661 "NPM_TOKEN not defined"
Bug that I just introduced, when running `npm start`, or anything really the value of `NPM_TOKEN` that's specified here https://github.com/nextstrain/auspice/blob/master/.npmrc is not defined. This causes the following error:
[code]
Maybe there's a simple way to define a fall back in the `.npmrc` file? Sorry about this.

[2018-09-07 14:36] tsibley commented on #661
@trvrb I believe PR #662 will fix it. It is untested because it requires pushing to `release` to test.

[2018-09-07 16:09] tsibley opened #663 "Second tree colors are slightly different than the first tree"
Each color in the first tree is linked to colors that are slightly lighter in the second tree. It's pretty subtle, but a real behaviour:

![image](https://user-images.githubusercontent.com/79913/45229664-4d282c00-b27b-11e8-99cf-9c7a04074553.png)

Note that it only happens when toggling on the second tree after viewing the first. It doesn't happen if you load <https://nextstrain.org/flu/seasonal/h3

[2018-09-07 16:31] tsibley commented on #663
My non-working solution was to add a second `dispatch()` call in [`loadTreeToo()`](https://github.com/nextstrain/auspice/blob/58b2723/src/actions/loadData.js#L80-L88):

[code]

but that made the first tree's tips seemingly disappear.

[2018-09-07 17:44] #661 closed

[2018-09-07 18:10] tsibley commented on #661
I made a new release, 1.30.2, to test that my fix works. It does!

[2018-09-19 13:40] jameshadfield opened #664 "Clicking on a tip while 2 trees are displayed causes auspice to crash"
Can be reproduced by loading https://nextstrain.org/flu/seasonal/h3n2/ha:na/3y and clicking on a tip

Trace (in dev mode):
[code]

Why?
It seems that `tipRadii` is not set on the initial load for the second tree

[2018-09-19 14:15] #664 closed

[2018-09-19 17:01] #663 closed

[2018-09-19 17:18] jameshadfield opened #667 "release script broken on MacOS"
The changes to the `sed` command (commit e210987950ad3fae0a70e000b0f94f00b6a4ae68) mean it no longer works on MacOS.

Error:
[code]

[2018-09-19 17:27] tsibley commented on #667
Ugh, sorry, I tried to ensure it'd still work there by closely reading the BSD sed manual (since I didn't have access to the executable).  But clearly something's goofy still.  I can fix this, but will need someone to test.

[2018-09-19 19:12] #667 closed

[2018-09-20 17:49] tsibley opened #669 "Support gene names containing hypens and underscores"
Stems from https://github.com/nextstrain/augur/pull/220.  In particular, I believe we can add this support by doing something [like what I described in a comment there](https://github.com/nextstrain/augur/pull/220#issuecomment-422887618).

- [ ] Replace genotype parsing in auspice
- [ ] Adjust JSON Schemas in augur if necessary to add hyphens and underscores to the allowed characters

[2018-09-21 16:52] jameshadfield commented on #649
I believe @emmahodcroft is playing around with the implementation of this 👍

[2018-09-24 16:29] emmahodcroft commented on #649
@jameshadfield  and @trvrb -
I've created a branch (`no_date`) which should now handle cases where there is `branch_length` and `div` but no date information. I also created a branch in `augur` (not pushed yet) which modifies `refine` so that if date information on the tips is present (but `--treetime` option not run, for example, so no dates on internal nodes) this is included in the `branch_leng

[2018-09-24 17:02] trvrb commented on #649
@emmahodcroft ---

This is fantastic. I demoed with the MERS example here: https://github.com/nextstrain/mers-beast-tutorial/tree/master/auspice. Works really well. Two small notes:

* We should disable "clock" layout as well. Without dates, this is broken.
* We should remove "sampled between Jan 0002 and -100000" in the info text under title.

I believe that @jameshadfield now has a date only MER

[2018-09-25 09:19] jameshadfield commented on #649
@emmahodcroft i've got some from-BEAST date only JSONs we can look at this week 👍

[2018-09-26 11:17] emmahodcroft commented on #649
@trvrb - Thank you for spotting those two things! I've added a couple of changes that should fix them. @jameshadfield I'm happy to start looking at date-only files whenever is good!

[2018-09-26 14:02] trvrb commented on #649
@emmahodcroft --- Nice! I think `no_date` can be PRed.

[2018-09-26 15:44] emmahodcroft commented on #649
@trvrb - I had a chat with @jameshadfield about this this afternoon. I started working on supporting lack-of-dates having completely forgotten this issue, and thus that the inverse (date only) should be supported too - so my `displayDates` is a binary trait. James suggested, and I agree, that probably a better way forward would be to make this able to hold 3 values to represent 'both,' 'date only,

[2018-09-26 15:54] trvrb commented on #649
@emmahodcroft --- I like this suggestion (for three values, like node vis). One development strategy would be to change the current `displayDates` to be `branchLengthsToDisplay` (in analogy to existing `panelsToDisplay` and have this map to `divAndDate` or `divOnly`. You can then add a `dateOnly` option on top of this as a separate PR.

Node vis was shortened to an integer for performance reasons.

[2018-09-27 14:47] emmahodcroft commented on #649
@trvrb  - I've made this change and created PR [670](https://github.com/nextstrain/auspice/pull/670) - I'll start expanding this to date-only trees.

[2018-09-27 17:02] trvrb commented on #649
That's fantastic. I'll take a look @emmahodcroft.

[2018-10-26 00:13] jameshadfield opened #671 "allow animation to be disabled via meta JSON"

[2018-10-26 00:39] jameshadfield opened #672 "change community builds CDN"
Community URLs currently source the JSONs from github via the rawgit CDN.
Rawgit is shutting down -- see https://rawgit.com/
We should migrate the CDN -- https://www.jsdelivr.com/rawgit looks simple.

[2018-10-30 00:03] jameshadfield opened #674 "Allow view option specification in dataset JSONs"
Further to #671, this is a proposal to include options in the dataset JSONs which would modulate the available view. For instance:
[code]
Do people think this is a good direction?

[2018-10-30 18:38] jameshadfield commented on #671
Closing as #674 encompasses this

[2018-10-30 18:38] #671 closed

[2018-10-30 18:40] jameshadfield commented on #649
Closed by @emmahodcroft in #670

[2018-10-30 18:40] #649 closed

[2018-10-30 18:43] jameshadfield commented on #616
My understanding of the proposed solution (after various phone calls) is:
* sequence information will be in a separate json file
* a flag in the meta json (or unified json) will indicate that this is present
* auspice will subsequently fetch this json

[2018-10-30 18:44] #567 closed

[2018-10-30 18:45] jameshadfield commented on #563
Will be solved via the whitelabelling process

[2018-10-30 18:48] jameshadfield commented on #509
The ability to generalise this is desirable but very low priority

[2018-10-30 18:51] jameshadfield commented on #507
This issue may be discussed in tandem with the proposal to display titer (and model) information on the tree.

[2018-10-30 18:59] jameshadfield commented on #264
Previous discussion (#266) on what node (deme) hover / click behavior should be:

@trvrb

@jameshadfield

[2018-10-30 18:59] jameshadfield commented on #266
Moved to #264

[2018-10-30 18:59] #266 closed

[2018-10-30 19:02] jameshadfield commented on #380
Closing this as the current behavior is perfectly acceptable 👍

[2018-10-30 19:02] #380 closed

[2018-10-30 19:11] jameshadfield commented on #280
Doing this for all the different use cases seems difficult to do perfectly, but relatively easy to make vast improvements over the current situation (right now it's hardcoded so only works for a small range of tip values).

We could also expose a user selector to tweak this as desired, e.g:
![image](https://user-images.githubusercontent.com/8350992/47743743-fae10700-dc3c-11e8-8494-47f771450853.png

[2018-10-30 19:19] jameshadfield opened #675 "Allow map deme sizes to represent different properties"
Currently map deme sizes are represented by visible* tips. For many datasets there are other quantities that may be desirable to use for this, e.g. ABX, titer values. Furthermore, this allows epi data to be integrated into the tree as weights for each tip.

This issue proposes allowing these as user options via the sidebar, with the current "visible-tip-count" being the default. Available values w

[2018-10-30 19:35] #563 closed

[2018-10-30 21:40] tsibley commented on #280
What if we define a scaled set of maximum deme radii based on the current map zoom level, assign the largest demes to the zoom level max radii, and scale the rest of the smaller demes based on that?

[2018-10-30 21:50] jameshadfield commented on #280
This would be a relatively easy first step and would probably be a big improvement.

[2018-10-30 22:33] tsibley commented on #674
I think it may be useful for a dataset to be able to choose the best default view, which is very hard or ~impossible for auspice to pick itself.

I don't think the dataset should necessarily be able to disable controls or tree layout options just because.

So, :+1: for defaults but :-1: for the dataset restricting controls.

[2018-10-30 22:37] jameshadfield commented on #674
Yup -- this functionality already exists.

That's what this issue argues for. This empowers the scientists to choose how the data can be displayed. For instance, it may be scientifically misleading to display a tree in a certain way. Just as we already allow them the option of showing certain panels (e.g. flu doesn't have a map).

[2018-10-30 23:04] tsibley commented on #674
Oh, I see!

Can you expand on the argument for allowing restricted views? As a counterpoint, it disempowers the _viewing_ scientist from thinking about the data with a different display.

Ah, I didn't realize that. Do you have an example of when this would be the case?

[2018-10-30 23:13] trvrb commented on #674
@tsibley: Lassa timetree https://nextstrain.org/lassa/s is likely inaccurate.

[2018-10-30 23:14] jameshadfield commented on #674
Examples of empowering scientists to choose the options, not the viewer (note that we already allow some of these, I didn't expect this issue to be controversial)
* don't display map component
* don't display transmissions -- see the hack needed here https://github.com/blab/zika-colombia/#instructions-for-reproducing-the-zika-colombia-analysis
* Exploded trees / timelines are only applicable in re

[2018-10-30 23:16] trvrb commented on #674
I'm in favor of being able to optionally restrict sidebar controls. Mainly to have a clearer more focused tool if someone wants it this way. I think I'm more concerned about clarity of presentation and having the option to have have fewer controls than I am of misrepresenting data, but both are valid.

[2018-10-30 23:44] tsibley commented on #674
Thanks for the examples, both! My questions weren't meant to cause controversy, @jameshadfield, just expand my understanding of something I didn't quite get the reason for.

[2018-11-01 18:37] jameshadfield commented on #273
@colinmegill @sidneymbell would you like this issue to stay open?

[2018-11-01 18:51] colinmegill commented on #273
I leave it to you guys!

[2018-11-01 19:13] trvrb commented on #273
I believe that `tip-frequencies.json` and the `Frequencies` component fulfilled exactly these requirements. The current frequencies panel fulfills:

I would be in favor of closing.

[2018-11-01 19:54] #273 closed

[2018-11-01 19:56] #496 closed

[2018-11-02 16:22] #625 closed

[2018-11-12 18:54] jameshadfield opened #680 "whitelabelling to-do list"
- [ ] improve, discuss & document sidebar theme interface
    - [ ] move `Select` to styled-components
- [ ] document component extension interface
    - [ ] Splash page interface
    - [ ] nav-bar interface
- [ ] discuss & document server interface / API
    - [ ] consider pseudo-static syntax, e.g. `domain/datasets/zika.json`, `.../available/staging.json`
    - [ ] available datasets structure

[2018-11-19 20:04] tsibley commented on #672
Trevor and I chatted about this on Slack this morning. jsDelivr has size limits that we bump into pretty easily. It looks like Github's own raw content server (raw.githubusercontent.com) is using Fastly these days and serving compressed, highly cached content. Trevor's preparing a branch to switch to it which I'll review.

[2018-11-19 20:19] #672 closed

[2018-11-19 23:05] jameshadfield commented on #672
Nice one. Thanks!

[2019-01-02 03:51] jameshadfield opened #687 "future server API"
This issue is to discuss the design of the server API employed by auspice. To briefly recap, auspice needs to know which datasets / narratives are available as well as obtaining the dataset or narrative to view.

Here are @tsibley's thoughts, taken from https://github.com/nextstrain/auspice/pull/683#issuecomment-450027666

### Current

The Charon API, [as described in the white-labelling docs][api

[2019-01-02 06:33] jameshadfield commented on #687
In general I think this proposal is probably the better direction. I've sketched these out using the v2.0 schema which I'd like to start using ASAP (no more meta & tree). I've also used the underscore separator as we've had a bunch of discussions about this and have always preferred it over hierarchical structures. (FWIW a change here would be better suited as an augur PR, as augur by default crea

[2019-01-16 05:08] jameshadfield opened #689 "library imports fail when auspice is locally (not globall) installed"
Webpack should allow library imports which are part of

[2019-01-18 18:56] huddlej opened #691 "colorBy query string gets corrupted when switching between builds"
When I select a non-default colorBy (e.g., antigenic advance) for a seasonal flu build of HA and then switch to the corresponding build for NA, the query string for the selected colorBy gets split into separate query strings with one entry per letter of the colorBy value. A complete example to recreate this problem is given below.

1. Navigate to seasonal flu build: https://nextstrain.org/flu/seas

[2019-01-23 10:34] tsibley commented on #691
Ah, not an actual `split`, but implicit by treating a string as an array. The `PAGE_CHANGE` event dispatched by the commit above should pass `query` as a parsed object returned by `queryString.parse()` instead of a bare string. (The bug existed in the previous version of the code too in certain circumstances it seems.)

[2019-01-23 17:07] huddlej commented on #691
Thank you for digging into this @tsibley ! @jameshadfield had mentioned that this bug occurred in the past somewhat randomly and without a clear way to reproduce it. Do you have time to submit a PR for this fix?

[2019-01-23 19:27] jameshadfield opened #693 "display user-friendly error if port is already in use"
[code]

[2019-01-23 19:39] jameshadfield commented on #691
That was referring to a different bug: namely that the date slider handle often doesn't appear on the right hand side as it should (it's there, but on the left instead).

I can look into this issue today and see if there's an easy fix

[2019-01-23 22:43] tsibley opened #696 "Dataset selectors aren't ordered"
For example, https://nextstrain.org/flu/seasonal/h3n2/na/3y shows a selector for the time component that lists 3y, 2y, 6y, 12y instead of 2y, 3y, 6y, 12y. I suspect this may be because 3y is the default, but haven't verified that.

[2019-01-23 22:46] tsibley opened #697 "Switching one component of the dataset doesn't preserve others"
For example, going to https://nextstrain.org/flu/seasonal/h3n2/ha/2y and then switching segment to na results in viewing https://nextstrain.org/flu/seasonal/h3n2/na/3y instead of na/2y. Similarly, switching lineage from h3n2 to h1n1pdm resets the selected segment and time resolution.  It would be nice for dataset switches to preserve as much of the other selected components as possible (i.e. if th

[2019-01-23 22:48] jameshadfield opened #698 "auspice server fails to expand partial datset URLs"
The current auspice server doesn't redirect partial URLs to available datasets. Note that the nextstrain.org server does redirect these URLs.

E.g. http://localhost:4000/flu/seasonal/h3n2/na will not load (http://localhost:4000/flu/seasonal/h3n2/na/2y) will. Server log:
[code]

Importantly, this error is triggered when using (most of) the sidebar dropdowns to access different datasets.

[2019-01-24 01:12] #691 closed

[2019-01-24 01:12] #693 closed

[2019-01-25 10:45] tsibley commented on #687
Good observations, thank you for spending the time to consider this in detail! My comments are below.

Hmm, I don't think anything fundamental about augur requires flat structures. All of the output files are user-provided and can be any arbitrary path. I expect moving the logically-hierarchical file names (with underscores) to actually-hierarchical names (with slashes) would require approximately

[2019-01-25 23:46] trvrb commented on #687
I really like the proposed API on the auspice fetch side. `${auspiceDomain}/flu/seasonal/h3n2/ha/2y` is really nice.

I think I'm historically the big proponent of flat JSON structures, ie `flu_seasonal_h3n2_ha_2y.json`. I had mainly liked this in the same way as I generally prefer to name my files with relevant information when doing bioinformatics rather than relying on path. [This follows other

[2019-01-27 22:25] jameshadfield opened #699 "download modal is currently broken"

[2019-01-28 00:04] #699 closed

[2019-01-28 17:24] tsibley commented on #687
Nod. I guess I tend to consider the path (from the root of whatever project dir) part of the file's name rather than some disconnected, independent thing. Paths are a ubiquitous method of establishing a naming hierarchy with support for traversal and globbing operations, and it's a little weird to me to re-create all of that on disk and in our code using underscores.

I won't push on this more for

[2019-01-31 23:35] trvrb opened #700 "404 page should preserve URL"
Currently, if auspice 404s it punts back to the base URL. For example, http://nextstrain.org/zika1 404s, but the URL is changed to https://nextstrain.org/. I don't think this is good behavior. Often, there's just a slight misspelling and this also breaks the use of the back button. I believe 404s should resolve as they do on bedford.io for example: https://bedford.io/zika.

[2019-02-02 19:31] jameshadfield commented on #700
Sounds very reasonable to me, i'll try and get a fix up ASAP.

[2019-02-04 02:37] jameshadfield opened #702 "List of performance improvements to be implemented"
This issue summarises the available performance improvements that could be made to auspice. These can involve algorithmic improvements and reducing the bundle size(s). Each one would probably be a separate PR.

## Code/bundle reduction
* Don't load the Map component for datasets that don't need it (this is easy with code splitting but results in a blank pane for ~0.5s for datasets that show the ma

[2019-02-04 02:38] jameshadfield commented on #565
Closed in favor of #702

[2019-02-04 02:38] #565 closed

[2019-02-04 02:38] jameshadfield commented on #566
Closed in favor of #702

[2019-02-09 01:42] #700 closed

[2019-02-20 02:19] zoatrope opened #704 "Blank"

[2019-02-20 02:21] #704 closed

[2019-02-20 02:22] trvrb opened #705 "Sorting of dataset dropdown could be improved"
Currently, if the manifest lists something like:
[code]
It will display as:

<img width="569" alt="h1-options" src="https://user-images.githubusercontent.com/1176109/53061692-3feeaa80-3473-11e9-969b-4eb59d52fabc.png">

where the default option of `3y` gets sorted above all other options.

I think this looks strange in this case to have a list of menu options that go: 3y, 2y, 6y, 12y. I'd recommend

[2019-02-20 05:32] tsibley commented on #705
This is the same request as #696.

Note that regardless of the source text, JSON objects `{…}` don't have a particular key order defined: “An object is an unordered set of name/value pairs.” The select widgets must choose an explicit order to use at display time.

[2019-02-20 06:00] trvrb commented on #705
I see. I'll close this in favor of #696.

[2019-02-20 06:00] #705 closed

[2019-02-20 16:28] trvrb opened #706 "Tangletree URL does not match for Lassa"
Small bug I just noticed. If you go to:

https://nextstrain.org/lassa/s:l

You properly got the "s" segment / "l" segment tangletree, but the URL is updated to:

https://nextstrain.org/lassa/s

[2019-02-26 19:47] trvrb opened #707 "Allow footer text to derive from meta.json"
Currently text in footer (https://github.com/nextstrain/auspice/blob/master/src/components/framework/footer.js#L49) is the only remaining place where auspice source code has to get modified in a dataset specific manner. Notably, this currently causes issues with community builds, where for example Paul's work here: https://nextstrain.org/community/pauloluniyi/lassa/s, gets a footer borrowed from h

[2019-02-26 19:57] tsibley commented on #707
HTML might be ok in the short-term to get this going now, but pretty soon we will need to address the security implications of allowing that HTML injection. It might be easiest to not allow it from the beginning, particularly since nextstrain.org already allows rendering of untrusted inputs via community URLs.

We might address the security issues by filtering to a minimal allowed set of tags or b

[2019-02-26 20:02] trvrb commented on #707
Ah! Good point @tsibley. Would markdown be a safe alternative?

[2019-02-26 20:17] tsibley commented on #707
Yes, if whatever we use to render Markdown → HTML has the appropriate restrictions, since most Markdown parsers allow inlining raw HTML and some allow arbitrary element attributes.

[2019-02-27 03:24] jameshadfield commented on #707
Currently the auspice server (and nextstrain.org server) include a node markdown library which is used to parse the narrative markdown files, sending (sanitized) HTML to the client to render. With the proposed server API, the parsing of the footer markdown (and also the narratives) would need to happen on the client.

[2019-02-27 05:45] jameshadfield opened #708 "Code splitting has broken d3 transitions"
This bug was introduced between v1.35.5 and v.1.36.0 by PR #701 (code splitting). Nextstrain.org is still on v1.35.5 and it's recommended to continue to use that version until this bug is fixed.

## Description:
For some datasets (!) clicking on branches / tips in the tree causes the app to crash. Zika, flu/seasonal/h3n2/ha/3y, and flu/seasonal/h3n2/na/3y appear to work fine, however http://localh

[2019-02-27 05:52] trvrb commented on #708
If this proves difficult to immediately fix, we may want to push a hot fix to 1.36.1 that reverts the code splitting PR. Even though live site is working. We won't be able to make small fixes to footer, etc... and anyone installing auspice from npm will have this issue.

[2019-02-27 07:49] #708 closed

[2019-02-27 11:40] jameshadfield commented on #706
Fixed in nextstrain.org via commit: https://github.com/nextstrain/nextstrain.org/commit/8fcbe074e86a1147795ba64347d46d2ad7f4e5c1
And in auspice via commit: 51ccced9618017ae35c3fa5ef62349ef3f477acc

Note that addressing #687 will shift the logic for this back to the client.

[2019-02-27 11:40] #706 closed

[2019-02-27 20:43] fbattle commented on #632
Hi, I'm looking for open source projects open to contributions, if I may.  I started looking at this bug.   I see nextstrain.org/flu footer text, then dropdown change to zika, and note the footer text is updated.  Unless I'm missing something, this seems resolved.

However, tsibley reports an issue with nextstrain.org/WNV redirected to /WNV/NA footer text.  I'm seeing generic footer text, "This wo

[2019-02-27 21:38] tsibley commented on #632
Yes, I think that's an accurate description of the bug.

[2019-02-28 04:04] jameshadfield commented on #697
Feel free to take this issue if anyone would like to tackle it. I believe that this functionality will be shifted to the client during the implementation of #687.

Some relevant info (using the above ha -> na example) - auspice only sends `flu/seasonal/h3n2/na` to the server. The server then completes this incomplete path using the default value (3y) as it doesn't know about the previous state.

[2019-03-04 20:53] trvrb opened #711 "Docusaurus dependency"
I believe the Docusaurus dependency (https://github.com/nextstrain/auspice/blob/master/package.json#L71) is only used when building the docs site. Running `npm install -g` to get the command line tool `auspice` shouldn't need this I believe.

I bring this up, because `gifsicle` when is a sub-dependency of Docusaurus:
[code]
But installing gifsicle requires Unix `autoreconf`. The lack of this utili

[2019-03-04 21:06] tsibley commented on #711
I noticed the first `gifsicle`-related Docker image build failure last week, but it's been low on my priority list to fix since the new releases of auspice don't change much for the Docker image use cases.

++ for reducing the deps auspice requires for typical usage.

[2019-03-04 21:46] trvrb commented on #711
Alternatively, we could move Docusaurus to dev dependencies in the main package.json.

[2019-03-04 22:41] tsibley commented on #711
I believe `npm install` installs `devDependencies` by default unless you specifically ask it not to via flags like `--only=production` or `--production`.

I'm not sure what the full implications are for a second `package.json` under `docs-src/` with regard to the current scripts/workflow for building the docs. @jameshadfield might know more here without having to investigate.

[2019-03-05 03:50] jameshadfield commented on #711
Seems sensible to me, the doc-building scripts will just need to run `npm install` from the relevant directory (we do this for the gatsby-built static part of nextstrain.org: https://github.com/nextstrain/nextstrain.org/blob/master/set-up.sh#L17).

Note that a lot of "dev-dependency" libraries actually need to be in "dependencies" for things like `auspice build` to work, but this isn't one of them

[2019-03-06 13:23] trvrb commented on #711
BTW the proximal issue with Docker and docusaurus has been resolved:

* https://github.com/nextstrain/docker-base/commit/f3291c52c8aebda358d0974c62e4f84df3f1200f
* https://travis-ci.com/nextstrain/docker-base/builds/103307302

[2019-03-06 17:21] tsibley commented on #711
Thanks, @trvrb!

[2019-03-11 02:32] trvrb commented on #543
I'm going to close this now. I'm not liking the direction as I think it will add confusion to have a time selector in frequencies panel in addition to existing date min and date max.

[2019-03-11 02:32] #543 closed

[2019-03-11 02:51] trvrb commented on #100
This was resolved previously (whenever `getGeoRange` + `fitBounds` was implemented).

[2019-03-11 02:51] #100 closed

[2019-03-11 02:55] trvrb commented on #280
I think that PR #712 + a dynamically set max zoom (to be ~2 levels past initial zoom set by `fitBounds`) will fully resolve this. Initial sizing all works well, only looks bad when zoomed too far out. I think reasonable to add in a `maxZoom` and `maxBounds` to appropriately bound these more narrow datasets.

[2019-03-11 15:08] #425 closed

[2019-03-11 15:08] #369 closed

[2019-04-17 11:30] jameshadfield opened #714 "Improve offline functionality"
Currently auspice can run “locally” such that datasets are sourced from the user’s computer. This is fantastic, but requires an internet connection to load a number of cross-origin resources (see below). This includes mapbox tiles, meaning the map isn’t usable when offline. This functionality would be particularly desirable for conference talks etc where network connections are often unavailable,

[2019-04-17 16:06] jameshadfield opened #717 "Move to new organisation"
Following on from discussions over the past few months, I believe we've decided to move the repo to [github.com/epiphyla](https://github.com/epiphyla)

[This guide](https://help.github.com/en/articles/transferring-a-repository) makes it seem pretty trivial to transfer, but I think it's best done from Seattle all the same. Notable points:

* issues, pull requests, wiki, stars, forks and watchers ar

[2019-04-17 19:21] vagnerfonseca opened #718 "Change port 4000"
Hello,

I would like to change the application access port (4000), which file do I need to update for this to take work?

[2019-04-17 20:33] trvrb commented on #718
Hi @vagnerfonseca, the easiest way to change the port is by running the Nextstrain CLI (https://github.com/nextstrain/cli). With this installed, you can run

[code]

This will be equivalent to running `auspice view --datasetDir auspice/` Let me know if this doesn't work for you.

[2019-04-18 07:54] jameshadfield commented on #718
Hi @vagnerfonseca -- If you'd prefer to use auspice directly, you can set an environment variable:
[code]

[2019-04-18 07:54] #718 closed

[2019-04-19 14:05] jameshadfield opened #719 "Don’t display “Panel Options” if there’s only one panel available"

[2019-04-23 07:28] #711 closed

[2019-04-23 07:53] jameshadfield opened #721 "how to develop v2"
This issue is a request for comments regarding the github branching structure for the next 1-2 months, as some people may feel strongly about this, as well as the general development plan.

As discussed in 2019-04-22, we plan to move auspice to epiphyla in June. Between now & then I plan to work on the following features, all of which will result in some 2.0.0 alpha/beta testing versions (includin

[2019-04-23 07:55] #717 closed

[2019-04-23 11:05] jameshadfield opened #722 "Map cannot change geographic resolution in narrative mode"
When in narrative mode, changing the geographic resolution causes the map component to break (no demes / transmissions rendered). If there are transmissions to be drawn, you get errors such as `Error trying to access x-y in transmissionIndices. Map transmissions may be wrong.`, otherwise there are no console errors.

* Since we can change the geo resolution via the sidebar dropdown, this shouldn't

[2019-04-23 16:15] tsibley commented on #721
This sounds fine to me. Long-lived trunk branches (`master`, `v2`, etc) are typical when dealing with multiple major versions.

[2019-05-16 10:25] jameshadfield opened #724 "Test `npm install --global` on different setups"
_Originally posted by @emmahodcroft in https://github.com/nextstrain/auspice/pull/720#issuecomment-491893236_

@emmahodcroft were you using nodejs inside a conda environment, or a system nodejs install?

[2019-05-16 10:27] emmahodcroft commented on #724
I believe it's a system install. If there's anything I can fun to produce more useful information just let me know :)

[2019-05-25 18:25] rneher opened #726 "ordinal color scales"
we allow discrete and ordinal color scales in v2 schema. the order of discrete scales is determined by abundance. ordinal scales should be sorted by value. This is currently not implemented but would easy to add here:

https://github.com/nextstrain/auspice/blob/master/src/util/colorScale.js#L137

any thoughts?

[2019-05-26 18:35] trvrb opened #727 "Color gaps, Ns and Xs as gray"
New functionality in augur allows preservation of gaps, Ns and Xs in reconstructed sequences (https://github.com/nextstrain/augur/pull/280). These character states should be colored gray to indicate lack of data.

[2019-05-31 22:18] kairstenfay commented on #237
@jameshadfield should tip labels be re-calculated each time `drawTips()` is called?

[2019-06-01 00:02] kairstenfay commented on #237
I believe commit 579c524 addresses the final bullet point.

[2019-06-04 18:35] kairstenfay commented on #237
https://github.com/nextstrain/auspice/pull/728 addresses the parts of this issue where tip label visibility would not update after Date Range change, and where tip labels would not re-appear after layout change.

[2019-06-05 13:21] jameshadfield commented on #726
Hi @rneher -- this is definately needed, however it should happen on the v2 branch. Currently (v2 branch, for v2 JSONs) ordinal & discrete both use the same scale,

[2019-06-17 23:56] jameshadfield commented on #724
![](https://github.trello.services/images/mini-trello-icon.png) [Test global auspice install on your system](https://trello.com/c/pQyDTI0Q/13-test-global-auspice-install-on-your-system)

[2019-06-19 01:00] jameshadfield commented on #724
Rolling updates on what works, and what doesn't!

## Works
- ubuntu using `nvm` to manage nodejs (kairsten)
- macos using `conda` (james)

## Doesn't work
- ubuntu using system nodejs install (kairsten)
- windows using system nodejs install (emma)

[2019-06-19 19:16] joverlee521 commented on #724
on macos `npm install --global auspice@alpha` worked for me

[2019-06-19 19:28] jameshadfield commented on #724
thanks @joverlee521 -- did you have a system install of node/npm, or were you using nvm, or conda?

[2019-06-19 19:30] joverlee521 commented on #724
@jameshadfield I have a system install of node/npm

[2019-06-20 13:12] emmahodcroft opened #730 "2.0: Source Color By Title from menuItem in V1 JSONs"
Currently it seems Auspice 2.0 (both when displaying and in `auspice convert`) uses `legendTitle` as the drop-down Color By text when processing `augur export` V1 JSONs. It should use `menuItem`.

This should be a quick fix, hopefully :) Thought you could do it quicker, James, but I can come back to it if needed.

[2019-07-02 19:26] kairstenfay opened #731 "Auspice narratives scroll-up bug"
Aupice narratives has a known bug where scrolling down then scrolling up sometimes causes the page to load a blank white screen and then redirect from `/narratives` to `/na`.

The surest way to recreate this is to go to [an example narrative](https://wnv-paper-narrative.herokuapp.com/narratives/map-bug) and scroll all the way to the bottom. Then click the link to go back to the top or manually scr

[2019-07-02 21:17] joverlee521 commented on #731
Console error:
[code]

[2019-07-03 17:00] rneher opened #732 "crash when `nuc` annotation is missing."
Auspice crashes and displays a 404 msg when the annotation in the json doesn't contain a `nuc` annotation.

[2019-07-03 17:15] joverlee521 opened #733 "auspice view in 2.0.0-alpha.1"
Auspice view suddenly stopped working on for me and the console shows the following error:

Tried to create a new conda env and installed auspice again, but still get the same error.

[code]

[2019-07-03 17:20] joverlee521 commented on #733
Auspice view works in a newly created conda env.

[2019-07-03 17:20] #733 closed

[2019-07-03 20:52] joverlee521 opened #734 "v2 JSON schema for zika tutorial"
These bugs can be seen when viewing v2 JSON for the zika tutorial.
- The "Filter by Authors" lists the unique author keys rather than the author names.

<img width="1117" alt="Screen Shot 2019-07-03 at 1 44 26 PM" src="https://user-images.githubusercontent.com/40774762/60623954-e55a4900-9d98-11e9-9139-bf3e16edbe3c.png">

- Nodes from the same author all display the same URL even though the URL is

[2019-07-05 21:15] kairstenfay opened #735 "Rethink the `maybe` logic in the Map component"
The Map component as it exists is difficult to understand and to debug.

It employs a lot of "maybe do this" logic in its function naming and execution.

Let's rethink the architecture of the Map component (which is unique to Map and does not exist elsewhere in Auspice) to remove "maybes". For example, performing checks before calling a function is an alternative to calling a function called `mayb

[2019-07-06 15:45] kairstenfay commented on #450
Can give more specific instructions about how to reproduce this issue? (and #429, too)

[2019-07-09 03:08] #722 closed

[2019-07-09 03:09] jameshadfield commented on #731
Closed in #736

[2019-07-09 03:09] #731 closed

[2019-07-10 13:05] emmahodcroft commented on #734
Just catching up on v2 stuff and I have spotted what seem to be differences in what we expect of URLs here and how they are working.

As I understand, URLs passed in become the URL for the accession number. So it seems they do not need to be displayed in a separate field in the pop-up? Also, this then causes a lot of warnings because of 'contradictory author information' because the accession-numb

[2019-07-11 23:55] trvrb opened #737 "Coloring display when tree is missing attribute"
This bug was discovered for seasonal flu here: https://github.com/nextstrain/seasonal-flu/issues/33 and can be seen live at https://nextstrain.org/flu/seasonal/h1n1pdm/na/2y?c=ep. Basically, the auspice config specifics `ep` as a coloring attribute, but `ep` does exist as an attribute anywhere in the tree. This could be viewed as augur user error (and we should fix this in seasonal flu), however,

[2019-07-12 03:22] jameshadfield commented on #737
Good find. Did `augur validate` pick this up? I hope that after augur v6 all the builds will start validating the JSONs, but I agree that auspice should handle this better 👍

[2019-07-16 01:35] jameshadfield opened #738 "genotype color-by not shown in sidebar dropdown on page load"
When setting a genotype color-by via a URL (e.g. go to https://nextstrain.org/zika?c=gt-nuc_255), the colors are correct in the app, but the sidebar color-by dropdown hasn't updated to reflect this state (it shows the blank "Select..." placeholder). This issue is not present for non-genotype color-bys.

[2019-07-18 02:09] jameshadfield opened #742 "Tips with "hidden" node property are still displayed"
This can be seen using the [hidden nodes test build](https://github.com/nextstrain/augur/tree/v6/tests/builds/hidden_nodes) in augur, where "VEN/UF_1/2016" should be hidden.

![image](https://user-images.githubusercontent.com/8350992/61423892-a4039500-a965-11e9-8874-12aaf173183a.png)

Priority: low

[2019-07-18 02:16] jameshadfield commented on #734
Closed by https://github.com/nextstrain/auspice/pull/741 and https://github.com/nextstrain/augur/pull/315

[2019-07-18 15:13] rneher opened #743 "Title of map panel: "Transmissions" -> "Geographic distribution""
For many builds, we don't infer ancestral states. In this case, there are no transmission lines to be displayed and the title of the panel is misleading. I would prefer "Geographic distribution" similar.

[2019-07-18 15:27] emmahodcroft opened #744 "Clade URL Bugs: Unwanted `root` and Overriding Filters"
For both v1 and v2 style JSONs (though not tested all variations extensively), `clade=root` shows up randomly (unasked for) in the URL and sticks around for a while. I found another bug while investigating this, but they may be related?

This is on `bibtex`, `v2`, and `master` branches of auspice. Also on the live version online. I'll use the live Enterovirus as an example.

Loading the JSON goes

[2019-07-18 15:47] trvrb commented on #744
I notice this a lot when navigating tree layout. Would be really nice to resolve. Thanks for detailing this so carefully @emmahodcroft.

[2019-07-18 16:00] trvrb commented on #743
Historically, I had wanted the "Transmissions" panel name, because I had thought to make this abstracted from geography. Ie you could place demes in a circle or according to a spring embedding. And in this case you could show things like camel/human transitions in MERS or between genotype transitions in flu. Obviously, this never happened.

I do think I'd prefer a slightly shorter name than "Geogr

[2019-07-18 16:03] rneher commented on #743
happy with that. But 'Mao'? 'Lenin'?

[2019-07-18 22:22] jameshadfield commented on #744
Thanks @emmahodcroft for the detailed error messages -- it made finding the bugs so much easier.

Could you test branch `root-url` which has fixes for both these bugs 🎉 and merge into master if it behaves appropriately

Tangentially related behavior: if the "root" of the tree is labelled, then you can click on it and change the selected clade in the URL even if the tree doesn't change appearance.

[2019-07-18 22:33] jameshadfield commented on #743
Why not both? 😉

Screenshots of toggling geo-resolution in WNV (transmissions only inferred for "country") on branch [map-title](https://github.com/nextstrain/auspice/tree/map-title)

![image](https://user-images.githubusercontent.com/8350992/61496504-758ec400-aa10-11e9-8ffe-7b791ba69d81.png)

![image](https://user-images.githubusercontent.com/8350992/61496508-7d4e6880-aa10-11e9-9b84-ba7e7f24cef3.

[2019-07-19 07:12] rneher commented on #743
great!

[2019-07-19 07:56] rneher opened #745 "`num_date` missing -> crash"
I  am working with a very bare-bones json (export v2) and it makes auspice crash bc num_date is missing

![image](https://user-images.githubusercontent.com/8379168/61519141-740ecd00-aa0b-11e9-978f-a468cb2b204d.png)

[2019-07-19 08:29] emmahodcroft commented on #744
Will do!

I agree it's more trouble than it's worth, and I don't think it's particularly troublesome behaviour.

[2019-07-19 08:54] emmahodcroft commented on #743
Where are [gifs](https://media.giphy.com/media/3o85xIO33l7RlmLR4I/giphy.gif) in github when you need them!

[2019-07-19 09:08] jameshadfield commented on #745
Huh. It _shouldn't_ because div-only trees are/were fine. Will fix.

[2019-07-19 14:21] emmahodcroft commented on #745
### Bug 1:

Hmmm... I think this is because in `export v2` we do not check whether the tree has date information - it is assumed.
See line [#184](https://github.com/nextstrain/augur/blob/33721adb5cd60c9f3411e2189c11c55a1e31591a/augur/export_v2.py#L184)

This is reflected in your JSON @rneher, as under `colorings` you have `num_date`.

So, it's breaking in a different part than our previous fix to

[2019-07-19 14:41] emmahodcroft commented on #745
I pushed a PR for the second bug, and I think I've figured out the first too - but going Rhine swimming now - will push later! 🏊‍♀ 😎

[2019-07-19 17:56] emmahodcroft commented on #745
Should work now with fixes above...!

[2019-07-20 00:07] #744 closed

[2019-07-20 00:30] #732 closed

[2019-07-20 00:30] #743 closed

[2019-07-21 23:30] jameshadfield commented on #730
closed by c575384

[2019-07-21 23:30] #730 closed

[2019-07-22 06:10] jameshadfield opened #749 "Nucleotide colorby is broken"
via @emmahodcroft

If I click on sites in NT view, either entropy or events, the entropy bar zooms correctly and everything, but the tree doesn't recolor... it acts like there is only 1 base at this position (no variance/variants).

This doesn't work for V2 JSONS generated by augur export V2, V2 JSONS generated from V1 (via auspice convert), or V1 JSONS. Must be Auspice 2.0 problem.

[2019-07-22 12:09] emmahodcroft commented on #749
I'd forgotten about this but does indeed still seem to be broken for me...

[2019-07-29 04:29] jameshadfield opened #753 "plan to get rid of magics from data JSON"
Over various iterations of the JSON sent to the client (not the JSON produced by augur; [see here](https://github.com/nextstrain/auspice/pull/720#issue-272469144) for background) we have had 3 keys injected in various guises. As we move to having the dataset JSONs handed directly to the client (no server modifications) we need a plan to get rid of these.

## Tree name.

See #776
~Variously injecte

[2019-07-30 00:33] jameshadfield opened #755 "Expect top-level meta+tree keys in the JSON"
Should be done in conjunction with https://github.com/nextstrain/augur/issues/183 (see that issue for background).

The convert function (v1 -> v2) in auspice will also need updating.

[2019-07-30 00:39] jameshadfield commented on #707
I think best to leave this until after v2 release. We can add in a footer field in the v2 JSONs at a later date and maintain backwards compatibility.

[2019-07-30 00:39] #724 closed

[2019-07-30 00:41] jameshadfield opened #756 "Change how node names are stored in the JSON"
In conjunction with https://github.com/nextstrain/augur/issues/185 (see there for background).

Will require updates to the v1->v2 convert functions.

[2019-07-30 00:42] jameshadfield opened #757 "Move to GFF-style annotations"
See https://github.com/nextstrain/augur/issues/187 and https://github.com/nextstrain/augur/commits/gff_annotations for more details.

Will require changes to auspice's v1 -> v2 conversion functions.

[2019-07-30 00:55] jameshadfield opened #758 "separate out branch & node attributes"
See https://github.com/nextstrain/augur/issues/332

Will require updates to v1->v2 conversion functions.

[2019-07-30 00:58] jameshadfield opened #759 "move relevant auspice docs to nextstrain.org docs"
Auspice currently contains the source code for a documentation website, deployable via github pages (you can see the master version here: https://nextstrain.github.io/auspice/). These pages have been updated on the v2 branch.

Pages relevant to nextstrain.org should be moved to the nextstrain.org docs prior to v2 release.

[2019-07-31 03:12] jameshadfield opened #760 "Investigate how strings are being displayed"
One of the bigger (but subtle) changes intended for v2 JSONs relates to how strings are displayed in auspice. Currently (v1 & v2) `prettyString()` performs a number of different string manipulations intended to improve trait display in auspice, e.g. "usvi" -> "USVI".

As much as possible these changes should be moved upstream to `augur export v2` and the schema made to support that where needed. `

[2019-08-01 07:42] jameshadfield opened #762 "Conda install for auspice"
This would be fantastic to have to remove the need to run `npm install --global auspice` once the conda environment is set up.

[2019-08-06 14:22] rneher opened #763 "map breaks on missing coordinates"
I played around with augur v6 and converted some builds I have been helping people with to v6/v2. In one case (json on slack) I manage to break auspice. Validation reports internal inconsistency (asia is a region that is not defined).
[code]
filtering to `Asia` produces dangling transmissions
http://localhost:4000/krisp/eduan/crf01?f_region=asia
![image](https://user-images.githubusercontent.com/8

[2019-08-06 14:56] rneher commented on #763
I have the same problem with other builds that lack certain geo info. This is likely a common scenario as our default geo defs are rather specific. We don't have asia as a region, for example. so graciously handling missing geo data will be important.

[2019-08-06 14:59] rneher commented on #763
transmission links remain independently of missing geo data.
![image](https://user-images.githubusercontent.com/8379168/62551029-8aba7e00-b86b-11e9-86b5-13ce9a00ad2b.png)

kind of pretty, but probably not intended, right?

[2019-08-09 15:48] emmahodcroft commented on #763
I can replicate your first issue (dangling transmissions), but not the second exactly - just changing to geo->region doesn't crash for me. It does produce warnings:
![image](https://user-images.githubusercontent.com/14290674/62791276-1c74f600-bacd-11e9-82c1-404fc587e58e.png)

If I use your link, it works.
If I filter->Asia and then geo->region it works.
If I geo->region and then filter->Asia, it c

[2019-08-09 16:04] emmahodcroft commented on #763
So I think the dangling transmission may be 'normal' - at least, they happen on my other maps where no geo data is missing. So how we want to handle this may be another issue.

For the crashing, it seems a simple check for whether `demeIndices[location` exists fixes it. I'll do a PR. I didn't check for whether this sorts countries too, but it should I think.

[2019-08-13 19:16] joverlee521 commented on #757
https://github.com/nextstrain/augur/issues/187#issuecomment-520969974

[2019-08-14 21:37] joverlee521 commented on #756
Closed by PR #767

[2019-08-14 21:37] #756 closed

[2019-08-14 22:49] #755 closed

[2019-08-14 22:50] #749 closed

[2019-08-15 21:05] #757 closed

[2019-08-15 21:58] jameshadfield commented on #763
Closed via @emmahodcroft's https://github.com/nextstrain/auspice/pull/766

[2019-08-15 21:58] #763 closed

[2019-08-15 21:59] #734 closed

[2019-08-15 23:31] joverlee521 opened #772 "Frequencies panel not showing"
This is most likely due to the changes made in the JSON schema from #769.

[2019-08-16 01:04] jameshadfield commented on #772
Good find. Let's add a test frequencies build to augur so that these kind of things don't fall through the cracks -- https://github.com/nextstrain/augur/issues/355

[2019-08-16 14:45] emmahodcroft opened #773 "`Maintainer` Missing in Auspice 2.0 with V1 JSON"
Using a V1 JSON (exported with `master` version of `augur export`) but looking at it in Auspice 2.0, `maintainer` seems to be missing:
![image](https://user-images.githubusercontent.com/14290674/63175796-0f17b880-c045-11e9-8ce1-200ba799d4d2.png)

It's in the `meta.json`:
![image](https://user-images.githubusercontent.com/14290674/63175858-22c31f00-c045-11e9-8e03-47b03bc39743.png)

And it shows up

[2019-08-16 14:54] emmahodcroft commented on #773
Also true if the JSON was made with `v6` version of `augur export v1`. So expect this is a issue of finding `maintainer` on the Auspice side.

[2019-08-16 17:38] emmahodcroft opened #774 "ColorBys with Missing Tip Values & Not in `colors.tsv` Break Auspice 2.0"
Running Auspice `v2` branch, with JSONs generated from `augur` `v6` branch using `export v2`.

The current Enterovirus D68 build as on the Nextstrain website, I've used for lots of testing - all colorbys work great here with all the v2/v6 stuff.

However, today I tried to add 2 new traits, "source"  and "symptom". The important thing to know about these is that *not all tips have a value for this*

[2019-08-16 17:38] emmahodcroft commented on #774
That's as far as I got, but hopefully enough info that it gives a good start to a fix...!

[2019-08-16 23:25] joverlee521 commented on #772
Closed in v2 by #775

[2019-08-16 23:25] #772 closed

[2019-08-17 00:39] joverlee521 commented on #760
I've pushed all of my changes to branch `use-json-strings`.

There's one thing I can't figure out what do to:
When a filter is not a colorings option, I'm currently just displaying filter name, which has not been "prettied" in the conversion function. See `country` below:

![Screen Shot 2019-08-16 at 5 36 57 PM](https://user-images.githubusercontent.com/40774762/63204442-8866d980-c04c-11e9-9f57-9d

[2019-08-20 00:29] jameshadfield opened #776 "Add available tangle-tree options to available datasets JSON"
## Current behaviour (v1 auspice)

The "tree name" (e.g. `na` or `ha`) is injected by the nextstrain.org server into the dataset JSON which is delivered to the client, under the top-level property `_treeName` (or `treeName`?). The auspice client uses this information to work out which other datasets are suitable candidates for a second (tangle) tree, and displays them in the dropdown. Logic here:

[2019-08-20 00:37] trvrb commented on #776
Nice! I think generic tangle trees would be a great feature. Would be a really frictionless way to compare datasets across groups even. Eyeballing tree differences is difficult, but that's the standard way this is done now.

[2019-08-27 15:25] emmahodcroft commented on #774
I haven't been able to shed any further light on this unfortunately, but it would be really good to fix! It's holding me back from casual (as part of other work) v2 testing as not being able to actually color-by all my colorbys is not good...

[2019-08-28 02:19] jameshadfield commented on #774
Hey @emmahodcroft i'm just diving into this now but can't yet reproduce the bug.

I've modified the auspice provided minimal JSON (in `./examples`) and removed the color-by values for some tips, with no resulting errors. I've attached the modified JSON below, and this is what it looks like:

![image](https://user-images.githubusercontent.com/8350992/63820806-c940e580-c99e-11e9-944a-93d10d7be5a7.pn

[2019-08-28 02:55] jameshadfield commented on #774
@emmahodcroft could you test https://github.com/nextstrain/auspice/pull/780 with your example? That PR fixes it for the JSON I attached earlier. If there are still issues, could you post your JSONs / create a test build in augur which reproduces the problem.

[2019-08-28 04:16] jameshadfield commented on #760
Thanks @joverlee521 -- this work has been merged into v6 with ec924d762946fbd9db7567f5201997b99dd681cf

Good find re: filter names which are not available as colorings and therefore don't have a "title" for display. In this case I think displaying the raw string is fine 👍

[2019-08-28 04:16] #760 closed

[2019-08-28 06:44] jameshadfield commented on #773
eek -- accidentally removed during development of the pie charts! Back now via b4a531d1b33b9848b80d9cb5cacad3b79e458769

[2019-08-28 06:44] #773 closed

[2019-08-28 12:20] emmahodcroft commented on #774
So weirdly I'm struggling to replicate this now, but Richard points out it's on the v2 version online: https://nextstrain-dev.herokuapp.com/enterovirus?c=symptom

I just pulled all the latest from `augur` and `auspice` and re-ran everything (but not yet tried #780 as you suggest).

Weirdly I am now having trouble setting `geo` to country - it's erroring and revering to region. Will investigate to

[2019-08-28 12:49] emmahodcroft commented on #774
Ah! It's working because I added `source` and `symptom` to my `colors.tsv` so it would work for a presentation last week..... Let me undo and try again.

[2019-08-28 12:52] emmahodcroft commented on #774
Yes! That fixes it! Thank you!

The `geo` setting issue seems to be on the `augur` side - it's not getting exported. Will look into and report.

[2019-08-28 13:34] emmahodcroft commented on #774
Oh - here's a thing though:

Here's how the pie charts show up for a trait with colours defined in `colors.txt`:
(https://nextstrain-dev.herokuapp.com/enterovirus?c=age_range1)
![image](https://user-images.githubusercontent.com/14290674/63860217-03af8000-c9a9-11e9-9883-c0777b4116b9.png)

Here's how it looks with the fix from #780:
![image](https://user-images.githubusercontent.com/14290674/6386028

[2019-08-29 00:39] jameshadfield commented on #774
@emmahodcroft thanks for the reproducible example, that really helped. Closed in ad0c9b498556ea84691950e62af20f06c9635ffc.

For interest's sake: the problem was to do with what values the color scale function considered present in the tree, and it was subtly different if you provided a `scale` vs if not. I've now updated how we deal with missing or non-valid attributes all across the tree.

P.S. t

[2019-08-29 00:39] #774 closed

[2019-08-29 03:11] jameshadfield opened #783 "Remove `_source` server-injected JSON property"
Over various iterations of the JSON sent to the client (not the JSON produced by augur; see here for background) we have had 3 keys injected in various guises. As we move to having the dataset JSONs handed directly to the client (no server modifications) we need alternative solutions.

One of these injected keys was `_source`

The "source" was largely a historical legacy and is only used by the da

[2019-08-29 03:12] jameshadfield commented on #753
Tree name -> #776
Display URL -> now competed & in branch v2
Source -> #783

[2019-08-29 03:12] #753 closed

[2019-08-31 02:15] jameshadfield commented on #689
How do you guarantee you're getting the same version (e.g. of `react`) used inside auspice?

[2019-08-31 02:19] rneher opened #784 "Frequencies behave unexpectedly after filtering"
After filtering (eg. to country or region), frequencies still show fraction of total rather than fraction of the filtered total.
![image](https://user-images.githubusercontent.com/8379168/64058108-89e4e580-cba6-11e9-932e-8ff3f34ce139.png)

[2019-08-31 02:34] rneher commented on #784
The tool-tip wasn't captured. it shows 3% for the big sector that is clearly at >70% percent.

[2019-08-31 02:38] jameshadfield commented on #784
Not sure I completely understand 🤔

No filtering shows A1b/135K at 40%

![image](https://user-images.githubusercontent.com/8350992/64058273-b9264180-cbfc-11e9-8aa9-062bfacc457f.png)

Filtering down to 2 clades (A1b/135K + A2) still shows 40%

![image](https://user-images.githubusercontent.com/8350992/64058300-f559a200-cbfc-11e9-9e30-854344a8fd2d.png)

[2019-08-31 02:41] tsibley commented on #689
If the customized build doesn't declare a dep on `react` itself but relies on the transitive dependency through `auspice`, then it will use the same version. This is currently what's going on in nextstrain/nextstrain.org#27 where I tried out this change. The benefits are that the version of Auspice the customizations rely on is declared as a normal dep and building the customizations doesn't have

[2019-08-31 02:41] rneher commented on #784
![image](https://user-images.githubusercontent.com/8379168/64058321-78e9a380-cba9-11e9-922c-d1d5fd488952.png)
this is filtered down to Japan/Korea

[2019-08-31 02:43] rneher commented on #784
The question is what should the denominator be after subsampling: only the shown tips, or all tips. In most cases, I would expect the former.

[2019-08-31 02:55] jameshadfield commented on #689
Cool 😄

Some things for us to double check:

* what happens if there are multiple declared dependencies which themselves declare `react`. E.g. in nextstrain.org, both gatsby and auspice will install (different) copies of react.

* What happens if there's a declared dependency on react? Does auspice still import the correct version?

* Does the customisation code work if you are using a global ausp

[2019-08-31 04:47] trvrb commented on #784
This was intended behavior to cover scenarios like: https://nextstrain.org/flu/seasonal/h3n2/ha/2y?clade=A2/re, where filtering to a clade should accurately show its frequency through time. Perhaps best here to just update the tooltip to have something like "Total frequency" and also "Filtered frequency".

[2019-08-31 05:54] rneher commented on #784
I think the "total denominator" makes sense when filtering and coloring are along the same category. Otherwise, I feel the result is unexpected. If one colors by clade and filters to region, I would expect to see the clade distribution in a region. But low counts with excessive filtering is hard. This is a case where diffusion frequencies are more robust.

[2019-09-01 03:34] #758 closed

[2019-09-02 14:34] emmahodcroft opened #785 "Unassigned Branches get a Colour"
I am not 100% sure if this is `augur`, `auspice` or both. I think it is `auspice` - seems to happen for older datasets too - but I haven't tested this super-extensively.
Seems to be new behaviour from sometime last week?

Branches with unassigned attributes are getting a colour other than grey:
![image](https://user-images.githubusercontent.com/14290674/64121053-0beb2f00-cd9e-11e9-94c6-7f274ec7a7c

[2019-09-03 16:19] emmahodcroft opened #787 "Option to Filter to 'No Value'"
In `auspice` 2.0, if not all tips have a trait, and this is set to be a filter option, there's a weird filter to only show those that *don't* have that trait:
![image](https://user-images.githubusercontent.com/14290674/64190485-ccdcdc80-ce76-11e9-9fd7-781cc90b040f.png)

This does not show if every tip has a trait:
![image](https://user-images.githubusercontent.com/14290674/64190506-d8c89e80-ce76-1

[2019-09-03 19:02] tsibley commented on #689
Currently the static site's deps are self-contained since it has its own package.json. The version of React that Gatsby wants should not affect the version Auspice wants. It we assimilate the static site's deps into the top-level package.json, then [install order comes into play](https://npm.github.io/how-npm-works-docs/npm3/how-npm3-works.html). From a clean-slate install, Auspice will determine

[2019-09-04 10:18] emmahodcroft commented on #745
@rneher @jameshadfield Is this resolved now - can we close?

[2019-09-04 10:22] emmahodcroft opened #788 "AA and Nuc Muts Not Showing Up on Branch Mouseover"
In `auspice` 2.0, AA and nut muts are not showing up in the branch mouseover bubble.

Compare -

'Normal' Nextstrain.org server:
https://nextstrain.org/community/emmahodcroft/echo30/vp1/all-clin
![image](https://user-images.githubusercontent.com/14290674/64247090-63a8a800-cf0e-11e9-8720-084ae546011a.png)

Heroku thing:
https://nextstrain-dev.herokuapp.com/community/emmahodcroft/echo30/vp1/all-clin

[2019-09-04 11:51] #745 closed

[2019-09-04 15:08] emmahodcroft opened #789 "Author Filter in 1.0 Looks Not Nice"
When adding an `authors` filter in a V1 JSON file and viewing on the current Nextstrain.org server (`auspice` 1.0), the authors look not-so-good. I don't think this an `augur export` problem, as the author format is the same here as in an export from Jan 2019.

![image](https://user-images.githubusercontent.com/14290674/64267153-28ba6a80-cf36-11e9-8337-5de9d259b62d.png)

Can see this behaviour her

[2019-09-07 09:24] jameshadfield commented on #789
@emmahodcroft are these v1 JSONs generated by augur v5.* or the v6 branch?

Since the authors look fine in https://nextstrain.org/zika (which uses auspice v1) i'm inclined to think this is an augur bug...

[2019-09-09 14:46] jameshadfield opened #790 "continous traits whose values are strings causes auspice to crash"
Given an input metadata tsv file to `augur export` all values are exported as strings, even those which are destined to be continuous traits in auspice. This causes an app crash in auspice.

I think this wasn't uncovered from us as all continuous values in other builds were taken from node-data JSONs rather than the metadata TSV.

[2019-09-09 17:22] emmahodcroft commented on #790
I'm at BC2 this week so not looking into augur/auspice much ATM (will try soon), but I export age data in the EV-D68 builds from metadata as continuous (have used `export`, `export v1`, and `export v2`, though some more recently than others) without issue. So might be slightly more nuanced - just as an info-note! :)

[2019-09-09 17:23] emmahodcroft commented on #789
Ok... I think this must be a bit more nuanced than I originally thought. I'm not so much able to look into it this week, but will try to come back to this and attribute correctly! (And hopefully give more background)

[2019-09-10 07:31] emmahodcroft opened #791 "`auspice view` Doesn't work for Some V2 JSONS (`dev` does)"
I haven't had time to look into this in more detail - also, I never use `auspice view` so I'm not familiar with it...

Yesterday in the workshop an advanced user was using `auspice` `v2`. He produced a `v2` JSON via `augur export v2` (possibly notable that he was working from a starting tree rather than from sequences), and it would not display using `auspice view` with the argument where you spec

[2019-09-10 08:07] jameshadfield commented on #790
Yes - we ended up discovering this too - but when `augur export` decides to export them as strings, then auspice crashes.

[2019-09-10 08:13] jameshadfield commented on #791
Yes there is.

`auspice view` uses a pre-built bundle and is generally much faster.

`develop` (or `npm run dev` or `node auspice.js develop`) generates a bundle every time (that's the ~10seconds it takes to start up), watches for code changes as you modify the source code, and generally has a lot of nicer features for development. These features come with a speed penalty. It should only be used i

[2019-09-10 08:13] #791 closed

[2019-09-10 08:25] emmahodcroft commented on #791
@rneher is it possible to get in touch with the SIB person and ask him if this fixes it?

He reinstalled while on `v2` while I was working with him, but perhaps that doesn't re-build. I couldn't replicate his error in `v1`, but possibly he had an earlier build of the `v2` branch - I dunno how long he's been working on this.

[2019-09-10 18:50] tsibley commented on #791
Yeah, `npm install` only installs deps; it won't rebuild. `npm run build` (or one of the variants James suggests) is required to rebuild.

[2019-09-11 07:06] emmahodcroft commented on #791
Ok! Thank you @tsibley, that probably explains it! I think he's happily using `dev` now but can let him know if I see him at the conference again :)

[2019-09-16 17:07] tsibley opened #815 "Page history broken during navigation"
There's some weird behaviour with Auspice modifying page history such that the back button breaks. For example, go to https://nextstrain.org/staging, observe you get a list of staging datasets and no 404 message, click a dataset, click the back button. You end up with a 404 message and a list of "live" datasets, instead of where you were (but the URL is intact). This manifests with other pages as

[2019-09-18 12:45] jameshadfield commented on #788
Closed in f1fc6d7

[2019-09-18 12:45] #788 closed

[2019-09-26 20:09] emmahodcroft commented on #789
Authors from V1 JSONS from the live site look weird on the v2 server:
![image](https://user-images.githubusercontent.com/14290674/65721404-4d73af00-e0aa-11e9-896c-cf6f2ddd3b64.png)

See bottom of page here: https://nextstrain-dev.herokuapp.com/flu/seasonal/h3n2/ha/2y?c=weighted_distance_to_future

[2019-09-26 20:10] emmahodcroft commented on #789
But others look ok....: https://nextstrain-dev.herokuapp.com/WNV/NA

[2019-09-26 20:23] jameshadfield commented on #789
This seems to be an augur issue. The WNV authors are present in the (meta) JSON as, e.g. "Anthony et al" whereas for flu it's "centers_for_disease_control,_r.o.c._(taiwan)".

[2019-09-26 21:17] jameshadfield opened #795 "don't interpret root-sequence JSONs as datasets"
Augur v6 now exports root-sequence JSONs as of https://github.com/nextstrain/augur/blob/bfa6a90932484b2e2ed6de75aee71ea1ac359cd3/augur/export_v2.py#L829. The auspice server should not interpret these as valid datasets and return them as part of the `getAvailable` API request.

[2019-09-26 23:46] jameshadfield opened #796 "transmissions aren't being correctly filtered on the map"
I think that all transmissions in the tree are being displayed on the map, whereas only those present on visible branches should be rendered.

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/8350992/65732109-703eab80-e11c-11e9-81b5-4751b1a23593.png">

[2019-09-27 01:55] jameshadfield commented on #785
Closed in 162824bbed4789a58e1f45930e0dfdc12806fd43. Thanks @emmahodcroft 👍

[2019-09-27 01:55] #785 closed

[2019-09-27 02:58] jameshadfield commented on #776
d390b50a4f249aa3a869754ffa02f7703c141cec

[2019-09-27 02:58] #776 closed

[2019-09-27 03:00] jameshadfield commented on #795
90ab115dfc57c87f89575b2d145356cf23e57ba0

[2019-09-27 03:00] #795 closed

[2019-09-27 03:43] jameshadfield commented on #783
I can implement this next week if needed.

[2019-09-27 03:52] jameshadfield commented on #787
I think this is now fixed 😄 see https://nextstrain-dev.herokuapp.com/community/emmahodcroft/echo30/vp1/all-clin

Please reopen if not.

[2019-09-27 03:52] #787 closed

[2019-09-27 09:59] emmahodcroft commented on #789
Thanks! Ok, will do some investigating over on augur side :)

[2019-09-27 13:23] emmahodcroft commented on #790
James do you have any more info on when it seems augur export decides to export as strings? (And maybe example files?) Is this just an `auspice` `v5` problem, or does this also happen in `auspice `v6` `export v1`?
(`v5` issues should be focused on an `auspice` fix for existing files but also on `augur export` to stop this, it seems? And I suppose any `v6` issues should be fixed in `export` there.)

[2019-09-27 13:35] emmahodcroft opened #797 "Mis-ordered (partly-reversed?) legends in v2"
Unexpected flip and mis-ordering of legends for categorical values. May be partly related to commit 5b5ba7b4c5cf632ef2b094eba128b671b9eff863?

Seems to have been a change in order of legend values, most surprisingly a rough reversal of order, changing the look of the tree quite significantly (was this intentional? I find this very surprising!).

Compare the EV-D68 vp1 [live build](https://nextstra

[2019-09-30 17:51] emmahodcroft opened #800 "No `type` for Default ColourBy Fails to Load in `v2`"
In V1 style JSONs: (`augur export` and `augur export v1` - haven't tested further)

If `country` is the default color-by, but `type` is missing from your `config` file:
[code]

Then in `auspice` `v1` it loads, but has no colour, and give error to console:
![image](https://user-images.githubusercontent.com/14290674/65902727-566ec400-e3bb-11e9-88a8-184e9b610fb3.png)

In `auspice` `v2`, it fails to l

[2019-09-30 18:02] emmahodcroft commented on #800
Sorry, that's not quite the problem. Still looking.

[2019-09-30 18:02] #800 closed

[2019-10-02 04:02] jameshadfield commented on #783
4e963863e9813ecf42ecef3dbedc791e6d1505a4

[2019-10-02 04:02] #783 closed

[2019-10-02 04:47] #796 closed

[2019-10-02 05:42] jameshadfield opened #801 "Correctly source author information"
There's some code which has not yet been adapted to the v2 JSON schema regarding accessing author information.

1. `tipDisplayColorByInfo` should use `getFullAuthorInfoFromNode` rather than accessing the node properties directly.
2. `tipDisplayColorByInfo` should only use `author.value` not `author.author` -- see https://github.com/nextstrain/augur/blob/v6/augur/data/schema-export-v2.json#L313
3.

[2019-10-02 05:46] jameshadfield commented on #797
I think this bug has been fixed but perhaps the dev-heroku server hadn't been updated to reflect the changes. The d68 dataset looks good right now 🎉

![image](https://user-images.githubusercontent.com/8350992/66020825-f2780700-e544-11e9-836b-02255341376c.png)

[2019-10-02 05:46] #797 closed

[2019-10-02 07:44] emmahodcroft commented on #797
Great, thanks!
Weirdly I can't get it to show correctly on my Chrome, even after clearing cache and hard reload. But it looks right on Richard's, and in Firefox, so my Chrome just can't let go of the past, I guess...!

[2019-10-03 04:14] jameshadfield opened #803 "transmission errors for maps without transmissions"
Steps to replicate:

1. load a dataset without transmissions, e.g. http://localhost:4000/flu/seasonal/h3n2/na/3y
2. click on a branch/tip

![image](https://user-images.githubusercontent.com/8350992/66098960-329cbf80-e601-11e9-9a50-e9b38631f4da.png)

[2019-10-03 05:32] #801 closed

[2019-10-03 05:45] jameshadfield commented on #790
I don't have any more information on this sorry. `augur export` (v5, at least) doesn't seem to do this very often so it's not high priority. The next time we have a dataset which triggers this we should revisit.

[2019-10-04 00:15] tsibley commented on #783
It seems like it'd be nice to have this information optionally embedded in the Auspice JSON metadata files (`*_meta.json` for v1 and the "main" `*.json` for v2).

I realize right now we need a retroactive solution for existing community builds which don't have this info in them, and that's fine. But thinking forward, it'd be nice to provide build links for all our datasets. Thinking about how to d

[2019-10-04 16:27] huddlej opened #805 "Remove hardcoded range for LBI"
The range for LBI values is [currently hardcoded in auspice](https://github.com/nextstrain/auspice/blob/162824b/src/util/colorScale.js#L197-L198) from [0, 0.7]. Since default LBI values from augur range up to 1.0 and augur will soon support unnormalized LBI values that can exceed one, we should set the `vmin` and `vmax` for any LBI color-by in the auspice config JSON (when that is supported).

[2019-10-10 13:57] emmahodcroft opened #806 "Colour Error if Have 37 Values"
https://github.com/nextstrain/auspice/blob/70a3ad69d75179d424e4ec711e4be648a52313fb/src/util/colorScale.js#L55

I believe this line should be a less-than `<` rather than less-than-equal-to `<=`?

I have just happened to have exactly 37 values (`domain`), which is exactly the length of the `colors` array. However, since `colors` is 37 is length, it has 0-36 indexes.

[code]

When one goes to `.slic

[2019-10-10 20:49] jameshadfield commented on #806
This looks like a bug. @emmahodcroft if you fix in `master` then the fix can be merged into `v2` from there. Alternatively if you send a JSON I can resolve this. Thanks!

[2019-10-14 00:20] #803 closed

[2019-10-14 00:41] jameshadfield opened #808 "Investigate nicer rendering of tweets in narratives"
Originally a twitter widget was loaded which allowed tweet URLs to be included. Often this was blocked by browser add-ons, and tweets still display but without images & styling.

P.R. #807 removes this widget for security reasons. This issue exists as a reminder of the old behavior which we may want to include as opt-in for certain builds.

Before PR:
![image](https://user-images.githubusercontent

[2019-10-14 04:56] #721 closed

[2019-10-14 08:20] emmahodcroft opened #809 "Prettifying Large Numbers from `v1` JSONs in `v2` Auspice"
If continues values are too large, this breaks the 'prettify' function used by Auspice `v2` to render `v1` JSONs.

This is in `convertJsonSchemas.js` lines 35-36.
https://github.com/nextstrain/auspice/blob/v2/cli/server/convertJsonSchemas.js#L35

A large number like 185,781 ends up sending a negative value to `toFixed`, which breaks Auspice. Confusingly, it doesn't give a very helpful error, simpl

[2019-10-15 05:32] jameshadfield commented on #759
Closed in branch v2

[2019-10-15 05:32] #759 closed

[2019-10-15 20:39] jameshadfield commented on #809
Thanks @emmahodcroft  -- this code (in the server of auspice v2) is the same as the code in the client of v1: https://github.com/nextstrain/auspice/blob/5a6d15bdf8c2148c500ee343418ffd3fd5c985b9/src/util/stringHelpers.js#L34, although they may be employed in different situations. Does this same behavior occur using v1 JSONs in auspice v1?

[2019-10-15 20:43] jameshadfield commented on #727
v2 (#810) will close this issue 🎉

[2019-10-15 20:55] jameshadfield commented on #460
Auspice v2 (with v2 JSONs) fixes this by preserving string casing from the JSON.

[2019-10-17 18:19] rneher opened #812 "frequencies in community builds"
I just encountered a problem loading v1 community analyses with frequencies with v2 auspice. this one works fine in v1

https://nextstrain.org/community/rivm-syso/Dutch-NIC-EMC-RIVM/h3n2_ha_2y

but errors out with 'frequency loading failed' here:

https://nextstrain-dev.herokuapp.com/community/rivm-syso/Dutch-NIC-EMC-RIVM/h3n2/ha/2y

the problem seems to be that auspice attempts to fetch:

https:/

[2019-10-18 03:09] jameshadfield commented on #812
@rneher now fixed -- this was an issue with the nextstrain.org server. nextstrain-dev.herokuapp.com is now running off nextstrain.org's "upgrade-to-auspice-v2" branch in preparation for a v2 launch which has fixed this bug 😄

[2019-10-18 03:09] #812 closed

[2019-10-20 08:32] rneher opened #813 "missing redirects in community builds"
if community builds have a hierarchical structure (e.g. h3n2_ha_2y), this is parsed nicely into a selector menu. But changing anything but the last one crashes because of missing defaults or redirects. See for example here:

https://nextstrain-dev.herokuapp.com/community/rivm-syso/Dutch-NIC-EMC-RIVM/h3n2/ha/2y

using the menu to switch fro, h3n2 -> vic redirects to

https://nextstrain-dev.herokuap

[2019-10-20 22:32] jameshadfield commented on #813
It's definitely doable -- I can look into this a bit more.

Nextstrain.org already has the potential to tell auspice to "redirect" -- e.g. nextstrain.org/flu goes to nextstrain.org/flu/seasonal/h3n2/ha/2y. We just need to code the logic for community redirects.

[2019-10-21 02:02] jameshadfield commented on #809
closed by f116253

[2019-10-21 02:02] #809 closed

[2019-10-21 03:33] #460 closed

[2019-10-21 03:33] #595 closed

[2019-10-21 03:33] #719 closed

[2019-10-21 03:33] #726 closed

[2019-10-21 03:33] #727 closed

[2019-10-29 16:21] joverlee521 opened #816 "Download strain metadata broken"
On nextstrain.org, if you download data from `Strain Metadata (TSV)` the only two columns included are "strain" and "author". All values within "author" are listed as `unknown`

Same bug can be seen when running auspice locally.
<img width="397" alt="Screen Shot 2019-10-29 at 9 20 47 AM" src="https://user-images.githubusercontent.com/40774762/67787233-71ba0700-fa2d-11e9-921b-73c39f38162d.png">

[2019-10-29 21:55] #816 closed

[2019-10-30 04:53] jameshadfield opened #817 "Show time slice when (only?) map is displayed"
The map was implicitly designed to be shown next to a tree. Thus when animating, you see the selected time slice moving though the tree & have a feeling for how time is progressing.

Now it's becoming common to display the map by itself, both while interacting with normal auspice and especially while in narrative mode. There should be some sort of visual indication of the currently selected time p

[2019-10-30 04:57] jameshadfield opened #818 "add legend to map if tree not displayed"
Similar to #817, when a map is displayed without a tree, the legend should be displayed to indicate the meaning of colours.

[2019-11-12 01:15] trvrb opened #820 "Preserve colorings order in dropdown"
JSON version v2 now has colorings as a list, eg http://data.nextstrain.org/zika.json are ordered `gt`, `num_date`, `author`, `country`, `region`. However, auspice displays the dropdown in a different order: https://nextstrain.org/zika

<img width="230" alt="dropdown" src="https://user-images.githubusercontent.com/1176109/68633425-b2426780-04a6-11ea-9900-ae0f494c0dd1.png">

Not a hurry, but would b

[2019-11-15 00:23] #820 closed

[2019-11-25 12:42] ivan-aksamentov commented on #714
Hello!

In #826 I bundled all external CSS and fonts, so that they could be served statically from localhost.
It seems that the only remaining remote resource is mapbox.

[2019-11-26 16:40] ivan-aksamentov commented on #714
In #827 I added server-side map tile cache, which allows running the application offline.

[2019-11-27 02:43] jameshadfield opened #828 "is font-awesome actually used"
The font-awesome CSS has been part of auspice from [the very beginning](https://github.com/nextstrain/auspice/commit/6b9204f7bdcb49d963f9721930e0fc81e196ca02#diff-eacf331f0ffc35d4b482f1d15a887d3b), and thanks to #826 is now bundled as part of the auspice distribution.

I don't believe we actually use these styles in auspice & they should therefore be removed. Needs double checking as there may be

[2019-11-27 03:05] trvrb commented on #828
@jameshadfield: The first thing that comes to mind is: https://github.com/nextstrain/auspice/blob/master/src/components/framework/footer.js#L381. I'll look for other uses though.

[2019-11-27 03:28] jameshadfield commented on #828
Ahh yes, we do use it. I've been a fan of `react-icons` in other projects which allows you to do things like
[code]
Given that we are using it, this issue is very low priority.

[2019-11-27 05:33] jameshadfield opened #829 "document how to use `auspice view` serve on heroku"
`auspice view` no longer works when used as the server on a heroku app, with this error in the heroku log:
[code]

This is a reversion from previous behavior as a result of https://github.com/nextstrain/auspice/commit/16341e53627bbc119f31fbece6e34556cdc0c5bd. Note that `$HOST` wasn't set on the heroku app, and doesn't appear to have a default.

My short term fix is to revert the commit (tested, wo

[2019-11-27 06:35] tsibley commented on #829
I would prefer not to revert that commit (listening on all network interfaces by default is not great), but instead set `HOST` to `0.0.0.0` in the Heroku app's configuration.

[2019-11-27 07:25] jameshadfield commented on #829
Cool, that works. Thanks!

[2019-11-27 07:27] jameshadfield commented on #829
Using `auspice view` as the web process on heroku apps is reasonably common. To do this, the heroku config variable `HOST` must be set to `0.0.0.0` (`localhost` doesn't work). This needs to be documented.

[2019-12-09 04:45] jameshadfield commented on #616
Current status of this issue:

Augur v6 will produce a `<name>_root_sequence.json` if requested, as per https://github.com/nextstrain/augur/pull/417. Auspice should attempt to fetch this file and use it to allow colouring by non-variable positions in the genome (via the dropdowns or by defining it in the URL). The fetch should be made in the same fashion as the one for tip-frequencies JSONs (https

[2019-12-09 04:56] jameshadfield commented on #707
Update: This "feature" is really important as we (and others) start to integrate auspice into other projects. The dataset JSON should be able to define this. In parallel, this should be made part of the augur auspice-export JSON, and the footers currently defined in auspice moved into their respective augur builds.

Note that a few footers contain "links" which dispatch redux actions (e.g. https:/

[2019-12-09 20:36] kairstenfay opened #832 "Auspice contributing docs contain version information"
The contributing information in `docs-src/docs/contributing/overview.md` contains information about Releasing New Versions of Auspice.

It seems out of place. Namely, we wouldn't expect or want third-party contributors to release new Auspice versions. Can this paragraph find a better place to live?

Also -- my goal is to use most of this page (minus "Releasing new versions...") for the content of

[2019-12-09 20:40] jameshadfield commented on #832
Agree -- release instructions should be moved to github.com/nextstrain/documentation/

That'd be great, but please make sure it also appears in the github-pages documentation. Have a look at how the CHANGELOG.md also appears in the built documentation, you may want to do it that way.

[2019-12-09 23:08] kairstenfay commented on #832
Hey James, I'm having trouble seeing how CONTRIBUTING.md is converted to HTML. Could you please point me more specifically to the script that does that?

[2019-12-09 23:09] kairstenfay commented on #832
Or rather, I'm having trouble seeing where CONTRIBUTING.md gets pulled into the built docs folder under `/releases`

[2019-12-09 23:54] jameshadfield commented on #832
Closed by #833

[2019-12-09 23:54] #832 closed

[2019-12-10 00:46] joverlee521 commented on #707
@jameshadfield I'm slightly unclear on when the footer text is added to `meta.json`.

Are we going to provide the option within `augur export` to add the footer text or will users have to manually add the footer text to `meta.json`?

Also, some of the hardcoded text is quite long and makes me question if we want to have it within `meta.json`. Can we have a separate Markdown file alongside `meta.js

[2019-12-10 00:47] tsibley commented on #707
My preference would be to publish a Markdown file alongside the JSONs as another sidecar file (e.g. `zika_acknowledgements.md`) which Auspice tries to fetch and, if successful, renders. This avoids the need to change `augur export` or update JSONs when tweaking acknowledgements.

I think any new option to `augur export` to add acknowledgements to the meta.json would have to read from a Markdown fi

[2019-12-10 01:09] jameshadfield commented on #707
I can understand the simplicity of creating a separate markdown file which auspice fetches (akin to how the current tip-frequencies JSON is currently fetched, and how the root-sequence will be fetched). I'm happy to have it done this way.

Also, a note regarding `meta.json` -- the concept of a dedicated `meta.json` is being replaced with the concept of a "unified" JSON (i.e. the main dataset JSON

[2019-12-10 01:13] tsibley commented on #707
Yep, I know, I was just using meta.json as a lingering shorthand. :-)

[2019-12-10 01:51] joverlee521 commented on #707
Even if we use a separate markdown file for the footer text, the dataset JSON should probably still have a `meta.footer` key that points to the specific markdown filename so we don't run into the same string matching problem as `window.location.pathname.includes`

[2019-12-10 02:57] jameshadfield commented on #707
We've discussed this previously in a similar context, namely when should auspice fetch a certain sidecar JSON. The decision we made was that, in general, this should not be encoded in the dataset JSON but that auspice should _always_ make the requests and be OK with them `404`ing. In the current auspice request API -- https://nextstrain.github.io/auspice/server/api#charon-getdataset -- this would

[2019-12-10 03:19] trvrb commented on #707
Yes. I think it makes sense to have a separate "sidecar" file `_footer.md` for this that has strict naming enforced (ala `_tip-frequencies.json` and `_root-sequence.json`). In terms of where this file "lives":

If this `_footer.md` file lives in `auspice/` it's going to get removed by `snakemake clean` (I wipe things all the time this way when restarting a build). It either needs to live in `confi

[2019-12-10 06:44] trvrb commented on #707
I realize now that packaging with 'augur export' will be pretty necessary. For cases like seasonal flu we have 32 datasets produced that share the same footer md. In this scenario, we'd have the same config/footer.md that is passed to 'augur export' for each of the 32 datasets.

It's a little weird to have 32 copies oof the same file with different names pushed up to S3, but other solutions (like

[2019-12-10 13:25] emmahodcroft commented on #707
While it's perhaps a little weird to have 32 copies of the file for the flu builds, I think this might be a bit of an outlier scenario?
I think for most datasets/uses this isn't going to be the case, and then the 'fetch-if-possible-based-on-strict-naming' approach seems most straightforward.

[2019-12-10 17:24] tsibley commented on #707
I agree with @emmahodcroft, and while 32 copies of the file is a little weird maybe, it doesn't pose any material problems.

I don't want to bikeshed this, so will give my 2¢ here and then shut up: "Acknowledgements" is more specific and descriptive than "footer" and is a term everyone will recognize. "Footer" is tied to page layout and is less communicative about what's intended to go in there. I

[2019-12-10 17:32] trvrb commented on #707
This makes complete sense @tsibley. I see the rationale for choosing a semantically meaningful term over a layout based term. However, I would suggest in this case something more like `_description.md` rather than `_ acknowledgements.md`. There's already examples where the "footer" text is used for more than just acknowledgments and I could see this being popular. What do you think?

<img width="1

[2019-12-10 17:35] tsibley commented on #707
Sure, I think `_description.md` would be fine.  Another option might be `_readme.md`, although that is more obscure a term than "description".

[2019-12-10 19:56] joverlee521 commented on #707
After looking more at the charon API, using a markdown file might be more trouble than it's worth. Everything expects/returns JSON, so there would have to be conditionals littered throughout the API structure to ensure that the correct content type is returned.

[2019-12-10 20:04] trvrb commented on #707
I'll let @jameshadfield / @tsibley speak to the technical working of charon. On the user side, I would be fully okay with having `augur export` called with `--description config/description.md` and have `augur export` produce a `_description.json` file that is a light wrapping of the Markdown. Non-ideal, but not terrible. To prevent HTML injection we'd still want to import Markdown into auspice ra

[2019-12-10 20:06] tsibley commented on #707
Yep, that's what @joverlee521 and I chatted about a few minutes ago, with the difference of putting the Markdown string into the main JSON directly instead of putting it a sidecar. Since it's going into JSON now, there seems little reason to keep it a sidecar.

[2019-12-10 20:07] tsibley commented on #707
To be clear on this though, the HTML produced by the rendering of the Markdown still needs to be sanitized.

[2019-12-10 20:09] trvrb commented on #707
I was worried about `augur export --minify-json` messing with the whitespace that Markdown requires.

[2019-12-10 20:11] tsibley commented on #707
Ah, that minification only affects the JSON structure itself, not any values in the JSON, which are always serialized as-is.

[2019-12-11 19:31] joverlee521 commented on #707
Two questions:
1. How important is it to keep the ability to open links in a new tab?
2. Do we want to allow images? (there are currently only images in the seasonal flu builds)

[2019-12-11 19:43] tsibley commented on #707
1. Doesn't seem important to me, but others may have opinions.
2. Sure, though worth being aware this will let dataset authors track page views. (Which is probably just fine.)

[2019-12-11 20:00] trvrb commented on #707
1. I think moderately important. Would be nice if links opened in new tab, but not critical.
2. Allowing images seems also like a good thing to aim for. Would mainly exist to give a place for people to drop logos, etc... (But this could also argue for a separate logos array to ensure proper sizing and alignment, don't know what best here)

[2019-12-11 20:07] joverlee521 commented on #707
1. I believe the link would have to be in raw HTML within the Markdown to allow links to open in new tabs.
2. Also unsure about how styling can be done without raw HTML within Markdown.

[2019-12-11 20:18] trvrb commented on #707
I had this same issue on bedford.io. I'll look up what I did.

[2019-12-11 20:55] tsibley commented on #707
1. Generally how this works is that there's an HTML-rewriting phase after the Markdown → HTML → sanitized HTML process that can add `target=_blank rel="noreferrer nofollow"` and other attributes.

2. Requiring HTML in the Markdown for image alignment seems like a fine trade-off?

[2019-12-12 06:18] trvrb commented on #707
In case it's helpful. Here's what I did for bedford.io, where I wanted Markdown image links in blog posts to be properly centered. See for example images here: https://bedford.io/blog/avian-influenza-h7n9/, specified in this Markdown: https://raw.githubusercontent.com/blab/blotter/master/blog/_posts/2017-03-10-avian-influenza-h7n9.md

The entire post div that wrap the Markdown content gets a `post

[2019-12-12 17:38] tsibley commented on #707
Defaulting to centering of images for the dataset description/footer makes sense to me. If we use flexbox, it could even work for multiple images (like seasonal flu is already doing), as long as the `<img>`s are in a single identifiable element.

[2019-12-13 11:37] emmahodcroft opened #835 "Sort Filters"
This was addressed by a couple of PRs I had a few months ago, but we never implemented anything, and it fell off my radar.

See #798 for details, but in short, filters are always sorted alphabetically, even when an order has been specified by 'colors.txt'. For things like ranges, this looks very weird:
![image](https://user-images.githubusercontent.com/14290674/70797192-4b191b00-1da4-11ea-8fc0-06a

[2019-12-13 15:35] trvrb commented on #835
@emmahodcroft --- I share the frustration with the sort order of numbers. However, I don't think that matching filter sort to `colors.txt` is always the best scenario. For example, I'd set up Zika to have country colors ramp from south to north:

<img width="292" alt="legend" src="https://user-images.githubusercontent.com/1176109/70811080-c4e7df00-1d79-11ea-8630-07d6cd1b8b43.png">

And ordering co

[2019-12-13 15:42] emmahodcroft commented on #835
@trvrb You make a very good point about the desire to have countries be in alphabetical order even when specified a specific order in colors.txt for the legend, an extension of my concern above I hadn't thought of!

Adding some specific logic to sorting the filter options in Auspice would be a fine solution for me if that's possible!

[2019-12-16 01:05] jameshadfield commented on #835
This seems quixotic. I think we should order everything as it appears in the legend (where applicable, including continuous traits, although filters for these aren't really implemented properly).

For filters which aren't colour-bys (or which are colour-bys without a specified ordering) then we need some heuristics. Currently we sort these according to the number of tips with that trait, except fo

[2019-12-16 04:28] #707 closed

[2019-12-16 04:42] jameshadfield commented on #828
Closing as this is listed in #702

[2019-12-16 04:42] #828 closed

[2019-12-16 04:45] jameshadfield opened #836 "Handle potential errors in footer parsing"
I've implemented [Error Boundaries](https://reactjs.org/docs/error-boundaries.html) in a few places, but not consistently and not that well. Since we do a lot of data processing on the client, we are prone to errors which may bring the app (client) down. One such place is in the [parsing of footer markdown](https://github.com/nextstrain/auspice/blob/master/src/components/framework/footer.js#L164).

[2019-12-16 06:19] trvrb commented on #835
@jameshadfield --- I'm afraid I don't agree. Just for one specific example, if we take nextstrain.org/zika. I have the legend purposely ordered by color ramp:

<img width="292" alt="Screen Shot 2019-12-15 at 10 10 41 PM" src="https://user-images.githubusercontent.com/1176109/70883424-cdae0000-1f87-11ea-96c7-cb5223da0d37.png">

This is because I believe the primary cognitive task is that you see, s

[2019-12-16 22:30] jameshadfield commented on #835
Not a problem (and I'm not suggesting changing the legend ordering at all). I'll leave this for you and Emma to decide on the best direction.

P.S. Assuming traits are colorings, then they can be classified as "categorical", "ordinal" or "continuous". Different sorting for each category may be a nice solution.

[2019-12-20 20:05] rneher opened #838 "predicted frequencies behave oddly after filtering"
When you filter by region on nextstrain.org/flu, the frequency panel looks like this

![image](https://user-images.githubusercontent.com/8379168/71288934-2d335380-236c-11ea-9bd8-ac73b2952f94.png)

This is some interaction between the normalization of frequencies (see issue #784) and the way the predicted frequencies are stored and extrapolated. @huddlej -- do you have a suggestion on how to improv

[2019-12-21 00:14] huddlej commented on #838
I'm not immediately sure why the predicted frequencies would be treated any differently, since observed and projected frequencies are stored in the same arrays. I am not sure where to start looking in auspice for the code that does this normalization: searches for "normalise", "normalize", "normalization", and "normalisation" all return discussions about normalizing to 100%.

Maybe [this code rela

[2019-12-22 23:51] jameshadfield commented on #838
I'm not sure this is an auspice bug, but it may well be & I'm happy to dig into the code if so.

The non-predicted frequencies are a-priori set to be constant over time (hence the stream graph max y-value is constant before the dashed line) but there's no reason the predicted frequency of a region should be constant in the future (more of a question for @huddlej). E.g. I interpret this screenshot

[2019-12-22 23:55] trvrb commented on #838
This is not an Auspice bug. It's the correct display of how the fitness model projects frequencies in time. But this reveals deficiencies in having just a single global strain frequencies estimate.

I had noticed this before, and looked into just renormalizing everything in Auspice, but this had its own issues. I'll try to expand on this shortly.

[2019-12-23 09:17] rneher commented on #838
we might want to reconsider the overall normalization or provide a toggle and make it the default.

[2019-12-23 10:27] rneher commented on #838
I agree -- it is not a bug. More a matter of what we think the predictions should convey (and I am admittedly quite fuzzy on that).

[2019-12-23 16:59] huddlej commented on #838
Thank you, @jameshadfield and @trvrb for clarifying! I misinterpreted the original question as a problem with filtering in general. It totally makes sense that this is only happening for filter by region.

I suspect that users would be more surprised to find that each region has a fixed maximum frequency when none of the other available filters behave the same way. But this normalization is determ

[2020-01-01 23:59] #829 closed

[2020-01-03 23:18] joverlee521 commented on #815
I won't have time this week to work on this issue, but I did do some digging and wanted to document here for future reference (for myself or anyone else who wants to work on this):

1. An event listener monitors for [popstate event](https://developer.mozilla.org/en-US/docs/Web/API/Window/popstate_event) in `/src/components/framework/monitor.js`
1. A popstate event would trigger the `changePage` ac

[2020-01-05 23:37] #815 closed

[2020-01-08 14:25] rneher opened #842 "info boxes too big"
when lots of metadata fields are available, tip info boxes get quite large -- sometimes large enough that there is no space left to 'click outside the box' to get rid of it.

 * should we have a way to restrict data shown there? if so, at the level of the `export` and in the json, or dynamically via a UI
 * limit the size of the box? make it scrollable? separate close button...

[2020-01-08 18:40] trvrb commented on #842
I generally like the idea of a close button on the modals (while still keeping the click outside behavior). The download modal does scroll, so that could be a target. Also, we might think about centering the tip modal on the screen (like the download data modal), in part to give more real estate. The map and diversity panels are pretty uninteresting with one tip selected anyway.

[2020-01-08 20:58] jameshadfield commented on #842
We can definitely add a `x` button to the modal right now so that this isn't problematic in the short term. Let me know & I can do this ASAP.

More generally, the tip modal box isn't ideal, especially with narratives. We want some way of seeing this information without obscuring the tree. Reloading a tree with a tip selected also doesn't bring up this modal (e.g. https://nextstrain.org/zika?s=Ango

[2020-01-09 23:22] huddlej opened #843 "Ordinal values are not assigned colors from color ramp in the frequencies panel"
On the live flu builds, [epitope mutations](https://nextstrain.org/flu/seasonal/h3n2/ha/2y?c=ep&d=tree,frequencies&p=full) and other mutation metrics are defined as “ordinal” types in the auspice config JSON. These metrics get colors in the tree from a color ramp, but the frequencies panel shows gray for all values. This issue does not affect categorical or continuous values.

For example, epitope

[2020-01-09 23:31] alliblk opened #844 "loading of community site auspice JSONs breaks if "narratives" is part of your repo name"
I think that this is probably a very niche issue, but given that I stumbled into it, I'm posting.

For the Ebola narratives paper I made a public git repo called `ebola-narratives-ms`. I made my builds, and pushed up two V1 JSONs into an `auspice` directory in the repo. JSONs are labelled `ebola-narratives-ms_<meta/tree>.json`. However when I would go to https://nextstrain.org/community/blab/ebola

[2020-01-09 23:35] alliblk commented on #844
Can confirm that the name change from `ebola-narratives-ms` to `ebola-narrative-ms` has fixed the issue.

[2020-01-09 23:38] tsibley commented on #844
The line of code responsible is https://github.com/nextstrain/auspice/blob/master/src/actions/loadData.js#L249.

One slightly better conditional would be `url.indexOf("/narratives/")`, but that would still break if people use the word "narratives" as one of their dataset path parts.

[2020-01-09 23:47] jameshadfield commented on #843
👍 I don't think this is an ordinal vs discrete issue, rather a problem of numeric values converted to strings.

[2020-01-12 20:43] rneher commented on #27
@jameshadfield this says "revisit sometime". I was just thinking again this would be useful to have, I.e. paste a new CoV sequence into the tree, highlight the closest virus, and show the differences. But for this to work, we would need to load the `root-sequence.json`. What would it take to make this available? It would then happily work in the banded alignment.

[2020-01-13 04:13] jameshadfield commented on #27
Not much & this is needed for us to colour by genotype for positions with no mutations. I'll sketch out an implementation this week.

[2020-01-23 00:32] sidneymbell opened #848 "Tree flickers oddly during animation"
Looks like maybe an edge case for small trees, where the default label rendering logic is creating an odd flicker.

![bug](https://user-images.githubusercontent.com/12618847/72946737-b0154880-3d34-11ea-807b-4ac51ba157d1.gif)

[2020-01-27 04:40] jameshadfield opened #851 "back button broken for community dataset pages in certain situations"
This bug can be reproduced via the following steps:
1. Go to https://nextstrain.org/community/jameshadfield/basel-flu (or any community URL where a "default" dataset is not present)
2. Load one of the listed datasets
3. click the back button
4. The listed datasets are for the core source, not the community source.

[2020-01-27 21:53] #851 closed

[2020-01-27 23:32] huddlej opened #854 "Screen blanks to white after loading for flu builds on live site"
There is a bug with auspice in the live Nextstrain site where after loading the 2y flu build (https://nextstrain.org/flu/seasonal/h3n2/ha/2y) and hovering over the tree, the page goes blank.

The console view shows the following errors when the screen blanks:

![image](https://user-images.githubusercontent.com/85372/73223179-1fff4680-411a-11ea-82d4-a3bdab686088.png)

I recreated this problem on my

[2020-01-27 23:39] trvrb commented on #854
Thanks John! Looks related to the recent tooltip work. Does rolling back to 2.3.2 resolve?

[2020-01-27 23:40] joverlee521 commented on #854
My local testing shows it's because of this line: https://github.com/nextstrain/auspice/blame/master/src/components/tree/infoPanels/hover.js#L272

I'll push up a branch shortly that _should_ resolve this.

[2020-01-27 23:57] #854 closed

[2020-01-27 23:59] tsibley opened #856 "Narratives on mobile"
Improve the poor experience viewing narratives on mobile since we're using narratives to produce situation reports and ~half our traffic is mobile.

[2020-01-28 19:53] trvrb opened #858 "Regression rate calculation is wrong for mutation-scaled divergence"
Please see https://github.com/nextstrain/ncov/issues/17.

Given that we don't specify in the Auspice JSON what units divergence has, my best idea would be to:

1. For the time being remove regression rate calculation from Auspice.
2. Have `augur refine` include subs rate estimate in `branch-lengths.json`.
3. Package up this rate estimate when running `augur export`
4. Use this rate estimate in Aus

[2020-01-28 19:58] jameshadfield commented on #858
This is good long-term (& treetime estimates would be better), but requires rerunning every single dataset. Short term (and for JSONs without this key) would just removing the "subs per site per year" be enough? Means people have to interpret themselves the units, which isn't great, but maintaining the number is important info.

[2020-01-28 20:03] trvrb commented on #858
That's a good point James. I agree with this. So, this would be:

1. For the time swap "subs per site per year" to "per year"
2. Have augur refine include subs rate estimate in `branch-lengths.json`
3. Package up this rate estimate when running `augur export`
4. If Auspice JSON has the appropriate key, use this rate estimate in Auspice rather than running a regression, if not, continue to run regr

[2020-01-28 20:05] emmahodcroft commented on #858
Could we auto-detect (or intelligently guess) the units and thus what to display ("subs per genome per year" or "subs per site per year") in Auspice?
For the moment I imagine something rough and ready like "do the units go higher than 2" would work. No other dataset we display will be anything like the subs/genome we are showing for nCov.

[2020-01-28 20:06] trvrb commented on #858
That's a great idea Emma.

[2020-01-28 20:25] trvrb commented on #848
Thanks @sidneymbell! This is indeed quite jarring: https://nextstrain.org/ncov?animate=2019-11-25,2020-02-01,0,0,30000. I think the best way to deal with this will be to hide tip labels when animating. I don't think we did testing previously with small trees + animation.

[2020-01-29 22:04] #848 closed

[2020-01-30 00:34] trvrb opened #863 "Reset map zoom doesn't take into account filters"
Take a look at https://nextstrain.org/ncov?f_country=China&r=location. This should "reset" to just the locations in China and be zoomed appropriately.

~However, "reset zoom" zooms way out, I believe because it's trying to include all three sets of lat/longs (both the central, but also the left-shifted and right-shifted locations). I suspect the fix here is to only use the central set of lat/longs

[2020-01-30 01:16] #858 closed

[2020-01-30 02:21] jameshadfield opened #864 "potential info-boxes redesign"
https://github.com/nextstrain/auspice/issues/842#issuecomment-572253811:

https://github.com/nextstrain/auspice/pull/862#issuecomment-580041734:

[2020-01-30 02:21] jameshadfield commented on #842
Closed by #862 -- thanks @emmahodcroft 🎉

[2020-01-30 02:21] #842 closed

[2020-01-30 02:28] jameshadfield commented on #863
This is my understanding. I'm hesitant to devote too much time to this right now (I don't think it's high priority) as work here is generally not "quick and easy", but this would be a nice feature.

One thing we may want to think about is automatically zooming to include all visible demes when you select a filter (this is particularly annoying if you've already manipulated the map pan/zoom). I rem

[2020-01-30 07:01] Artoria2e5 opened #867 "Make it work on Windows"
Continuing the theme of #724... the global install does not work on Windows without WSL. Node seems to be passing stuff into cmd.

<details>
<summary>error message</summary>

[code]

</details>

(Yeah I know the error message is all chinese to you. It says '.' is not a command, an executable or a batch file.)

To fix this issue we can probably put "bash" in front of these commands so we are explic

[2020-01-30 10:24] emmahodcroft commented on #863
Yes, reset zoom doesn't take into account filters. (It's not a bug, it just never was programmed that way.) The workaround for this is to create different geographic locations (ex: `division_china`) that only contain the locations you want to zoom to (only contain the regions in China in this column). You can then switch to *that* geo resolution in map options (or via URL) and click 'Reset Zoom'.

[2020-01-30 10:31] emmahodcroft commented on #864
Just a comment on Trevor's thoughts to make the info-box be positioned centrally over both map and tree since the map isn't so useful in this view -

I agree that the map isn't very useful when a tip is clicked, and am wondering if perhaps we should have the info-box centre over the map only, keeping the tree much more visible? (Perhaps don't grey out the tree as we currently do?) I do find it sli

[2020-01-30 14:07] emmahodcroft commented on #863
Think I've got this working! 😄 I'll make a PR soon.

(Not automatic as James says - I'm hesitant about automatic things when not in Narratives as it can be super annoying - but we can discuss this more and maybe implement in a 'smart' way as James says, like if user hasn't otherwise touched map.)

I am enjoying being back working on auspice so much! 😆

[2020-01-30 15:44] trvrb commented on #863
Awesome! Thanks Emma. I agree to not automatically zoom the map when activating filters. Just like how the tree doesn't zoom to filtered tips.

[2020-01-30 18:11] ivan-aksamentov opened #871 "Clicking "Leave the narrative & explore the data yourself" leads to an incomplete page"
Repro:
 - Go to the latest situation report on 2019-ncov, currently at https://nextstrain.org/narratives/ncov/sit-rep/2020-01-30
 - Scroll to the very last page
 - Click "Leave the narrative & explore the data yourself"
 - You will be redirected to the latest https://nextstrain.org/ncov results, however, the page does not show either phylogeny tree or map and the sidebar seems rather empty
 - Refr

[2020-01-30 18:14] ivan-aksamentov opened #872 ""END OF NARRATIVE" page should have its own pagination dot"
Right now in 2019-ncov narrative (currently https://nextstrain.org/narratives/ncov/sit-rep/2020-01-30) one can jump to the "Detailed scientific credit" page (which is the one before last), by clicking on the *last* pagination dot icon.

However, there is no way to jump to "END OF NARRATIVE" page.

I believe it would be a better UX if we'd allow that. Thoughts?

[2020-01-30 18:21] ivan-aksamentov opened #873 "Narratives pagination ignores page url param"
Navigation to, let's say, https://nextstrain.org/narratives/ncov/sit-rep/2020-01-30?n=8 leads to the first page, not 8th, even thought the url param is preserved.

I would consider this a UX bug, because most users expect pagination state to be retained between navigations, after using a bookmark etc.

This is typically implemented in client-side routing. For example, in react-router, one may use

[2020-01-30 18:29] ivan-aksamentov opened #874 "Provide permalink to the latest 2019-ncov situation report"
Currently there is no way to link to the latest report, and user needs to know the date:

https://nextstrain.org/narratives/ncov/sit-rep/2020-01-30

Older, reports (which users may, for example, bookmark):
https://nextstrain.org/narratives/ncov/sit-rep/2020-01-30
are not updated and provide no clues to users about the existence of newer revisions.

So users should always go through the main page.

[2020-01-30 18:29] emmahodcroft commented on #873
Hey Ivan - thanks for all the hard work! I know this bug was fixed by James last night - possibly some of the other ones too. They are in the latest version of `auspice` if you run from the source here, but I'm not sure it's been deployed on the nextstrain website yet, which might be why these aren't showing up there.
@trvrb @jameshadfield Is it that the latest version isn't yet deployed, or updat

[2020-01-30 18:35] ivan-aksamentov commented on #873
@emmahodcroft Cool, thanks for heads up!

[2020-01-30 20:13] tsibley commented on #871
Thanks for the report! I also noticed this same bug yesterday. It appears to happen for any narrative page that uses a Markdown panel instead of a standard Nextstrain panel (map, tree, etc). I agree this is a bug and that it would be better to show the default Nextstrain panels for the dataset when leaving the narrative from a Markdown page.

[2020-01-30 20:15] tsibley commented on #872
I agree. I noticed that the "end of narrative" page also doesn't get an updated `?n=…` URL parameter.

[2020-01-30 20:16] #873 closed

[2020-01-30 20:16] emmahodcroft commented on #871
I can confirm this is true when running the latest `auspice` locally - when 'exploring' from markdown pages rather than tree/map pages.

[2020-01-30 21:28] jameshadfield commented on #871
This is because the only "panels-to-show" is the markdown panel, which can't be displayed outside of narrative mode, so we end up with nothing displayed. It should reset to the "default" view, which we do keep a copy of (this is set via the dataset JSON).

Separately, when viewing a narrative page with main-page-markdown shown, we should remove the "Explore the data" button.

[2020-01-30 21:35] jameshadfield commented on #874
Simplest way for this to be done (& my recommendation) is upon copying the date-stamped narrative to the nextstrain/narratives repo we also create a copy (not symlink) with the filename "ncov_sit-rep.md" (or "ncov_sit-rep_latest.md").

Note that there's a redirect inside nextstrain.org directing https://nextstrain.org/narratives/ncov/sit-rep to the splash page which would have to be removed.

[2020-01-31 03:56] kairstenfay commented on #655
Closed by #875 thanks to @ivan-aksamentov

[2020-01-31 03:56] #655 closed

[2020-01-31 06:27] jameshadfield commented on #856
Closed by #857

[2020-01-31 06:27] #856 closed

[2020-01-31 06:28] jameshadfield opened #877 "narrative URL dissapears when switching into mobile view"
1. Start at a narrative in non-mobile view
2. Switch into mobile view (e.g. by shrinking your window)
3. Observe the URL has changed to the dataset URL!

Priority: Very low.

[2020-01-31 06:29] jameshadfield opened #878 "Allow sidebar open/closed state to be set via URL query"
and display defaults of JSON?

[2020-01-31 06:30] jameshadfield opened #879 "Allow a URL query parameter to remove title / footer etc"
Will allow embedding of a tree / map via iFrame

[2020-01-31 06:31] jameshadfield opened #880 "Investigate appropriate mobile - non-mobile breakpoint for narratives"

[2020-01-31 06:32] jameshadfield commented on #863
Will be closed by #870

[2020-02-01 00:47] #871 closed

[2020-02-02 13:05] emmahodcroft opened #883 "Narrative Minor Feature Request"
As I play with narratives today, just a couple of markdown features that would be handy if possible. If they are more trouble than they are worth, no worries. Just ideas!

I currently can't seem to get tables (either Markdown or HTML) working in the `auspiceMainDisplayMarkdown` part working. This might be nice for formatting lists of links with images, for example. Or lists of previous situation r

[2020-02-02 20:51] jameshadfield commented on #883
Agreed -- there are many little improvements such as this to be worked on.

I presume HTML tables don't work because of https://github.com/nextstrain/auspice/blob/master/src/components/narrative/MainDisplayMarkdown.js#L136 (this code was copied from the footer markdown parsing). If markdown tables don't work then there may be an option we can add to https://github.com/nextstrain/auspice/blob/maste

[2020-02-04 11:41] emmahodcroft opened #885 "Improve Compatibility with Darkreader"
See email to hello@nextstrain from Henri on 3rd Feb 2020.

Some with low vision benefit from inverting website displays, so they have a black background and white text. Extensions like Darkreader aid with this.

Using Darkreader with nextstrain.org/ncov renders like this:
![image](https://user-images.githubusercontent.com/14290674/73741873-75a3a680-474b-11ea-8086-c56d7be7983b.png)

Mostly ok - but

[2020-02-04 19:58] jameshadfield commented on #885
Tip labels are SVG text, which would be my guess at why they're not inverted.

[2020-02-04 22:19] jameshadfield opened #887 "Narrative tables (md or html) need styling"
(Moved out of #883 for clarity)

@emmahodcroft:

I currently can't seem to get tables (either Markdown or HTML) working in the auspiceMainDisplayMarkdown part working. This might be nice for formatting lists of links with images, for example. Or lists of previous situation reports (or other languages)

@jameshadfield:

I presume HTML tables don't work because of https://github.com/nextstrain/auspi

[2020-02-05 00:21] jameshadfield opened #888 "Non-string tree labels do not work when loading from URL queries"
For instance, a label such as `clade=3` doesn't work when loading via URL query (which includes navigating between pages in a narrative). I believe this is due to URL queries always being strings, where `"3"=== 3` is false. My proposed solution is to treat all branch label values as strings.

[2020-02-05 03:45] #878 closed

[2020-02-05 03:45] #879 closed

[2020-02-05 03:49] jameshadfield commented on #863
Closed by #886

[2020-02-05 03:49] #863 closed

[2020-02-06 21:23] jameshadfield opened #889 "single-deme zoom level"
Auspice (as of 2.5.0) zooms the map to the boundaries of the visible data (unless a user has interacted with the map). This woks great most of the time, but for data selections with only 1 deme it's zoomed too much.

E.g. https://nextstrain.org/zika?f_country=Canada shows:
![image](https://user-images.githubusercontent.com/8350992/73979547-3b2c4a80-4993-11ea-9314-2e18afbd857d.png)

But this would

[2020-02-06 22:44] jameshadfield opened #890 "Improve dataset URLs as defined within narratives"
Narratives currently define a dataset URL in their YAML frontmatter and the title for each page.

The current implementation is ad-hoc:

1. We only uses the pathname -- i.e. running locally but specifying `nextstrain.org/ebola` will actually source the localhost dataset. This is because all auspice requests are made to the server the client's running from & only use the dataset pathname.
2. the do

[2020-02-07 01:21] trvrb commented on #889
Thanks for putting together the issue James. I think my suggestion to dynamically figure out this zoom level would be to calculate bounds on all demes and use this to guess a max zoom level. If we have flu in Basel, the overall bounds will be narrow, while overall bounds for Zika will be wide. This would be pretty heuristic however.

[2020-02-07 01:33] trvrb commented on #889
But I guess selecting city for current nCoV we'd want closer zoom than selecting country. I agree with your proposal James. Just have a small handful of hardcoded geo resolutions.

[2020-02-10 23:35] #867 closed

[2020-02-13 19:02] alliblk commented on #890
@jameshadfield: some comments on Nextstrain URLs that I've been running into.

[2020-02-13 20:11] tsibley commented on #890
I talked about this with both of you separately, but I wanted to concur here that I think relative paths to datasets in the frontmatter and relative paths in each page's dataset URL would solve a lot of the issues. Particularly, it'd be possible, without changing any paths or adding any special handling to Auspice, to preview community or group narratives locally before pushing/uploading them.

It

[2020-02-13 20:50] jameshadfield commented on #890
Relative paths seem like a good idea. @tsibley @alliblk could you help me understand what you have in mind here 👇

| narrative pathname | YAML dataset | dataset pathname (i.e. `getDataset` prefix) |
| -------------  | -------------- | --------------------- |
| /narratives/x | `./x`      |  /x |
| /groups/abc/narratives/x | `./x`      |  /groups/abc/x |
| /community/narratives/user/repo/x | `./x` |

[2020-02-13 23:57] alliblk commented on #890
@jameshadfield Yes, https://nextstrain.org/community/jameshadfield/scratch/ is totally what I'd like to have and what I was trying to convey in point 3 :)

[2020-02-14 00:17] trvrb opened #896 "Blend branch coloring"
Right now, a branch inherits tip color as shown here:

![Screen Shot 2020-02-13 at 4 13 15 PM](https://user-images.githubusercontent.com/1176109/74489925-c158fd00-4e7b-11ea-9d77-c1e02ceff83f.png)

However, this color is only really true at the right-most edge of the branch. Ie each of these tips is definitely in their place of sampling at the time of sampling but as we go back things should get mo

[2020-02-14 00:18] jameshadfield commented on #890
Awesome! If you need help just let me know. P.S. for this to work you can't have a default dataset -- i.e. in my example there's no `scratch.json` dataset.

[2020-02-14 00:24] jameshadfield commented on #896
Yes -- the way we draw branches can often be misleading like this (see discussion on https://github.com/nextstrain/auspice/issues/200 for our thoughts 2 years ago!). SVG computation / rendering is a sizeable bottleneck in animations, so perhaps we'd have to fall-back to the current method if this slows things down, but I don't see a problem there. [Seems to be pretty simple](http://bl.ocks.org/pna

[2020-02-14 00:35] trvrb commented on #896
I didn't think of this animation issue. Thanks James!

[2020-02-14 01:06] tsibley commented on #890
@jameshadfield

Thanks for starting that decision table.  One thing is that the `@branch` should be preserved in the dataset path when present in the narrative path.  I think that's what you meant, but the dataset path column doesn't reference it like the narrative path column.

Tinkering with the table to think through this a bit more and get at the unclear cases, I think there's a fundamental te

[2020-02-18 16:41] hackerchenzhuo commented on #718
so kind of u

[2020-02-20 21:03] jameshadfield opened #899 "poor legend display for long names"
e.g.
![image](https://user-images.githubusercontent.com/8350992/74978378-561db500-5491-11ea-8e75-a8b3447e4af8.png)

[2020-02-20 21:04] jameshadfield opened #900 "Add legend open/close state to URL query"
Will be very beneficial to iframe embedding and narratives

[2020-02-21 09:01] emmahodcroft commented on #900
@jameshadfield you are a mindreader, I had a rant about this just the other day and it's on my 'auspice wish list' door, but I never got around to making an issue 😆

[2020-02-21 13:23] emmahodcroft opened #901 "Zoomed in Switch to 'Div' view for Flat Polytomy Gets Weird"
If on 'Time' view, zoom in to something that's a 'flat polytomy' in 'Div' view, then switch to 'Div' view, you get super weird stuff - branches should be flat (no branch lengths, as shown), no idea what branch labels are:

![image](https://user-images.githubusercontent.com/14290674/75037858-6c3d6c80-54b5-11ea-84d0-105b1cd6f4f5.png)

To replicate:
On [nextstrain.org/ncov](https://nextstrain.org/nco

[2020-02-21 16:21] ivan-aksamentov opened #902 "Auspice extensions are not being (fully) transpiled, causing ES6 code to be leaked into the bundle."
This issue affect both nextstrain.org and auspice.

## Description

Recently a dependency to 'iso-639-1' package was introduced in nextstrain.org, required for language picker functionaly, implemented as a part of nextstrain's extension to auspice. This uncovered a defect in auspice extension system. 'iso-639-1' package contains untranspiled ES6 classes, and they go (minified) straight into the bu

[2020-02-22 07:43] ivan-aksamentov commented on #902
https://github.com/nextstrain/nextstrain.org/pull/119 removes `class`es, but the old browsers will now crash on `const` anyways. The breakage is down from 7% to 2-3% https://caniuse.com/const

Obviously, the transpilation issue itself is not solved. I cannot even find why that happens.

[2020-02-25 01:41] jameshadfield opened #903 "dual tree view is covered by grey overlay"
e.g. https://nextstrain.org/flu/seasonal/h3n2/ha/2y:flu/seasonal/h3n2/na/2y

![image](https://user-images.githubusercontent.com/8350992/75207167-d8cda980-57dc-11ea-87d1-5f9228b53d1c.png)

This may be a result of the bug identified in #901

[2020-02-25 10:30] rneher opened #905 "clade labels suppress amino acid labels"
When labeling branches with amino acids, these labels don't show on branches with clade labels. see branches at which clades changes. Most have aa changes, but they don't show.

https://nextstrain.org/flu/seasonal/h1n1pdm/ha/6y?branchLabel=aa

[2020-02-25 21:16] jameshadfield opened #906 "Missing `annotations` field causes auspice to crash on v1 JSONs"
V1 meta JSONs missing the `annotations` key do not work in auspice. The v1-v2 conversion code should automatically inject

[code]
in this case. (Note that these do fail augur validation, but we have had multiple problems from this and the fix is so easy that we should do it.)

Should also test if this is essential on v2 JSONs.

[2020-02-25 21:31] jameshadfield opened #907 "Geo resolutions can not have an "Unknown" deme"
Reproduce by adding

[code]

To the geo resolutions (the lat/long values are unimportant), which will result in:

[code]

and cause the app to crash 😦

[2020-02-25 21:49] jameshadfield commented on #889
Closed by #891

[2020-02-25 21:49] #889 closed

[2020-02-25 22:32] jameshadfield commented on #905
This issue is a bit complicated, so i'll try to explain what's going on:

Firstly, there is a difference _in the JSON_ between `aa` labels and AA mutations. Auspice is designed to display the former, but not the latter. Augur isn't exporting the labels correctly, e.g. in h1n1pdm / ha / 6y.

[code]
Although I can't immediately see the error in [the augur code](https://github.com/nextstrain/augur/bl

[2020-02-25 23:28] jameshadfield commented on #901
Looking into this now. Augur does export a certain amount of divergence for those branches -- tiny amounts like `3.0794047756782606e-12` -- and because the overall view is limited to ~ 3 * tiny_amounts, then auspice spaces this out like in the screenshot. Should be able to set a minimum divergence domain to prevent this.

[2020-02-26 00:35] #903 closed

[2020-02-26 19:29] #901 closed

[2020-03-04 09:17] jameshadfield commented on #896
Update -- this issue has a partial solution, but is in need of further work to complete, as detailed in https://github.com/nextstrain/auspice/pull/897#issuecomment-588014096. Contributions on top of this PR #897 are very welcome -- please leave a comment there if you start work on it!

[2020-03-04 09:24] jameshadfield commented on #907
PR #911 will close this.

[2020-03-04 09:29] jameshadfield opened #915 "Tip labels should only count visible tips"
## Background:

Currently we only display tip labels when the total number of tips in-view is below a certain threshold. This prevents hundreds of tips being displayed on big trees, and allows small trees, or zoomed in sections of trees, to display labels.

In auspice we refer to nodes / branches which are displayed on the screen as "in view". These tips may be "unselected" (e.g. filtering is appl

[2020-03-04 09:33] jameshadfield opened #916 "Sidebar toggle to show labels for all tips in tree"
### Background:

Currently we only display tip labels when the total number of tips in-view is below a certain threshold. This prevents hundreds of tips being displayed on big trees, and allows small trees, or zoomed in sections of trees, to display labels.

(Potentially see #237 for further information)

### This issue

There should be a toggle in the sidebar (such as we have for "Show Confidence

[2020-03-04 09:34] jameshadfield commented on #237
Closing in favor of #915 #916

[2020-03-04 09:34] #237 closed

[2020-03-04 09:53] jameshadfield commented on #900
The best example to follow for this would be to follow how we currently store the state for being able to control the sidebar open/closed state via the URL query (see https://github.com/nextstrain/auspice/search?q=sidebarOpen&unscoped_q=sidebarOpen). Please note that it's not applicable for this to be set via the dataset JSON.

The default state for the legend open/closed should be set as it curre

[2020-03-04 09:54] #899 closed

[2020-03-04 09:54] jameshadfield commented on #457
Closed #914 🎉

[2020-03-04 09:54] #457 closed

[2020-03-04 09:55] #905 closed

[2020-03-04 10:01] jameshadfield commented on #887
To reproduce / work on a fix:

* Install auspice from source, as per https://nextstrain.github.io/auspice/introduction/install or similar
* Obtain example datasets + narratives via `npm run get-data && npm run get-narratives`
* Add markdown tables to a narrative which is now present in `./narratives`
* Test via `auspice develop --verbose`

[2020-03-04 10:05] jameshadfield commented on #817
I believe this is currently being worked on by [Ian Johnson](https://twitter.com/enjalot)

[2020-03-04 10:13] jameshadfield commented on #521
With the addition of zoom-to-filtered-demes this functionality is no longer high priority. We may reopen this in the future.

[2020-03-04 10:13] #521 closed

[2020-03-04 10:20] jameshadfield commented on #902
Adding this to https://github.com/orgs/nextstrain/projects/5 in case webpack experts see this!

[2020-03-04 10:22] jameshadfield opened #917 "Add E2E testing"
Thoughts, implementations and advice welcome!

[2020-03-04 19:52] dnprock commented on #917
Testing frameworks in node.js are fragmented. I think we separate unit tests and integration (feature) tests. We use different frameworks for each test suite.

Currently, I think:

- enzyme unit tests for react client components
- jasmine unit tests for server components
- zombie.js for integration (feature) tests

[2020-03-05 00:33] jameshadfield commented on #917
I don't have the expertise here to comment, but am happy to have them separated.

In general, I think feature (e2e?) tests are needed. Over the years we've added amazing capabilities to auspice, and we have hundreds of datasets which make different use of these varied features. As such, manually testing a decent proportion of the datasets at each PR has become untenable and this leads to bugs whic

[2020-03-05 00:40] jameshadfield opened #918 "nCoV animation should be smooth"
This is due to us hardcoding some minimum amount of time to be shifted each tick. The tree is small enough that it should be animating super smoothly.

[2020-03-05 00:45] trvrb commented on #918
I'd love this fixed. Take a look at how smooth this is: https://nextstrain.org/zika?animate=2005-12-15,2019-07-06,1,0,30000&p=grid and compare to this https://nextstrain.org/ncov?animate=2005-12-15,2019-07-06,1,0,30000&p=grid.

[2020-03-05 01:01] dnprock commented on #917
I'm happy to help out here. Can you write down the main test cases that you want to have coverage for? Especially the use cases where you think are most important.

For example:

Rendering
1. Minimal dataset rendering.
2. Complex dataset rendering.

Tree Layout
3. Change Color By option.
4. Change Tree Layout option.

Map Layout
5. Change Geographic resolution option.

[2020-03-05 03:58] hydrosquall commented on #917
For integration testing of general frontend logic, I've had good experiences with cypress ( https://www.cypress.io/ ), especially in contrast to previous experiences with setting up Selenium/PhantomJS based testing. It integrates well with CI, so it seems like a logical first step might be to add a Cypress test step to the existing Travis pipeline.

For visual regression testing, I've heard that o

[2020-03-05 05:47] dnprock commented on #917
cypress.io looks good. It seems like the framework to get started with now.

[2020-03-05 06:54] dnprock commented on #918
I'm not able to test with ncov dataset to see the behavior. I looked at this animation code. I think the choppy behavior is caused by remove/add of the temporal windows. When the code removes/adds svg rect, we see the choppy animation.

https://github.com/nextstrain/auspice/blob/master/src/components/tree/phyloTree/grid.js#L338

I suggest instead of using remove/add, you use d3.transition. That ca

[2020-03-05 07:36] hydrosquall commented on #918
+1 to @dnprock 's observation that modifying the `animationTick` didn't have a noticeable impact on the observed smoothness of the animation (I had been looking into this issue prior to seeing their comment).

The issue seemed to me that the jumps between adjacent "rectangle" positions are fundamentally much larger when the `totalDatasetRange` is small, as is the case with the ncov sample (which s

[2020-03-05 15:42] HeeTatt commented on #906
In the  `examples` directory, the v1 files` minimal_v1_meta.json` and `minimal_v1_tree.json` seem to be displayed correctly without containing the `annotations` key.
Is there an example of a problematic v1 file to look at?

[2020-03-05 20:55] Xkeeper0 opened #921 "Various usability issues/suggestions"
Putting a handful of accessibility and usability notes in this issue.

----

The text on the bottom of this page is extremely difficult to read. The links are "#5097BA" (contrast ratio 3.24), but the font they are rendered in is too thin to even fill a full pixel. The text itself is "#888" (CR 3.54) and has the same font thickness problem. This seems to only directly affect the data page, and not

[2020-03-05 21:13] jameshadfield commented on #921
Great suggestions -- thanks @Xkeeper0. Would you mind breaking these out into separate issues? Hopefully we can get people to help submit PRs for each of them.

One quick point regarding the right-hand-side of narratives dissapearing as you change sections. This is by design -- each left-hand-section is associated with a right-hand-section (either text or more commonly a view into the tree/map). W

[2020-03-05 21:33] ncallaway commented on #818
I'm currently coordinating with another developer on the drafting of some mockups for this issue.

[2020-03-05 21:36] ncallaway commented on #900
I'm starting work on this now, I expect I'll be able to have a PR for you shortly.

[2020-03-06 02:14] CameronDevine commented on #887
I was able to get tables in the `auspiceMainDisplayMarkdown` section working. However, I think some CSS work may also be necessary. As this is not my area of expertise, I will leave this work to someone else.

[2020-03-06 02:35] dnprock commented on #917
@tihuan thanks for the info, very useful. I always find node.js ecosystem a mess :). In these situations, I'd delegate the decision to whoever takes the lead. I'm happy to help out with writing some tests.

[2020-03-06 02:44] tihuan commented on #917
Thanks for the quick reply, @dnprock 😄

Yeah, not sure who's gonna lead the testing framework setup, but I can help prototype integration tests with jest + puppeteer if needed!

[2020-03-06 04:39] hydrosquall commented on #917
To clarify, the test recording limit is about sending the test results to
the cypress.io dashboard hosted service, which is optional - the test
runner itself can be used without the hosted dashboard and is still quite
helpful. Additionally they have an unlimited plan for qualifying open
source projects (
https://www.cypress.io/oss-plan ). I don’t think this necessarily means it
should be picked, b

[2020-03-06 06:44] colinmegill commented on #818
@ncallaway really nice! I like the idea of a timeline across the bottom a lot. That will work in the case of:
* mobile, when the sidebar is closed
* narrative, when there is no sidebar or tree to offer a time axis
* divergence, when tree x axis is mutations

![divergence](https://user-images.githubusercontent.com/1770265/76059122-0d173780-5f4c-11ea-80a3-74abf447dc2f.gif)

[2020-03-06 13:46] tihuan commented on #917
Hey @hydrosquall thanks for adding the extra info!

Cypress ties dashboard and parallel tests together, since it's pretty much their money maker from what I read here: https://github.com/cypress-io/cypress/issues/2520, so no dashboard or quota will block parallel tests. In our trial, the tests stopped working altogether once the quota ran out

There's a homegrown solution to self host dashboard, b

[2020-03-06 18:11] MargotLepizzera commented on #917
Hey, quickly chiming in to mention that Datadog has an E2E testing product, called [browser tests](https://docs.datadoghq.com/synthetics/browser_tests/) and an [OSS plan](https://www.datadoghq.com/partner/open-source/) as well
If you think it'd be a good fit for your project I'd be happy to work on having that project approved internally :)

[2020-03-06 20:57] tihuan commented on #917
Ah yes! Thanks for mentioning Datadog's browser tests and flagging the OSS plan, @MargotLepizzera 🥇

My project uses Datadog to periodically (5 mins) ping our app to make sure it's functional, and the integration with Slack is super neat ✨

For writing integration tests, I'm thinking we might need a version control solution, so the test code can be checked into this repo and run locally and on eve

[2020-03-06 21:02] huddlej opened #926 "Color by legend is broken for numeric traits"
Selecting a color by option that has numerical values produces an error that "something has gone wrong". For example, selecting "Age" in the novel coronavirus build (https://nextstrain.org/ncov?c=age) produces this output:

![image](https://user-images.githubusercontent.com/85372/76122217-6ada6c80-5faa-11ea-8724-6896e34da9f3.png)

Using git bisect, I tracked this error down to the [truncation of l

[2020-03-06 21:14] joverlee521 commented on #926
Thanks for tracking this down! I think we can throw [`String()`](https://www.w3schools.com/jsref/jsref_string.asp) around the label to convert everything to a string before calling `substring`

[2020-03-06 21:15] tsibley commented on #926
Yeah, this is a JavaScript type thing. Strings have a substring method, but Numbers don't. I expect a forced conversion to string is needed. There are many ways to format a Number, but `label + ""` might be enough.

[2020-03-06 21:19] huddlej commented on #926
Ok, I actually was able to fix the issue with an explicit check for type (5f4a6d7), but if y'all prefer casting to string for everything, that's fine, too.

[2020-03-06 21:31] tsibley commented on #926
Thanks! I think that type check is fine. The `label` will be cast to a string anyway as part of the template interpolation, but I think it does make more sense not to apply character-length limits to a numeric value.

[2020-03-06 22:12] #926 closed

[2020-03-07 05:37] CameronDevine commented on #429
I am not able to reproduce this issue. It appears this should have been closed by #587.

[2020-03-07 10:40] tihuan commented on #917
I just created a puppeteer branch with a POC integration test to click on the Play button with Zika dataset:

https://github.com/nextstrain/auspice/compare/master...tihuan:jest-test-setup?expand=1

To run the integration test:
1. Please make sure you have the zika dataset
2. Run `auspice view --datasetDir data` in one terminal tab
3. In another terminal tab, run `npm install && npm run integration

[2020-03-07 13:32] obahareth commented on #902
Hey everyone, I actually built [are-you-es5](https://github.com/obahareth/are-you-es5) specifically for finding out which node_modules aren't ES5 and getting a regex to include them in babel-loader's pipeline and have them be transpiled to ES5.

@hydrosquall opened an issue (reference to it is right above this comment) to see if are-you-es5 could help with this and I'm happy to help out however I

[2020-03-08 16:40] trvrb opened #929 "Highlight tips on strain search"
Quite often it's helpful to just highlight some strains in the tree without doing a full "filter". This has traditionally been accomplished by mousing over a legend item. For example, go here: https://nextstrain.org/ncov?c=country and mouseover "USA" to get:

<img width="863" alt="mouseover" src="https://user-images.githubusercontent.com/1176109/76166947-ec9fd680-611f-11ea-97d1-711034f4d333.png">

[2020-03-09 00:42] #405 closed

[2020-03-09 01:34] jameshadfield commented on #429
![auspice429](https://user-images.githubusercontent.com/8350992/76175799-17b72280-6213-11ea-9670-6f874199e7b6.png)
@CameronDevine are you able to reproduce this?

[2020-03-09 01:43] jameshadfield commented on #906
@HeeTatt you're correct -- this bug is no longer present! 🎉

[2020-03-09 01:43] #906 closed

[2020-03-09 02:45] jameshadfield commented on #900
Closed by #923

[2020-03-09 02:45] #900 closed

[2020-03-09 02:55] jameshadfield commented on #887
Can't seem to get this working - could you paste an example narrative markdown file (or section of) which shows this working?

[2020-03-09 03:47] #929 closed

[2020-03-09 06:13] jameshadfield commented on #917
Thanks all for your input. I'll defer to @colinmegill to guide which testing framework we go with, as I think this is a very important decision for the project, but I wanted to give a summary of the kind of tests we desperately need. Currently, our testing consists of me loading a number of datasets and trying to run all the functionality I believe the PR may have affected. Things fall through the

[2020-03-09 07:13] CameronDevine commented on #429
@jameshadfield Yes, I am able to reproduce this. It appears there is an issue with the [mapbox/leaflet-image](https://github.com/mapbox/leaflet-image) library (See mapbox/leaflet-image#89 and mapbox/leaflet-image#117). When a map image is requested that spans the "anti meridian" (The line of 180 degree longitude) the result is incorrect. Areas of the map with a longitude less than -180 degrees are

[2020-03-09 08:33] emmahodcroft opened #932 "More Colorblind friendly colours (or separate colourblind page?)"
From this tweet:
https://twitter.com/RScheppingen/status/1224652384372215809

Here's how nCoV looks with the Chrome Extension Colorblinding, set to Red-Blind (but Green-blind looks similar, and I understand these two are the most common):
![image](https://user-images.githubusercontent.com/14290674/73742360-8c96c880-474c-11ea-8a54-a3f2a2360779.png)

It's super hard to get colours people can see, ev

[2020-03-09 11:29] colinmegill commented on #917
I will +1 puppeteer! Looks great @tihuan :)

[2020-03-09 17:25] ncallaway commented on #818
@jameshadfield @colinmegill I can start implementing today or tomorrow if the design works. Only thing I need to know is: with or without padding? If with padding, should that padding also be applied to the tree view?

[2020-03-09 19:49] CameronDevine commented on #887
@jameshadfield Tables in the sidebar also work (This was working before #924). For example:

[code]

![image](https://user-images.githubusercontent.com/10394896/76251331-14686a80-6204-11ea-9f39-9c2c8f9df37e.png)

[2020-03-09 20:47] jameshadfield commented on #818
Brilliant, thanks @ncallaway

There is a reason why padding shouldn't be introduced in the tree: the legend sometimes occludes parts of the tree, and we want to work on making this better (e.g. see screenshot of current ncov dataset in divergence view & note that already we can't hover/click on the top-most tips [1]).

Your mocks don't show the current color-by name and chevron, which are part of

[2020-03-09 21:17] jameshadfield opened #933 "Extend narrative parsing to include translators"
Currently the YAML frontmatter at the start of each narrative markdown file is parsed [by this code](https://github.com/nextstrain/auspice/blob/master/cli/server/parseNarrative.js#L23) into HTML to be rendered by the client as the fist page of the narrative. E.g. [this YAML](https://github.com/nextstrain/narratives/blob/master/ncov_sit-rep_2020-03-05.md) tuns into [this narrative page](https://nex

[2020-03-09 21:22] jameshadfield opened #934 "Extend narrative authors field to use arrays"
Currently the YAML frontmatter at the start of each narrative markdown file is parsed [by this code](https://github.com/nextstrain/auspice/blob/master/cli/server/parseNarrative.js#L23) into HTML to be rendered by the client as the fist page of the narrative. E.g. [this YAML](https://github.com/nextstrain/narratives/blob/master/ncov_sit-rep_2020-03-05.md) tuns into [this narrative page](https://nex

[2020-03-09 22:20] ncallaway commented on #818
@jameshadfield That sounds good. I'll add the title and chevron when I do the implementation. I'll go with no vertical padding (and likely no horizontal padding to match, but I'll look at both while I implement it).

The legend will always be on the map unless the map is displayed side-by-side with the tree view, in which case it will be suppressed.

I implemented #923, so I'm familiar with those

[2020-03-09 22:50] jameshadfield commented on #818
Ahh, so you did! 🤦‍♂

I'm happy for them to be independent, with the exception that the same URL query should set both (if the query is present, that is).

[2020-03-10 21:55] ncallaway commented on #933
If no one else has started working on this, I'll take a look at this tonight.

[2020-03-11 00:10] huddlej opened #936 "Enable zoom out from tree after zooming in"
## Motivating user story

John is interested in the hCoV-19 strains circulating in Washington State. He clicks the [base node of the primary Washington State clade to zoom into that phylogenetic context](https://nextstrain.org/ncov?label=clade:B1&m=div) (shown below). Next, John wants to view [the Washington clade in the context of its sibling clades](https://nextstrain.org/ncov?label=clade:B&m=di

[2020-03-11 15:19] brianpardy opened #938 "Sidebar should provide data filter capability like URL query options do"
Currently the only apparent way to filter displayed data in an auspice dataset is by passing URL query options.

The sidebar in auspice should provide the capability to filter the displayed/highlighted data in the same way as the "f_<name>" URL query option provides.

A potential way to implement this would be a 'Filter' section at the bottom of the sidebar, with a drop down menu to select the <na

[2020-03-11 15:26] emmahodcroft commented on #938
Hi Brian,
Thanks for your feedback - and I'm sorry you've been struggling with URL filter queries this long!
If you scroll down to the bottom of the main page (not the sidebar), we actually do have text you can select - for country, location, and division (and more), to filter the data.
Here's a screenshot:
![image](https://user-images.githubusercontent.com/14290674/76433752-0c9bf800-63b5-11ea-80a

[2020-03-11 15:30] brianpardy commented on #938
I keep forgetting that is there at the bottom of the page!  That is more than sufficient, I will close this issue shortly if you don't. Thank you very much!

[2020-03-11 15:31] #938 closed

[2020-03-12 05:51] trvrb opened #941 "Add label to x-axis in tree panel"
Currently the "Phylogeny" panel doesn't have a label for the x-axis:

<img width="1020" alt="x-axis" src="https://user-images.githubusercontent.com/1176109/76491378-c2ce0480-63ea-11ea-8610-682a41c0b5a9.png">

This lack of labeling is hugely confusing to outsiders and everyone knows this is poor data viz practice. Let's fix this. I recommend:

* "Date" if showing a tree with `mu=num_date`.
* "Mutat

[2020-03-12 20:13] tihuan commented on #917
Sorry for getting back to this late, got a workload burst this week 🚀

Thanks for checking out the PR, @colinmegill 🤩🙏

Love the list you provided too, @jameshadfield ! Sounds like it will involve SVG testing, which I don't have much experience in and will require some research on how to do it right.

@colinmegill how do we do that in cellxgene?

Are other contributors okay with Puppeteer? Does th

[2020-03-12 20:52] dnprock commented on #917
@tihuan I see some changes in formating of .eslintrc file. It may conflict with other devs already on the project.

Otherwise, the test PR looks good. I'm happy to help out.

[2020-03-12 21:16] tihuan commented on #917
Hey @dnprock ! Thanks for the quick review! That's a really good point!

I just reverted the linter changes to `.eslintrc` file and created a [PR](https://github.com/nextstrain/auspice/pull/943)

PTAL again 🙏 Thanks a lot!

[2020-03-12 22:19] jameshadfield opened #944 "Language support for auspice"
There is currently no language support in Nextstrain. This issue is cross cutting between auspice & nextstrain.org, but is detailed here for both.

Please see https://github.com/nextstrain/nextstrain.org/issues/130 for a description of this issue, as it applies to both codebases. Please also see PR https://github.com/nextstrain/auspice/pull/892 for a potential start to this work.

[2020-03-13 06:35] jameshadfield opened #945 "Map pan is broken in narratives"
This issue occurs in narratives, seemingly when changing between map-only display -> map+tree display. It causes the map to reposition itself incorrectly. Note that this happens after a 1000 or 1500ms delay implying that a `setTimeout` is involved.

![Mar-13-2020 19-34-46](https://user-images.githubusercontent.com/8350992/76595923-c46e0880-6561-11ea-992a-9c44a0ca07f6.gif)

Steps to reproduce:
1. [

[2020-03-13 07:08] jameshadfield opened #946 "Map bounds show hysterisis in narratives"
This issue occurs in narratives, where approaching a page from one direction causes the map bounds to be different from approaching the same page from the other direction. This is best explained in a GIF!

![map_hysterisis](https://user-images.githubusercontent.com/8350992/76597849-52e48900-6566-11ea-94b0-f5b9106c0b06.gif)

Steps to reproduce:
1. [Install auspice from source](https://nextstrain.gi

[2020-03-13 14:26] huddlej commented on #944
Updated title here to disambiguate this issue from the broader nextstrain.org issue of the same title when viewing in project boards.

[2020-03-13 16:18] cassiawag commented on #945
Sorry accidentally pushed a button!

[2020-03-13 23:51] enjalot commented on #817
I've started mocking a solution for this issue in this notebook:
https://observablehq.com/@enjalot/nextstrain-prototyping-issue-817

I hope I captured the problem and illustrated a reasonable direction to go in. I'll continue to add to the notebook with prototypes that can be reviewed before I jump into the codebase.

[2020-03-14 01:15] cpsandbox commented on #945
Is it possible to get access to the data required to work on this?

[2020-03-14 16:25] ntaft commented on #916
@jameshadfield New to the repo, and i'd be happy to take this on - just thought I would confirm the approach. I mocked this up so far on the zika dataset:

<img width="1055" alt="show all labels" src="https://user-images.githubusercontent.com/20643993/76685911-b36ad900-65ed-11ea-987a-085b063dfe8b.png">

Questions:
* Toggle placement / labeling?
* Would we show/hide the toggle on certain conditions

[2020-03-14 17:53] huddlej commented on #941
Closed by #942

[2020-03-14 17:53] #941 closed

[2020-03-14 22:22] jameshadfield commented on #945
PSA: This issue now has a PR thanks to @mapmeld. For some reason I can't assign him!

The 3 "Steps to reproduce" will give you access to the data. Please let me know if something didn't work!

[2020-03-14 22:46] jameshadfield commented on #916
Thanks @ntaft ⭐️ Your mock looks along the right directions 👍

* Placement: It should be directly below the toggle for "Show confidence intervals"
* Wording: It should read "Display all tip labels"
* Its shouldn't be hidden when (e.g) we're showing all tip labels (using our current logic for toggling them on/off, which #915 aims to improve). Rather it should update the toggle state in the sidebar.

[2020-03-14 23:17] #945 closed

[2020-03-14 23:34] jameshadfield commented on #934
Will be closed by #937

[2020-03-15 00:07] cpsandbox commented on #896
Contributed pr #947 for this

[2020-03-15 00:21] #934 closed

[2020-03-15 00:27] jameshadfield commented on #933
Closed by #937

[2020-03-15 00:27] #933 closed

[2020-03-15 00:42] jameshadfield opened #951 "Allow multiple affiliations for authors & translators"
### Background

Currently the YAML frontmatter at the start of each narrative markdown file is parsed [by this code](https://github.com/nextstrain/auspice/blob/master/cli/server/parseNarrative.js#L23) into HTML to be rendered by the client as the fist page of the narrative. E.g. [this YAML](https://github.com/nextstrain/narratives/blob/master/ncov_sit-rep_2020-03-05.md) tuns into [this narrative p

[2020-03-16 02:44] mapmeld commented on #944
I'm open to other ideas on which library / how to implement

What would be helpful from NextStrain internal team would be a) **define an initial scope** for this issue, such as "the narrative UI should have translation options" which then the NextStrain deployment can hook into; or "the /ncov landing page (being super-popular) should be all translatable".

Then b) start collecting volunteer transl

[2020-03-16 02:47] mapmeld commented on #944
I'm open to other ideas on which library / how to implement

What would be helpful from NextStrain internal team would be a) **define an initial scope** for this issue, such as "the narrative UI should have translation options" which then the NextStrain deployment can hook into; or "the /ncov landing page (being super-popular) should be all translatable".

Then b) start collecting volunteer transl

[2020-03-16 05:04] ncallaway commented on #951
@jameshadfield I'd be happy to take a look at this. I'm pretty busy Monday, but should be able to take a look at this on Tuesday.

[2020-03-16 17:28] crwilcox opened #952 "Add support to app for i18n/l10n matter."
In talking with @colinmegill it seems localization and internationalization for this app would be desired. I am starting on a branch to add this support so translators can add translations for languages.

[2020-03-16 17:32] mapmeld commented on #952
Check out some prior discussion on GitHub issue #944, we were leaning towards using i18next

[2020-03-16 17:36] crwilcox commented on #952
Perfect! That is what my prototype uses :)

[2020-03-16 17:37] crwilcox commented on #944
I have started work on https://github.com/nextstrain/auspice/compare/master...crwilcox:loc as a prototype. I am still to do some work to arrange where translations live, but this is functional now.

[2020-03-16 17:37] #952 closed

[2020-03-16 20:57] jameshadfield commented on #952
Hi @crwilcox -- this sounds great, thankyou!. I've detailed the background & where we want to go in reasonable depth at https://github.com/nextstrain/nextstrain.org/issues/130 (which talks about auspice as well). It's important that our solution fits well between the two repos as together they make up what's seen at nextstrain.org

[2020-03-16 23:39] cassiawag opened #954 "Make narratives work with R-->L languages"
To broaden access to reports on hCov-19, we are translating narratives into Farsi and Arabic, both languages read from R-->L. Currently, narratives do not handle this well, see for example: https://nextstrain.org/narratives/ncov/sit-rep/fa/2020-03-13.

I'm imagining a right-to-left flag that right aligns all text, headers, bullet points, and punctuation. For example, a period would be on the left-

[2020-03-17 00:07] tsibley commented on #954
The predominant direction of the text likely needs to be set with a [dir](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/dir) attribute on the elements containing narrative markdown content. I believe `dir="auto"` should generally Just Work, and it does if I quickly add it to a narrative slide in the inspector, but `dir="rtl"` can be explicitly specified if necessary.

As a qu

[2020-03-17 00:30] tsibley commented on #954
An example of me quickly adding `dir=auto` to the sidebar and main content for the narrative linked above:

![image](https://user-images.githubusercontent.com/79913/76810594-dd69fa00-67ab-11ea-9301-8d312c216ce8.png)

[2020-03-17 01:36] mhrimaz commented on #954
For first version I used `<p dir="rtl"> </p>`  inside the markdowns. However it only works for regular paragraphs.
The first image is the exact output that we are looking for. Though, I don't know where should I apply your solution.

[2020-03-17 01:44] mg878 commented on #954
@cassiawag looks like this link is no longer working for editing the 13-03 report:
https://github.com/nextstrain/ncov/blob/sit-rep_fa/narratives/ncov_sit-rep_fa_2020-03-13.md
is there somewhere we can apply the solutions and preview them on the website? thanks
I @mhrimaz  here for him to follow up on this.

[2020-03-17 02:00] cassiawag commented on #954
@mg878, one option is to re-create a sit-rep_fa branch, which you can do locally and then push up to master for preview.

A better option is to install Auspice locally, and then you'll be able to preview and trouble shoot narratives locally in addition to modifying the Auspice build (which I think is what @trs is referring to by adding it as an allowed attribute). Please see the [Auspice docs](htt

[2020-03-17 02:50] jameshadfield opened #955 "Request for performance audit"
This issue describes a general request for a performance audit of auspice, due to the (wonderful!) contributions being offered by the open source community 🎉 (I'm happy for this issue to be broken into separate issues if needed.)

### Background

I've checked on performance somewhat regularly over the past few years. The main bottlenecks are exposed during animation which requires multiple tree tr

[2020-03-17 03:10] jameshadfield opened #956 "Allow scrolling within a narrative"
When viewing narratives in auspice in non-mobile view, the text content of the "narrative sidebar" cannot overflow the available space (any overflow is hidden). This is best explained by viewing a narrative locally at a small screen resolution -- the content in the "narrative sidebar" is too big for the available space but isn't allowed to scroll and is therefore un-viewable.

![narrative_overflow

[2020-03-17 04:05] jameshadfield opened #957 "RFC: Live editing of narratives"
This issue is a request for comments relating to functionality that we would like in auspice (or perhaps it's better as part of nextstrain.org?). For a background to narratives please see https://nextstrain.github.io/auspice/narratives/how-to-write.

### The current situation
Currently to create a narrative you must take one of two paths:
1.  install auspice locally, download the dataset you wish

[2020-03-17 20:08] jameshadfield commented on #956
This issue now has a PR (#959)

[2020-03-17 22:35] enjalot commented on #957
I've had good experience using [CodeMirror](https://codemirror.net/) in other projects as a markdown IDE.
It sounds like the pieces are all there, but as you note there may be some considerations around live-updating the auspice view. I'll see if I can dig into the code and understand the flow.

Some other things to consider:
* maintaining temporary state while editing, so that browser crashes/acc

[2020-03-17 22:59] cassiawag commented on #957
In addition to the considerations you mentioned, let me add this:
- access for multiple people to live editing the same markdown file at the same time. With translations, people have accidentally overwritten each other or had massive merge conflicts because they were both working on the same section at the same time.

Will keeping thinking on this and re-comment here if more comes up.

[2020-03-18 05:55] CameronDevine commented on #951
@jameshadfield

What do you think of the format [JOSS](https://joss.theoj.org/) uses for it's authors and affiliations?

Below is an excerpt from the frontmatter of their example paper, documented [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography):

[code]

[2020-03-18 17:20] nicfel opened #961 "Download data: tree is broken"
The tree's downloaded using the download data button are broken (i.e. don't open in either figtree or icytree). This applies to both divergence and timetree

[2020-03-18 18:15] tsibley commented on #951
There's also the [pandoc-scholar format](https://pandoc-scholar.github.io/#flexible-metadata-authoring) as prior art.

[2020-03-18 18:17] CameronDevine commented on #961
@nicfel what format are you trying to download?

[2020-03-18 18:25] nicfel commented on #961
newick

[2020-03-18 18:27] tsibley commented on #954
Auspice should now do the right thing for narratives, but we need to get it released and then deployed to nextstrain.org before it'll do the right thing there.

[2020-03-18 18:35] tsibley commented on #956
@jameshadfield

Have you thought about having a continuous scroll instead of slide-based paging?

[2020-03-18 18:46] CameronDevine commented on #951
Below is an example of the pandoc-scholar format,

[code]

[2020-03-18 18:52] CameronDevine commented on #951
I think the JOSS format would be a little bit easier to parse, however neither one would be too difficult. With the number of authors on the narratives keeping track of the affiliations by index could prove difficult and error prone.

Also, does this need to be backwards compatible?

[2020-03-18 19:53] cpsandbox commented on #896
updated pr #947

[2020-03-18 19:53] kenthuth commented on #817
Hi everyone! I'm working with enjalot on the solution outlined above. I wanted to share a few quick wireframe mockup concepts for a collapsible timeline that includes a legend and can provide additional context for the map. This timeline uses annotations to highlight starting dates for each clade.
![covid-nextstrain-timeline-01](https://user-images.githubusercontent.com/1275956/77001434-56925a00-6

[2020-03-18 22:21] jameshadfield commented on #951
Yes, any changes / additions to the narratives must be backwards compatible.

[2020-03-18 22:28] CameronDevine commented on #951
@jameshadfield Do you have an opinion on what format to use for specifying names and affiliations?

[2020-03-19 22:40] mg878 commented on #954
Just checking the preview for this:
https://nextstrain.org/community/narratives/nextstrain/ncov@background_fa/trees-background/fa/?n=1

and the problem is still not resolved...
@tsibley when you said you have to get it released and deployed to nextstrain.org, when is that going to happen? thanks!

[2020-03-19 22:42] jameshadfield commented on #954
Today

[2020-03-19 23:15] jameshadfield commented on #917
Update: Auspice now has jest / puppeteer support thanks to @tihuan's #943 🎉

@tihuan do you recommend closing this issue and creating new issues for each of https://github.com/nextstrain/auspice/issues/917#issuecomment-596348566 or is there more general e2e work to be done first?

[2020-03-20 00:23] tihuan commented on #917
Yay thanks everyone for the discussion and reviews! 😍🙏🎉

I think it makes sense to break down https://github.com/nextstrain/auspice/issues/917#issuecomment-596348566 into individual issues, so people can tackle them in parallel

In general, I would recommend people use https://github.com/smooth-code/jest-puppeteer/blob/master/packages/expect-puppeteer/README.md#api where possible, instead of going

[2020-03-20 00:58] colinmegill commented on #917
Agree with all the above, thanks so much @tihuan! And thanks for referencing those `jest-puppeteer` docs!

[2020-03-20 01:43] jameshadfield commented on #917
👍 @colinmegill / @tihuan if you have time, could you turn one of those example tests into an issue as you're better placed to know how much detail is required (and please reference those recommendations in the docs so that the test implementations are consistent).

[2020-03-20 02:36] tihuan commented on #917
Thanks both! Yeah I'll pick a test you described above and turn it into an issue and see how people like it! ✍️

[2020-03-20 05:01] jameshadfield commented on #954
Released & nextstrain.org updated 👍

[2020-03-20 05:01] #954 closed

[2020-03-21 00:26] lukas-eu commented on #936
I would like to take over this issue but with a slightly modified goal:
Enable graph zooming and navigation via scrolling and "grabbing" the graph (analogous to the map view)

In the context of [this COVID-19 themed hackathon](https://wirvsvirushackathon.org/) we formed a team to support open-source visualization tools for researchers.
Specifically, one of our team members who is connected to the

[2020-03-21 12:41] lukas-eu commented on #936
Issued PR for the original scope of the issue: https://github.com/nextstrain/auspice/pull/965

Arbitrary zooming seems non-trivial due to implementation specifics of the tree SVG. I will take another look and potentially create a follow-up issue.

[2020-03-21 13:26] n1kio commented on #961
@nicfel I can't reproduce this. I could open both newick trees with figtree v1.4.4 on macOS.

What version of figtree where you using?

[2020-03-21 13:37] n1kio commented on #907
@jameshadfield Can be closed?

[2020-03-21 13:52] joachimschmidt557 commented on #887
I would be happy to work on styling tables.

[2020-03-21 14:16] Fenrikur commented on #961
Failed to reproduce the issue as well with current master (33ef6bccfc3ff92803a12f38848cfd7a04f1153d) and FigTree v1.4.4 on Windows (Java version 1.8.0_241) using datasets for ncov and zika for both tree and timetree exports in newick format.

[2020-03-21 18:31] joachimschmidt557 commented on #885
This issue has been raised before with DarkReader. See https://github.com/darkreader/darkreader/issues/1963

The solution there was to create some exceptions for the site in question, ngrok.com.

This could also be achieved on nextstrain.org with:

[code]

[2020-03-21 20:36] benlesh opened #968 "Improving Visualization Performance"
I just spoke with @colinmegill about what could be done to improve the performance of the visualizations.

## Small wins:

### Don't render any visualization that is not on the screen

There are a variety of ways to do this, `IntersectionObserver` is a solid tool for that, and it should be an easy win. It exists in every browser but IE. (I **highly** recommend ditching support for IE.. if we're ta

[2020-03-21 21:17] benlesh commented on #968
Looking more deeply into this, given that the lines for the tree also have a hover callback, we might not be able to do this in stages. It might be more beneficial, and faster, to develop a second component that we can swap in place. (Ideally something that could even be separately open sourced at some point).

[2020-03-22 03:14] tseemann opened #971 "Broken links to JSON schemas from docs"
https://nextstrain.github.io/auspice/introduction/how-to-run

The links on that page to schemas are 404 ERROR

[2020-03-22 07:59] enjalot commented on #817
I've put in a bit of work prototyping Kent's ideas, they aren't fully realized yet but some progress. You can see what the streamgraphs look like with real data, and the challenge we will face doing tooltips for divisions.

<img width="1038" alt="divisionstreams-tooltip" src="https://user-images.githubusercontent.com/96189/77244981-46040d00-6bd8-11ea-857e-3bdbd6ef7388.png">
<img width="895" alt="i

[2020-03-22 12:08] joachimschmidt557 commented on #971
This would be solved by https://github.com/nextstrain/auspice/pull/967

[2020-03-22 16:54] lukas-eu commented on #957
This tool might be quite helpful here to create a simple, less integrated solution: https://hackmd.io/#
It is an online md editor that comes with autosave, collaboration, and github integration.

[2020-03-22 22:20] jameshadfield opened #973 "Legend ordering is not correct for traits without a supplied colour scale"
For traits ("colorings") in a dataset which do not have a color-scale provided by the dataset JSON, auspice will generate a colour scale for them. One such trait in the current ncov data is "Exposure History".

The ordering of the values are reversed in Firefox compared with Chrome (not tested on other browsers):

Firefox (MacOS):
![image](https://user-images.githubusercontent.com/8350992/77261977

[2020-03-22 22:41] jameshadfield commented on #971
Closed by #967 -- thanks both!

[2020-03-22 22:42] jameshadfield commented on #971
(Will close once I rebuild & push the docs)

[2020-03-22 22:52] #907 closed

[2020-03-22 23:18] jameshadfield commented on #936
Worth saying that we used to have this and removed it as it was often confusing and hard to use. In general, this functionality is desirable for auspice and PRs are welcome, but there are lots and lots of edge cases that need to be taken into account. If you do wish to pursue this please make an issue detailing your proposal so we can comment on it / highlight edge cases to consider.

[2020-03-22 23:44] enjalot opened #974 "Color scale design considerations"
Auspice uses a "rainbow" color scheme for a variety of use cases
<img width="1444" alt="Screen Shot 2020-03-22 at 3 40 32 PM" src="https://user-images.githubusercontent.com/96189/77265954-5e693b80-6c5b-11ea-9f02-2a7d4c41ba3e.png">

It's possible that different color schemes could be designed to differentiate different concerns:

1. A primary concern is colorblind friendly colors, as described in [

[2020-03-23 00:04] jameshadfield commented on #968
Thanks @benlesh -- really exciting.

Re: canvas. We've liked the functionality d3 gives us here (events, transitions etc), but I agree that it's time to seriously consider moving away from SVG. I haven't done stuff in canvas since the early days where we used the low-level API & computer intersects ourselves. Could you talk more / point me to a simple example of what things would look like to e.g.

[2020-03-23 01:38] jameshadfield commented on #887
Closed by #966 -- thanks @joachimschmidt557 🎉

[2020-03-23 01:38] #887 closed

[2020-03-23 01:55] jameshadfield opened #975 "Recent slowdown of `auspice develop`"
The command `auspice develop` (or `npm run dev`), which uses hot reloading etc for the client code, now takes around 40s on my laptop compared with 10s. This change has happened within the last week. Low priority, but making a note here as it should be easy to bisect the last week's worth of commits.

[2020-03-23 04:45] #944 closed

[2020-03-23 16:02] benlesh commented on #968
It also seems that the entropy calculation is expensive, and may be being done too often.

[2020-03-23 19:23] lukas-eu commented on #936
I was planning to play around with [cytoscape](https://js.cytoscape.org/) a little to see if that could be a good solution for the graph visualization, but then I saw that this started https://github.com/nextstrain/auspice/issues/968
Starting a competing implementation in parallel might not be the best thing to do.

If you think it makes sense though I'll look into it.

[2020-03-23 20:02] crwilcox opened #976 "[Docs] Author Guide for Contributing Additional Language Translations"
A followup task to https://github.com/nextstrain/auspice/pull/953 is to create a guide to scale out efforts to localize Auspice to more languages.

[2020-03-23 23:30] dlowder-salesforce commented on #973
I can have a crack at this

[2020-03-23 23:36] jameshadfield commented on #973
Brilliant! Thanks Douglas

[2020-03-24 00:02] dlowder-salesforce commented on #973
Interesting, the ordering function never gets hit in the debugger....

[2020-03-24 00:15] dlowder-salesforce commented on #973
@jameshadfield which dataset would be good for reproducing this issue?

[2020-03-24 00:20] jameshadfield commented on #973
ncov dataset coloured by "exposure history" should be enough to reproduce and fix I think (that's the Dataset behind the screenshots above). You can make the ncov JSON available locally via `curl http://data.nextstrain.org/ncov.json --compressed -o data/ncov.json`

[2020-03-24 00:37] dlowder-salesforce commented on #973
Hopefully this is correct then?

![Screen Shot 2020-03-23 at 5 36 15 PM](https://user-images.githubusercontent.com/6577821/77376196-f4b96200-6d2c-11ea-9c33-0ab0e68431fa.png)

[2020-03-24 00:46] jameshadfield commented on #973
That looks much better! For keys that have the same tip counts (e.g. USA, Hong Kong, South Korea + others all have n=1) could we sort alphabetically so that it's stable between datasets please.

[2020-03-24 03:32] jameshadfield commented on #976
Closed by #977 // 9f002c96a676e4603b7b9c06ef7df8a26be6d04c

[2020-03-24 03:32] #976 closed

[2020-03-24 03:33] jameshadfield commented on #975
Back to normal now -- this must have been something transient (or I may have been running analyses at the time and not realized)

[2020-03-24 03:33] #975 closed

[2020-03-24 03:44] #973 closed

[2020-03-24 05:29] jameshadfield commented on #896
closed by the merge of #947

[2020-03-24 05:29] #896 closed

[2020-03-24 07:04] jameshadfield opened #980 "Remove hardcoded footer descriptions"
I believe most of the datasets now supply the footer description via the `meta.description` key, and thus we can clear out the hardcoded ones in `footer-descriptions.js`.

Nextstrain.org datasets to check:

- [ ] ebola
- [ ] zika
- [ ] mumps
- [ ] lassa
- [ ] WNV/NA
- [ ] h7n9 (takes precidence over `flu`)
- [ ] flu
- [ ] inrb-drc

[2020-03-24 17:14] crwilcox opened #981 "[i18n] Translate Auspice to Japanese"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:15] crwilcox opened #982 "[i18n] Translate Auspice to Mandarin"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:15] crwilcox opened #983 "[i18n] Translate Auspice to Spanish"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:16] crwilcox opened #984 "[i18n] Translate Auspice to German"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:17] crwilcox opened #985 "[i18n] Translate Auspice to Korean"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:17] crwilcox opened #986 "[i18n] Translate Auspice to Russian"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:18] crwilcox opened #987 "[i18n] Translate Auspice to Dutch"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:18] crwilcox opened #988 "[i18n] Translate Auspice to French"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:19] crwilcox opened #989 "[i18n] Translate Auspice to Portuguese"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:19] crwilcox opened #990 "[i18n] Translate Auspice to Italian"
Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 17:20] crwilcox opened #991 "[i18n] Translate Auspice to Arabic"
NOTE: this issue may require more work due to writing direction. Other languages have all been left-to-right

Following the guide at:
https://github.com/nextstrain/auspice/blob/master/DEV_DOCS.md#contributing-to-internationalization-and-localization-i18nl18n

[2020-03-24 18:44] yuryu commented on #981
I'm working on this but I have issues around word orders in Japanese.
For example,

[code]

has the verb "Showing" in the beginning. In Japanese, the verb would be placed at the end. So the natural word order would be something like "{{from}} and {{to}} between sampled {{x}} of {{y}} genomes comprising ... showing." Currently, the template doesn't allow this change.

I'll try to respect the curren

[2020-03-24 19:08] jameshadfield commented on #983
This implementation is about half-way there already and @miparedes & I are going to get it complete & polished 😄

[2020-03-24 19:40] sidneymbell opened #992 "Want to contribute? Welcome! Please start here."
**Please see our [Contributor Guide](https://github.com/nextstrain/.github/blob/master/CONTRIBUTING.md) and [project boards](https://github.com/orgs/nextstrain/projects) to get started!**

[2020-03-24 19:56] yuryu commented on #981
Yes, they are numbers and dates and I can keep them. But there are some texts that are added outside the templates, such as (from https://github.com/nextstrain/auspice/blob/master/src/components/info/info.js#L91)

[code]

In this case, the code assumes that you can add ```filterText``` after the template and there's currently no way to control it.

[2020-03-24 20:56] crwilcox commented on #981
Let me submit a PR to correct that. I think we could calculate those adds and allow one entry to address it.

[2020-03-24 20:57] crwilcox opened #993 "[BUG] Some text can't be translated due to fields out of translations"
Some entries are hard to translate as text is built up with separate contexts.

From #981 :

[2020-03-24 22:50] willingc commented on #971
@jameshadfield Did https://github.com/nextstrain/auspice/commit/d892306bc39af9ab3f5ae14af076efb6421d3d9a close this issue?

cc / @crwilcox Ping me if you need anything doc related.

[2020-03-24 23:02] tolot27 commented on #260
Should this issue also address zooming in and out of the map using (e.g.) the mouse wheel? That would be a really cool feature I miss every day.

[2020-03-24 23:12] tolot27 commented on #260
I see that zooming via mouse wheel is disabled at https://github.com/nextstrain/auspice/blob/89108f725ef0d42fd1676600da8adadd7088ad79/src/components/map/map.js#L472. Why?

[2020-03-24 23:13] tolot27 commented on #260
BTW: Leaflet v1.6 is out and auspice still uses v1.2. I know, do not change a running system. But ...

[2020-03-25 14:45] emmahodcroft commented on #260
Thanks for your comments @tolot27 ! We have disabled scroll to zoom because we found it really interfered with navigating the page - scrolling up and down to get to filters, etc. Too often you got 'caught' in zooming the map instead. Especially if you've just gotten the map exactly how you like it - this is really frustrating!

However, we'd be happy for this to work better with some key combinati

[2020-03-25 16:54] tolot27 commented on #260
I've found the plugin [Leaflet.GestureHandling](https://github.com/elmarquis/Leaflet.GestureHandling) and try it. If it works, I can create a PR.

[2020-03-25 17:25] joachimschmidt557 commented on #984
I'd be happy to do this.

[2020-03-25 21:54] jameshadfield opened #997 "Add mapbox watermark logo"
(Placeholder issue -- I'll add details & labels as soon as I have time)

[2020-03-25 22:45] jameshadfield commented on #260
@tolot27 that would be great (but as Emma said, the implementation has to play nice with page-scrolling!)

[2020-03-25 23:08] jameshadfield opened #998 "Allow panel on/off state to be set via JSON"
The dataset JSON can define certain "defaults" -- [see JSON schema](https://github.com/nextstrain/augur/blob/master/augur/data/schema-export-v2.json#L195) -- which change the default behavior of auspice (e.g. change the default colouring, default geo resolution).

Toggling on/off of panels should be added to this.

Note that this differs from the `meta.panels` key of the JSON which defines what pa

[2020-03-25 23:15] jameshadfield commented on #971
Ahh yes, the docs were rebuilt but the I didn't re-close this issue. Thanks!